Repository mullvad/mullvadvpn-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @faern, @albin-mullvad, @rawa, @raksooo, @pinkisemils

.github/CODEOWNERS:

# Defining who has to review changes to what files.
# Try to keep the entries sorted alphabetically, so they end up in the same order as
# they would if you listed the entire repository as a tree.
#
# This enforcement is to protect certain important files from being changed without the approval
# of team leads. For more fine grained code ownership assignments to teams, see
# `/code-owners.json` and `/.github/workflows/code-owner-approval.yml`.

# Container images used for building the app are owned by respective team leads and tech lead
/building/android-container-image.txt @faern @albin-mullvad @rawa
/building/linux-container-image.txt @faern @raksooo

# Developer signing keys must be approved by team/tech leads
/ci/keys/ @faern @raksooo @pinkisemils @rawa
/mullvad-update/trusted-metadata-signing-pubkeys @faern @raksooo @pinkisemils @rawa

# Desktop build server files owned by desktop leads
/ci/buildserver* @faern @raksooo
/ci/linux-repository-builder/ @faern @raksooo

# Desktop release config specifying code signing key fingerprint
/desktop/scripts/release/release-config.sh

# Cargo deny config must be approved by tech lead or desktop team lead
**/deny.toml @faern @raksooo

# Changes to what CVEs are ignored must be approved by leads
**/osv-scanner.toml @faern @raksooo @pinkisemils @albin-mullvad @rawa
/.github/workflows/osv-scanner*.yml @faern @raksooo @pinkisemils @rawa

# Security related github action workflow changes must be approved by leads
/.github/workflows/verify-locked-down-signatures.yml @faern @raksooo @pinkisemils @rawa
/ci/verify-locked-down-signatures.sh @faern @raksooo @pinkisemils @rawa
/.github/workflows/unicop.yml @faern @raksooo @pinkisemils @rawa

# Our own code ownership mapping and automation must be approved by leads
/.github/workflows/code-owner-approval.yml @faern @raksooo @pinkisemils @rawa
/code-owners.json @faern @raksooo @pinkisemils @rawa

# The CODEOWNERS itself must be protected from unauthorized changes,
# otherwise the protection becomes quite moot.
# Keep this entry last, so it is sure to override any existing previous wildcard match
/.github/CODEOWNERS @faern @raksooo @pinkisemils @rawa

Move all location node modification code to single place
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationFilter.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/SelectLocationView.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListsDataSourceTests.swift
Owners: none

Add unit tests to custom list interactor
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPNTests/MullvadSettings/CustomListsRepositoryStub.swift
  ios/MullvadVPNTests/MullvadVPN/Interactors/CustomListInteractorTests.swift
Owners: none

Fix switching between lists
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

Fix formatting
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/HopSelector.kt
  mullvad-management-interface/src/types/conversions/relay_constraints.rs
Owners: none

Fix scroll to selection
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

Fix kill switch thumb being in the wrong position
  desktop/packages/mullvad-vpn/src/renderer/components/views/vpn-settings/components/kill-switch-setting/KillSwitchSetting.tsx
Owners: none

Update Linux repo upload script to use new user and port
  ci/linux-repository-builder/build-linux-repositories.sh
Owners: @faern, @raksooo

Fix animations and lint warnings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/HopSelector.kt
Owners: none

Fix kill switch thumb being in the wrong position
  desktop/packages/mullvad-vpn/src/renderer/components/views/vpn-settings/components/kill-switch-setting/KillSwitchSetting.tsx
Owners: none

Change to_string() into clone() on string
  talpid-core/src/dns/macos.rs
Owners: none

Collapse nested if statements where possible
  mullvad-daemon/src/system_service.rs
  mullvad-setup/src/service.rs
  talpid-core/src/offline/windows.rs
  talpid-core/src/split_tunnel/macos/mod.rs
  talpid-core/src/split_tunnel/windows/driver.rs
  talpid-core/src/split_tunnel/windows/mod.rs
  talpid-core/src/split_tunnel/windows/service.rs
  talpid-core/src/tunnel_state_machine/connected_state.rs
  talpid-core/src/tunnel_state_machine/connecting_state.rs
  talpid-core/src/window.rs
Owners: none

Add Kermit logging and improve animation transitions in SelectLocationScreen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/lib/ui/component/build.gradle.kts
Owners: none

Fix formatting
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

Bump rust-toolchain.toml to 1.91.0
  Cargo.toml
  rust-toolchain.toml
  test/Cargo.toml
Owners: none

Add container signature for mullvadvpn-app-build:dbc170b2c5
  building/sigstore/mullvad/mullvadvpn-app-build@sha256=65ab7e1a66c7fd0e60ab9d75f8dace693022b8895e8b69efac1388737f4fc76a/signature-1
  building/sigstore/mullvad/mullvadvpn-app-build@sha256=65ab7e1a66c7fd0e60ab9d75f8dace693022b8895e8b69efac1388737f4fc76a/signature-2
Owners: none

Bump Android dockerfile base image to dbc170b2c5
  android/docker/Dockerfile
Owners: none

Add container signature for mullvadvpn-app-build-android:6f6ff93a54
  building/sigstore/mullvad/mullvadvpn-app-build-android@sha256=c9a55d73f5685a67898aee4da3f94b5b68911604272038d4cc3006c803e598f1/signature-1
  building/sigstore/mullvad/mullvadvpn-app-build-android@sha256=c9a55d73f5685a67898aee4da3f94b5b68911604272038d4cc3006c803e598f1/signature-2
Owners: none

Bump container images for Linux + Android
  building/android-container-image.txt
  building/linux-container-image.txt
Owners: @faern, @albin-mullvad, @rawa, @raksooo

Upgrade nightly Rust used for cargo udeps
  .github/workflows/rust-unused-dependencies.yml
Owners: none

Fixes
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/RelayItemSelection.kt
Owners: none

Minor clean up
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
Owners: none

SingleHop -> Singlehop
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/HopSelector.kt
Owners: none

fixy fixes
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
Owners: none

Split mullvad_update::format into multiple modules
  installer-downloader/src/controller.rs
  installer-downloader/tests/mock.rs
  mullvad-api/src/version.rs
  mullvad-daemon/src/lib.rs
  mullvad-daemon/src/version/check.rs
  mullvad-daemon/src/version/router.rs
  mullvad-update/mullvad-release/src/artifacts.rs
  mullvad-update/mullvad-release/src/main.rs
  mullvad-update/mullvad-release/src/platform.rs
  mullvad-update/src/bin/mullvad-version-metadata.rs
  mullvad-update/src/client/api.rs
  mullvad-update/src/client/app.rs
  mullvad-update/src/client/local.rs
  mullvad-update/src/format/architecture.rs
  mullvad-update/src/format/deserializer.rs
  mullvad-update/src/format/installer.rs
  mullvad-update/src/format/mod.rs
  mullvad-update/src/format/release.rs
  mullvad-update/src/format/response.rs
  mullvad-update/src/format/serializer.rs
  mullvad-update/src/version/mod.rs
  mullvad-update/src/version/rollout.rs
Owners: none

Sort dimens
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Owners: none

Remove OpenVPN from documentation
  BuildInstructions.md
  README.md
  docs/architecture.md
  docs/relay-selector.md
  docs/security.md
Owners: none

wip
  Cargo.lock
  Cargo.toml
  nullvad/Cargo.lock
  nullvad/Cargo.toml
  nullvad/src/bin/nullvad_exec.rs
  nullvad/src/lib.rs
  nullvad/src/main.rs
  nullvad/src/nft.rs
  nullvad/src/nlmsg.rs
Owners: none

Prepare release
  ios/Assets/changes.txt
  ios/CHANGELOG.md
  ios/Configurations/Version.xcconfig
Owners: none

Update relay list
  ios/MullvadREST/Assets/relays.json
Owners: none

wip: plug netns into daemon
  Cargo.lock
  mullvad-daemon/Cargo.toml
  mullvad-daemon/src/lib.rs
  talpid-core/Cargo.toml
  talpid-core/src/firewall/linux.rs
  talpid-core/src/split_tunnel/linux_cgroups_v1.rs
  talpid-core/src/split_tunnel/linux_netns.rs
  talpid-core/src/split_tunnel/mod.rs
Owners: none

Remove OpenVPN from documentation
  BuildInstructions.md
  README.md
  docs/architecture.md
  docs/relay-selector.md
  docs/security.md
Owners: none

Remove OpenVPN from documentation
  BuildInstructions.md
  README.md
  docs/architecture.md
  docs/relay-selector.md
  docs/security.md
Owners: none

Do not use return in not a function
  ios/relays-prebuild.sh
Owners: none

Clean up
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
Owners: none

Fixes
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
Owners: none

Fix selecting entry recent item
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/RelayListContent.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SearchLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/RelayListItem.kt
Owners: none

More clean up
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SelectedLocationRelayItemUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/RelayItemListCreator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModel.kt
Owners: none

Clean up
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
Owners: none

Run iOS unit tests when upgrading the CI
  .github/workflows/ios.yml
Owners: none

Fix small select location view ui bugs and cleanup
  ios/Assets/Localizable.xcstrings
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ActiveFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ExitLocationView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationContextMenu.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationListItem.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationsListView.swift
  ios/MullvadVPN/Views/MullvadAlert.swift
  ios/MullvadVPN/Views/MullvadListSectionHeader.swift
  ios/MullvadVPN/Views/SegmentedControl.swift
Owners: none
