Repository mullvad/mullvadvpn-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @faern, @albin-mullvad, @rawa, @raksooo, @pinkisemils

.github/CODEOWNERS:

# Defining who has to review changes to what files.
# Try to keep the entries sorted alphabetically, so they end up in the same order as
# they would if you listed the entire repository as a tree.
#
# This enforcement is to protect certain important files from being changed without the approval
# of team leads. For more fine grained code ownership assignments to teams, see
# `/code-owners.json` and `/.github/workflows/code-owner-approval.yml`.

# Container images used for building the app are owned by respective team leads and tech lead
/building/android-container-image.txt @faern @albin-mullvad @rawa
/building/linux-container-image.txt @faern @raksooo

# Developer signing keys must be approved by team/tech leads
/ci/keys/ @faern @raksooo @pinkisemils @rawa
/mullvad-update/trusted-metadata-signing-pubkeys @faern @raksooo @pinkisemils @rawa

# Desktop build server files owned by desktop leads
/ci/buildserver* @faern @raksooo
/ci/linux-repository-builder/ @faern @raksooo

# Desktop release config specifying code signing key fingerprint
/desktop/scripts/release/release-config.sh

# Cargo deny config must be approved by tech lead or desktop team lead
**/deny.toml @faern @raksooo

# Changes to what CVEs are ignored must be approved by leads
**/osv-scanner.toml @faern @raksooo @pinkisemils @albin-mullvad @rawa
/.github/workflows/osv-scanner*.yml @faern @raksooo @pinkisemils @rawa

# Security related github action workflow changes must be approved by leads
/.github/workflows/verify-locked-down-signatures.yml @faern @raksooo @pinkisemils @rawa
/ci/verify-locked-down-signatures.sh @faern @raksooo @pinkisemils @rawa
/.github/workflows/unicop.yml @faern @raksooo @pinkisemils @rawa

# Our own code ownership mapping and automation must be approved by leads
/.github/workflows/code-owner-approval.yml @faern @raksooo @pinkisemils @rawa
/code-owners.json @faern @raksooo @pinkisemils @rawa

# The CODEOWNERS itself must be protected from unauthorized changes,
# otherwise the protection becomes quite moot.
# Keep this entry last, so it is sure to override any existing previous wildcard match
/.github/CODEOWNERS @faern @raksooo @pinkisemils @rawa

Extract animate map switch component
  desktop/packages/mullvad-vpn/src/renderer/components/views/user-interface-settings/components/animate-map-setting/AnimateMapSetting.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/views/user-interface-settings/components/animate-map-setting/AnimateMapSwitch.tsx
Owners: none

Add use animate map hook
  desktop/packages/mullvad-vpn/src/renderer/features/client/hooks/index.ts
  desktop/packages/mullvad-vpn/src/renderer/features/client/hooks/use-animate-map.ts
Owners: none

Import iOS translations
  README.md
  ios/Assets/Localizable.xcstrings
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/AttributedString+Helpers.swift
  ios/MullvadVPN/Supporting Files/InfoPlist.xcstrings
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewModel.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementView.swift
  ios/MullvadVPN/View controllers/RelayFilter/FilterDescriptor.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceView.swift
  ios/MullvadVPN/Views/MullvadPrimaryTextField.swift
  ios/MullvadVPNTests/MullvadLogging/LoggerBuilderTests.swift
  ios/translation/README.md
  ios/translation/locales/da.xliff
  ios/translation/locales/de.xliff
  ios/translation/locales/en.xliff
  ios/translation/locales/es.xliff
  ios/translation/locales/fi.xliff
  ios/translation/locales/fr.xliff
  ios/translation/locales/it.xliff
  ios/translation/locales/ja.xliff
  ios/translation/locales/ko.xliff
  ios/translation/locales/my.xliff
  ios/translation/locales/nb.xliff
  ios/translation/locales/nl.xliff
  ios/translation/locales/pl.xliff
  ios/translation/locales/pt.xliff
  ios/translation/locales/ru.xliff
  ios/translation/locales/sv.xliff
  ios/translation/locales/th.xliff
  ios/translation/locales/tr.xliff
  ios/translation/locales/zh-CN.xliff
  ios/translation/locales/zh-TW.xliff
Owners: none

Test that running PQ migation logic anew works
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__migration_identity-2.snap
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__migration_identity.snap
  mullvad-daemon/src/migrations/v13.rs
Owners: none

Add settings migration for PQ Auto to On in version 13->14 migration
  mullvad-daemon/src/migrations/mod.rs
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__v13_to_v14_migration.snap
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__v13_to_v14_migration_pq_auto_to_on.snap
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__v13_to_v14_migration_pq_default_to_on.snap
  mullvad-daemon/src/migrations/v13.rs
  mullvad-types/src/settings/mod.rs
Owners: none

Test that running PQ migation logic anew works
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__v13_to_v14_migration_pq_off_to_off.snap
  mullvad-daemon/src/migrations/snapshots/mullvad_daemon__migrations__v13__test__v13_to_v14_migration_pq_on_to_on.snap
  mullvad-daemon/src/migrations/v13.rs
Owners: none

Enable port 443 for use with udp-over-tcp
  docs/relay-selector.md
  ios/CHANGELOG.md
  ios/MullvadREST/Relay/Obfuscation/UdpOverTcpObfuscator.swift
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/UDPOverTCPObfuscationSettingsView.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayObfuscatorTests.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/UDPOverTCPObfuscationSettingsPage.swift
Owners: none

Create new ListItem component/VPN settings design
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/ui/component/build.gradle.kts
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/DividerButton.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/Switch.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/CustomPortListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/DnsListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/ExpandableListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/InfoListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/ListItemComponentTokens.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/MtuListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/NavigationListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/ObfuscationModeListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/SelectableListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/listitem/SwitchListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/preview/PreviewSpacedColumn.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/preview/SelectObfuscationListItemPreviewParameterProvider.kt
  android/lib/ui/designsystem/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/designsystem/ListItem.kt
  android/lib/ui/util/build.gradle.kts
  android/lib/ui/util/src/main/AndroidManifest.xml
  android/lib/ui/util/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/util/Modifier.kt
  android/settings.gradle.kts
  desktop/packages/mullvad-vpn/locales/messages.pot
Owners: none

Update default rollout of new releases
  mullvad-update/mullvad-release/src/main.rs
Owners: none

Enable the clippy::as_underscore clippy lint
  Cargo.toml
  test/Cargo.toml
Owners: none

Fix Unix time code using dangerous `as _` casts
  talpid-time/src/unix.rs
Owners: none

Fix `as _` casts in macOS code
  talpid-macos/src/process.rs
Owners: none

Fix `as _` casts in iOS code
  mullvad-ios/src/api_client/access_method_settings.rs
Owners: none

Replace `as _` casts with safer alternatives on Windows
  installer-downloader/src/winapi_impl/ui.rs
  mullvad-paths/src/windows.rs
  talpid-windows/src/fs.rs
  windows-installer/src/windows.rs
Owners: none

Refactor TlsStream and add a POC for domain fronting
  Cargo.lock
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make the POC work
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
Owners: none

Make it compile behind a feature flag
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make the TLS_CONFIG private again
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make it compile behind a feature flag
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make the TLS_CONFIG private again
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make it compile behind a feature flag
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Make the TLS_CONFIG private again
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/tls_stream.rs
Owners: none

wip wip wip
  Cargo.lock
  Cargo.toml
  talpid-core/Cargo.toml
  talpid-core/src/firewall/linux.rs
  talpid-routing/src/unix/linux.rs
Owners: none

Sign the modified lock file
  test/Cargo.lock
Owners: none

Ignore GO-2025-4134
  wireguard-go-rs/libwg/osv-scanner.toml
Owners: @faern, @raksooo, @pinkisemils, @albin-mullvad, @rawa

Ignore GO-2025-4135
  wireguard-go-rs/libwg/osv-scanner.toml
Owners: @faern, @raksooo, @pinkisemils, @albin-mullvad, @rawa

Make the POC work, behind a feature flag
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Refactor TlsStream and add a POC for domain fronting
  Cargo.lock
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Sign the modified lock file
  test/Cargo.lock
Owners: none

Make e2e tests using the partner api more stable
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/partner/PartnerApi.kt
Owners: none

Remove --release flag to testframework CI builds
  .github/workflows/testframework.yml
Owners: none

Add cargo-ci.sh script as a helper to invoke Cargo in CI
  ci/cargo-ci.sh
Owners: none

Use cargo-ci.sh in testframework.yml
  .github/workflows/testframework.yml
Owners: none

Use cargo-ci.sh in mullvad-nsis.yml
  .github/workflows/mullvad-nsis.yml
Owners: none

Use cargo-ci.sh in ios-rust-ffi.yml
  .github/workflows/ios-rust-ffi.yml
Owners: none

Use cargo-ci.sh in daemon.yml
  .github/workflows/daemon.yml
  ci/check-rust.sh
  code-owners.json
Owners: @faern, @raksooo, @pinkisemils, @rawa

Refactor TlsStream and add a POC for domain fronting
  Cargo.lock
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Sign the modified lock file
  test/Cargo.lock
Owners: none

Make the POC work, behind a feature flag
  mullvad-api/Cargo.toml
  mullvad-api/src/bin/domain_fronting.rs
  mullvad-api/src/domain_fronting.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/tls_stream.rs
Owners: none

Improve wait times for UI tests
  ios/MullvadVPNTests/MullvadLogging/LoggerBuilderTests.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Pages/AddAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/DeviceManagementPage.swift
  ios/MullvadVPNUITests/Pages/EditAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/HeaderBar.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/XCUIElement+Extensions.swift
Owners: none
