Repository mullvad/mullvadvpn-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @faern, @albin-mullvad, @rawa, @raksooo, @pinkisemils

.github/CODEOWNERS:

# Defining who has to review changes to what files.
# Try to keep the entries sorted alphabetically, so they end up in the same order as
# they would if you listed the entire repository as a tree.
#
# This enforcement is to protect certain important files from being changed without the approval
# of team leads. For more fine grained code ownership assignments to teams, see
# `/code-owners.json` and `/.github/workflows/code-owner-approval.yml`.

# Container images used for building the app are owned by respective team leads and tech lead
/building/android-container-image.txt @faern @albin-mullvad @rawa
/building/linux-container-image.txt @faern @raksooo

# Developer signing keys must be approved by team/tech leads
/ci/keys/ @faern @raksooo @pinkisemils @rawa
/mullvad-update/trusted-metadata-signing-pubkeys @faern @raksooo @pinkisemils @rawa

# Desktop build server files owned by desktop leads
/ci/buildserver* @faern @raksooo
/ci/linux-repository-builder/ @faern @raksooo

# Desktop release config specifying code signing key fingerprint
/desktop/scripts/release/release-config.sh

# Cargo deny config must be approved by tech lead or desktop team lead
**/deny.toml @faern @raksooo

# Changes to what CVEs are ignored must be approved by leads
**/osv-scanner.toml @faern @raksooo @pinkisemils @albin-mullvad @rawa
/.github/workflows/osv-scanner*.yml @faern @raksooo @pinkisemils @rawa

# Security related github action workflow changes must be approved by leads
/.github/workflows/verify-locked-down-signatures.yml @faern @raksooo @pinkisemils @rawa
/ci/verify-locked-down-signatures.sh @faern @raksooo @pinkisemils @rawa
/.github/workflows/unicop.yml @faern @raksooo @pinkisemils @rawa

# Our own code ownership mapping and automation must be approved by leads
/.github/workflows/code-owner-approval.yml @faern @raksooo @pinkisemils @rawa
/code-owners.json @faern @raksooo @pinkisemils @rawa

# The CODEOWNERS itself must be protected from unauthorized changes,
# otherwise the protection becomes quite moot.
# Keep this entry last, so it is sure to override any existing previous wildcard match
/.github/CODEOWNERS @faern @raksooo @pinkisemils @rawa

Update desktop app version to 2025.13
  dist-assets/desktop-product-version.txt
Owners: none

Update desktop app changelog with 2025.13 section
  CHANGELOG.md
Owners: none

Add 2025.14-beta1 header to changelog
  CHANGELOG.md
Owners: none

Update changes
  desktop/packages/mullvad-vpn/changes.txt
Owners: none

Update desktop product version to `2025.14-beta1`
  dist-assets/desktop-product-version.txt
Owners: none

Fix kill switch thumb being in the wrong position
  desktop/packages/mullvad-vpn/src/renderer/components/views/vpn-settings/components/kill-switch-setting/KillSwitchSetting.tsx
Owners: none

Rework Hop type
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/data/DummyRelayListItem.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/RelayListContent.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/HopSelectionUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SelectHopUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SelectSinglehopUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SelectedLocationRelayItemUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/Settings.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/RelayItemListCreator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Constraint.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/RelayItem.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/RelayListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/RelayListItemPreviewData.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/SelectableRelayListItem.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/SelectableRelayListItemPreviewParameterProvider.kt
Owners: none

Fix unavailable message
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Owners: none

Fix small select location view ui bugs and cleanup
  ios/Assets/Localizable.xcstrings
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ActiveFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ExitLocationView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationContextMenu.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationListItem.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationsListView.swift
  ios/MullvadVPN/Views/MullvadAlert.swift
  ios/MullvadVPN/Views/MullvadListSectionHeader.swift
  ios/MullvadVPN/Views/SegmentedControl.swift
Owners: none

Fix lint
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModel.kt
Owners: none

Fix tests
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModelTest.kt
Owners: none

Link against MullvadRustRuntime in MullvadRESTTests
  ios/MullvadRESTTests/MullvadApiTests.swift
  ios/MullvadRustRuntime/MullvadAPIMock.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
Owners: none

Fix small select location view ui bugs and cleanup
  ios/Assets/Localizable.xcstrings
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/DataSource/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ActiveFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/ExitLocationView.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationContextMenu.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationListItem.swift
  ios/MullvadVPN/View controllers/SelectLocation/Views/LocationsListView.swift
  ios/MullvadVPN/Views/MullvadAlert.swift
  ios/MullvadVPN/Views/MullvadListSectionHeader.swift
  ios/MullvadVPN/Views/SegmentedControl.swift
Owners: none

Link against MullvadRustRuntime in MullvadRESTTests
  ios/MullvadRESTTests/MullvadApiTests.swift
  ios/MullvadRustRuntime/MullvadAPIMock.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
Owners: none

Silence CVE-2025-47913 for a year
  wireguard-go-rs/libwg/osv-scanner.toml
Owners: @faern, @raksooo, @pinkisemils, @albin-mullvad, @rawa

fixes
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/data/DummyRelayListItem.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModelTest.kt
Owners: none

Fix fmt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModelTest.kt
Owners: none

Stop bundling OpenVPN artifacts when packaging desktop app
  desktop/packages/mullvad-vpn/tasks/distribution.js
Owners: none

Remove OpenVPN from documentation
  BuildInstructions.md
  README.md
  docs/architecture.md
  docs/relay-selector.md
  docs/security.md
Owners: none

Trigger ios-rust-ffi.yml CI on more Rust changes
  .github/workflows/ios-rust-ffi.yml
Owners: none

Run full iOS CI job when Rust toolchain and FFI code changes
  .github/workflows/ios.yml
Owners: none

Make iOS team code owners of iOS CI workflows
  code-owners.json
Owners: @faern, @raksooo, @pinkisemils, @rawa

Make customlist and long-pressable in recents
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/RelayListContent.kt
Owners: none

Write payment tests for account view
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadREST/Assets/relays.json
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/MullvadVPN/StorePaymentManager/LegacyStoreSubscription.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/StorePaymentManager/StoreSubscription.swift
  ios/MullvadVPN/View controllers/InAppPurchase/InAppPurchaseViewController.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Payment/PaymentTests.swift
Owners: none

Create helper closure for converting bytes to MiB
  talpid-wireguard/src/lib.rs
Owners: none

Remove Optional display for account-token when included
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController+ViewManagement.swift
Owners: none

Only set filterTouchesWhenObscured on API level 30 and lower
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Owners: none

Set accessibilityDataSensitive to true for the whole app
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/SecureScreen.kt
Owners: none

Add iOS translation pipeline
  ios/Assets/RelayLocationList.swift
  ios/translation/scripts/relays-localization.sh
  scripts/ios-localization
Owners: none

Fix edge case for filters and animation between multi & singlehop
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/LocationUtil.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
Owners: none

Faster out animation for Filterchips
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

Remove reference to OpenVPN in doc comment
  mullvad-types/src/version.rs
Owners: none

Fix flow when scrolling
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/FilterRow.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

Fix format
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Owners: none

fixup! Remove reference to OpenVPN in doc comment
  talpid-routing/src/windows/get_best_default_route.rs
Owners: none

Clarify name
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
Owners: none

Remove old paddings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
Owners: none

Simplify namespace destruction
  nullvad/src/lib.rs
  nullvad/src/main.rs
  nullvad/src/nft.rs
  talpid-core/src/split_tunnel/linux_netns.rs
Owners: none

Destroy namespace on daemon exit
  talpid-core/src/split_tunnel/linux_netns.rs
Owners: none

fixup: nix features
  nullvad/Cargo.toml
Owners: none
