Repository mullvad/mullvadvpn-app, pull requests merged in 2021-11, with the labels that each got.

#3084 Automatically disable custom dns when no added servers
  CHANGELOG.md
  android/src/main/kotlin/net/mullvad/mullvadvpn/ui/AdvancedFragment.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/ui/customdns/CustomDnsAdapter.kt
Labels: Android

#3102 Cleanup leftover SDK version checks
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadTileService.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/NotificationChannel.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#3112 Increase settings button hit area
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/HeaderBarButton.swift
  ios/MullvadVPN/HeaderBarView.swift
Labels: iOS

#3113 ProblemReport: update translations
  ios/MullvadVPN/ProblemReportSubmissionOverlayView.swift
  ios/MullvadVPN/en.lproj/ProblemReport.strings
Labels: iOS

#3142 Fix android multi process lifecycle
  CHANGELOG.md
  android/src/main/kotlin/net/mullvad/mullvadvpn/ipc/ServiceConnection.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/model/ServiceResult.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadTileService.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
Labels: bug, Android

#3148 Fix banner sometimes incorrectly showing
  CHANGELOG.md
  android/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
Labels: bug, Android
