Repository mullvad/mullvadvpn-app, pull requests merged in 2022-11, with the labels that each got.

#4110 Ensure android app is reinstalled in gh actions
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/ui/fragments/SplitTunnelingFragmentTest.kt
  ci/run-android-instrumented-tests.sh
Labels: Android

#4106 Improve android image handling in build action
  .github/workflows/android-app.yml
  dist-assets/android-container-image-digest.txt
Labels: Android

#4116 Bump android build actions
  .github/workflows/android-app.yml
Labels: Android

#4119 Trigger android gh build on master updates
  .github/workflows/android-app.yml
Labels: Android

#4124 Detect revoked device and expired account
  ios/CHANGELOG.md
  ios/MullvadTypes/PacketTunnelStatus.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#4142 Add privacy policy link in settings
  CHANGELOG.md
  android/app/src/main/res/layout/settings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/strings_non_translatable.xml
  gui/locales/messages.pot
Labels: Android

#4145 Add initial privacy disclaimer on android
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/PrivacyDisclaimerRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/PrivacyDisclaimerFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/PrivacyDisclaimerViewModel.kt
  android/app/src/main/res/layout/settings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4037 Show changes after upgrade
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ChangelogDataProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/res/layout/main.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/dimensions.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModelTest.kt
Labels: Android

#4154 Port android/2022.3 to master
  CHANGELOG.md
  dist-assets/android-product-version.txt
Labels: Android

#4165 Fix app stuck problem after upgrading target sdk to 33
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/SdkUtils.kt
Labels: bug, Android

#4144 Add version to tunnel settings and device state
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SettingsManager/KeychainSettingsStore.swift
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
  ios/MullvadVPN/SettingsManager/SettingsMigration/Migration.swift
  ios/MullvadVPN/SettingsManager/SettingsMigration/MigrationFromV1ToV2.swift
  ios/MullvadVPN/SettingsManager/SettingsParser.swift
  ios/MullvadVPN/SettingsManager/SettingsStore.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/TunnelManager/LoadTunnelConfigurationOperation.swift
  ios/MullvadVPN/TunnelManager/MigrateSettingsOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS

#4183 Use image tag in android build job
  .github/workflows/android-app.yml
  dist-assets/android-container-image-digest.txt
Labels: Android
