Repository mullvad/mullvadvpn-app, pull requests merged in 2022-07, with the labels that each got.

#3718 Refactor android account cache to repository
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ServiceDependentFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/WelcomeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AccountCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionAccountDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
Labels: Android

#3729 Fix welcome view not showing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AccountRepository.kt
Labels: Android

#3735 Disable badge for tunnel state
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/NotificationChannel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
Labels: Android

#3731 Fix text views sometimes missing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/WelcomeFragment.kt
Labels: bug, Android

#3745 Enter blocking state atomically when service is stopped
  CHANGELOG.md
  mullvad-daemon/src/lib.rs
Labels: Windows

#3749 Fix device list split view scrolling
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
Labels: bug, Android

#3747 Migrate/decouple service dependent fragments
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/PreferencesFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SelectLocationFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ServiceAwareFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ServiceDependentFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/VersionInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/WelcomeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/extension/ContextExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/InAppNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/VersionInfoNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/DeviceRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NavigateCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/SitePaymentButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/UrlButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/CacheExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/DeviceStateExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModel.kt
Labels: Android

#3752 Fix expiry fetch and notification
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
Labels: Android

#3762 Fix in-app notification url crash
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/NotificationWithUrl.kt
Labels: bug, Android

#3770 Fix spacing in advanced settings
  android/app/src/main/res/layout/advanced_header.xml
Labels: bug, Android

#3774 Add toggle to show/hide account number in settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/CustomTransformationMethod.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/CopyableInformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/InformationView.kt
  android/app/src/main/res/drawable/icon_copy.xml
  android/app/src/main/res/drawable/icon_hide.xml
  android/app/src/main/res/drawable/icon_show.xml
  android/app/src/main/res/layout/account.xml
  android/app/src/main/res/layout/information_view.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#3764 Remove redundant expiry fetching
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SettingsFragment.kt
Labels: Android

#3781 Fix login error message
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
Labels: bug, Android

#3779 Fix missing logged in status
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountInput.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountLogin.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: bug, Android

#3797 Improve device list management
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Dialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/DeviceListUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ipc/Event.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/DeviceList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/DaemonDeviceDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragments/DeviceListFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/DeviceRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionDeviceDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/res/values/strings.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
Labels: Android

#3798 Fix flicker on login to expired account
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: bug, Android

#3799 Fix slow login spinner during view transition
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
Labels: bug, Android

#3800 Fix scope usage in tile service
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadTileService.kt
Labels: bug, Android
