Repository mullvad/mullvadvpn-app, pull requests merged in 2022-12, with the labels that each got.

#4162 Add transition on auth failed caused by account expiry
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/talpid/tunnel/ErrorStateCause.kt
Labels: Android

#4184 Add android and linux build container wrapper script
  .github/workflows/android-app.yml
  android/docker/Dockerfile
  building/README.md
  building/android-container-image-tag.txt
  building/android-container-image.txt
  building/build-and-publish.sh
  building/containerized-build.sh
  building/linux-container-image-tag.txt
  building/linux-container-image.txt
Labels: Android

#4191 Update Android container to java 11
  android/docker/Dockerfile
Labels: Android

#4201 Suppress CVE-2021-37533
  android/config/dependency-check-suppression.xml
  android/e2e/e2e-suppression.xml
Labels: Android

#4186 Add container based android build server script
  android/app/build.gradle.kts
  build-apk.sh
  building/containerized-build.sh
  ci/buildserver-build-android.sh
  ci/buildserver-build.sh
Labels: Android

#4197 Bump android project to java 11
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/app/src/androidTest/AndroidManifest.xml
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/dataproxy/MullvadProblemReport.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ipc/HandlerFlow.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/DaemonInstance.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AuthTokenCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ConnectionProxy.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/CustomDns.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/LocationInfoCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/SettingsListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/VoucherRedeemer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ListItemsAdapter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragments/SplitTunnelingFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/dependency-check-suppression.xml
  android/e2e/build.gradle.kts
  android/e2e/e2e-suppression.xml
  android/e2e/src/main/AndroidManifest.xml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
  building/android-container-image.txt
Labels: Android

#4173 Handle application updates with settings migration
  ios/MullvadTypes/PacketTunnelErrorWrapper.swift
  ios/MullvadTypes/PacketTunnelStatus.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Notifications/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#4209 Add changelog compose preview
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ChangelogDialog.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4158 Fix DeadObjectException on connecting to the relay
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ConnectionProxy.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionDeviceDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/MessengerExtensions.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/service/ConnectionProxyTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/service/ServiceConnectionDeviceDataSourceTest.kt
Labels: bug, Android

#4213 Suppress CVE-2022-3510 and CVE-2022-41915
  android/config/dependency-check-suppression.xml
  android/e2e/e2e-suppression.xml
Labels: Android

#4214 Set CVE suppression expiration to 2023-05-01
  android/config/dependency-check-suppression.xml
  android/e2e/e2e-suppression.xml
Labels: Android

#4220 Fix incorrect in-app notification showing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/InAppNotificationController.kt
Labels: bug, Android

#4226 Update compose to 1.3.2
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/dependency-check-suppression.xml
  android/e2e/e2e-suppression.xml
  android/gradle/verification-metadata.xml
  android/scripts/update-lockfile.sh
Labels: Android

#4227 Fix showing wrong inAppNotification
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
Labels: bug, Android

#4240 Suppress CVE-2022-41881
  android/e2e/e2e-suppression.xml
Labels: Android

#4239 Unify Android DNS options with desktop
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/CustomDnsOptions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/DefaultDnsOptions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/DnsOptions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/DnsState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/CustomDns.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/CustomDns.kt
  android/translations-converter/src/gettext/parser.rs
  mullvad-api/src/relay_list.rs
  mullvad-jni/src/classes.rs
  mullvad-types/src/settings/dns.rs
  mullvad-types/src/settings/mod.rs
Labels: Android

#4241 Switch to single size app icon
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPad.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPad@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadNotifications.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadNotifications@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadPro@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadSettings.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadSettings@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadSpotlight.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPadSpotlight@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhone@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhone@3x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneNotification@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneNotification@3x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneSettings@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneSettings@3x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneSpotlight@2x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/AppIconPhoneSpotlight@3x.png
  ios/MullvadVPN/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/convert-assets.rb
Labels: iOS
