Repository mullvad/mullvadvpn-app, pull requests merged in 2022-09, with the labels that each got.

#3880 Fix tunnel info expansion state on resume
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
Labels: bug, Android

#3883 Fix android view transition crash
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ProblemReportFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/WelcomeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragments/DeviceListFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NavigateCell.kt
Labels: bug, Android

#3892 Add gradle wrapper checksum
  android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#3890 Explicitly export activity and services
  android/app/src/main/AndroidManifest.xml
Labels: Android

#3894 Add gradle dependency checksum verification
  android/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#3897 Add gradle lockfiles to signature lockdown check
  .github/workflows/verify-locked-down-signatures.yml
Labels: Android

#3898 Fix disabled login button on login failure
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountInput.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
Labels: bug, Android

#3900 Refresh device in account view
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/res/layout/account.xml
Labels: Android

#3901 Disable settings button while logging in
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/HeaderBar.kt
Labels: bug, Android

#3917 Fix problem report follow up text
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#3916 Fix problem report error text
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#3925 Sort android device list by creation date
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/Device.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/StringExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  mullvad-types/src/device.rs
Labels: Android

#3920 Migrate android talpid to dedicated subproject
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/settings.gradle.kts
  android/talpid/build.gradle.kts
  android/talpid/src/main/AndroidManifest.xml
  android/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/CreateTunResult.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/net/Endpoint.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/net/TransportProtocol.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/net/TunnelEndpoint.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/net/wireguard/TunnelOptions.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tun_provider/InetNetwork.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tun_provider/TunConfig.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tunnel/ActionAfterDisconnect.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tunnel/ErrorState.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tunnel/ErrorStateCause.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/tunnel/ParameterGenerationError.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/util/EventNotifier.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/util/EventNotifierExtensions.kt
  android/talpid/src/main/kotlin/net/mullvad/talpid/util/InetAddressExt.kt
Labels: Android

#3929 Change add custom dns icon
  android/app/src/main/res/drawable/icon_check.xml
  android/app/src/main/res/drawable/icon_tick_green.xml
  android/app/src/main/res/layout/edit_custom_dns_server.xml
Labels: Android

#3956 Bump android sdk version
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadTileService.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/SdkUtils.kt
  android/app/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#3952 Add android themed icon
  android/app/src/main/res/drawable/ic_launcher_monochrome.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Labels: Android

#3962 Drop ios 12 support
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccountContentView.swift
  ios/MullvadVPN/AccountInputGroupView.swift
  ios/MullvadVPN/AccountViewController.swift
  ios/MullvadVPN/AppButton.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/AutomaticKeyboardResponder.swift
  ios/MullvadVPN/ConnectContentView.swift
  ios/MullvadVPN/ConnectViewController.swift
  ios/MullvadVPN/CustomNavigationBar.swift
  ios/MullvadVPN/CustomSplitViewController.swift
  ios/MullvadVPN/CustomSwitch.swift
  ios/MullvadVPN/CustomSwitchContainer.swift
  ios/MullvadVPN/DeviceRowView.swift
  ios/MullvadVPN/HeaderBarView.swift
  ios/MullvadVPN/NotificationBannerView.swift
  ios/MullvadVPN/OutOfTimeViewController.swift
  ios/MullvadVPN/PreferencesViewController.swift
  ios/MullvadVPN/ProblemReportReviewViewController.swift
  ios/MullvadVPN/ProblemReportViewController.swift
  ios/MullvadVPN/REST/HTTP.swift
  ios/MullvadVPN/REST/RESTAPIProxy.swift
  ios/MullvadVPN/Result+UIBackgroundFetchResult.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SelectLocationCell.swift
  ios/MullvadVPN/SelectLocationNavigationController.swift
  ios/MullvadVPN/SettingsCell.swift
  ios/MullvadVPN/SettingsDNSTextCell.swift
  ios/MullvadVPN/SettingsNavigationController.swift
  ios/MullvadVPN/SpinnerActivityIndicatorView.swift
  ios/MullvadVPN/TranslucentButtonBlurView.swift
  ios/MullvadVPN/UIBarButtonItem+KeyboardNavigation.swift
  ios/MullvadVPN/UIFont+Monospaced.swift
  ios/MullvadVPN/UIImage+TintColor.swift
Labels: iOS

#3979 Fix scrolling issue in device management view
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/AutomaticKeyboardResponder.swift
  ios/MullvadVPN/DataSourceSnapshot.swift
  ios/MullvadVPN/DeviceManagementContentView.swift
  ios/MullvadVPN/DeviceManagementViewController.swift
  ios/MullvadVPN/NotificationController.swift
  ios/MullvadVPN/SelectLocationViewController.swift
  ios/MullvadVPN/TunnelManager/PacketTunnelOptions.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/Operations/AlertPresenter.swift
Labels: bug, iOS
