Repository mullvad/mullvadvpn-app, pull requests merged in 2022-10, with the labels that each got.

#3996 Document Android leaks related to MUL22-03
  docs/security.md
Labels: Android

#3997 Change straight apostrophes to curly apostrophes
  android/app/src/main/res/values/strings.xml
  android/translations-converter/src/normalize.rs
  gui/locales/da/messages.po
  gui/locales/de/messages.po
  gui/locales/es/messages.po
  gui/locales/fi/messages.po
  gui/locales/fr/messages.po
  gui/locales/it/messages.po
  gui/locales/ja/messages.po
  gui/locales/ko/messages.po
  gui/locales/messages.pot
  gui/locales/my/messages.po
  gui/locales/nb/messages.po
  gui/locales/nl/messages.po
  gui/locales/pl/messages.po
  gui/locales/pt/messages.po
  gui/locales/ru/messages.po
  gui/locales/sv/messages.po
  gui/locales/th/messages.po
  gui/locales/tr/messages.po
  gui/locales/zh-CN/messages.po
  gui/locales/zh-TW/messages.po
  gui/src/renderer/components/ExpiredAccountAddTime.tsx
  gui/src/renderer/components/Login.tsx
  gui/src/renderer/components/ProblemReport.tsx
Labels: Android, Desktop frontend

#4006 Suppress CVE-2022-3171 from automatic audit checks
  android/config/dependency-check-suppression.xml
  android/e2e/e2e-suppression.xml
Labels: Android

#3992 Update outdated npm packages
  gui/.eslintrc.js
  gui/package-lock.json
  gui/package.json
  gui/scripts/prepare-rtree.ts
  gui/src/main/ipc-event-channel.ts
  gui/src/renderer/.eslintignore
  gui/src/renderer/.eslintrc.js
  gui/src/renderer/components/AppButton.tsx
  gui/src/renderer/components/ErrorBoundary.tsx
  gui/src/renderer/components/LocationList.tsx
  gui/src/renderer/components/Login.tsx
  gui/src/renderer/components/ProblemReport.tsx
  gui/src/renderer/components/ScopeBar.tsx
  gui/src/renderer/components/SvgMap.tsx
  gui/src/renderer/components/TransitionContainer.tsx
  gui/src/renderer/context.tsx
  gui/src/renderer/index.ts
  gui/src/shared/ipc-helpers.ts
Labels: dependencies, Desktop frontend

#4013 Fix android build instructions
  BuildInstructions.md
  android/BuildInstructions.md
Labels: Android

#4018 Add notification permission for android 13
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/VpnServiceModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/NotificationChannel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/SdkUtils.kt
Labels: Android

#3998 Packet tunnel transport for http(s) requests
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/DisplayChainedError.swift
  ios/MullvadVPN/REST/RESTError.swift
  ios/MullvadVPN/REST/RESTNetworkOperation.swift
  ios/MullvadVPN/REST/RESTProxy.swift
  ios/MullvadVPN/REST/RESTProxyFactory.swift
  ios/MullvadVPN/REST/RESTTransport.swift
  ios/MullvadVPN/REST/RESTTransportRegistry.swift
  ios/MullvadVPN/REST/URLSessionTransport.swift
  ios/MullvadVPN/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPN/TunnelManager/ProxyURLRequest.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelProviderMessage.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#4081 Add `RelaySelector` and `TunnelProviderMessaging` targets
  ios/MullvadTypes/KeychainError.swift
  ios/MullvadTypes/Location.swift
  ios/MullvadTypes/MullvadEndpoint.swift
  ios/MullvadTypes/PacketTunnelRelay.swift
  ios/MullvadTypes/PacketTunnelStatus.swift
  ios/MullvadTypes/RelayConstraint.swift
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadTypes/RelayLocation.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/RelaySelector.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/TunnelProviderMessaging.xcscheme
  ios/MullvadVPN/ConnectViewController.swift
  ios/MullvadVPN/KeychainError.swift
  ios/MullvadVPN/Location.swift
  ios/MullvadVPN/LocationDataSource.swift
  ios/MullvadVPN/MullvadEndpoint.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SelectLocationViewController.swift
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV1.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TunnelManager/LoadTunnelConfigurationOperation.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/PacketTunnelStatus.swift
  ios/MullvadVPN/TunnelManager/ProxyURLRequest.swift
  ios/MullvadVPN/TunnelManager/ReconnectTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnel/MullvadEndpoint+WgEndpoint.swift
  ios/PacketTunnel/PacketTunnelConfiguration.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/RelayCache/Assets/.gitkeep
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelProviderMessaging/PacketTunnelOptions.swift
  ios/TunnelProviderMessaging/ProxyURLRequest.swift
  ios/TunnelProviderMessaging/ProxyURLResponse.swift
  ios/TunnelProviderMessaging/TunnelProviderMessage.swift
  ios/TunnelProviderMessaging/TunnelProviderReply.swift
Labels: iOS

#4079 REST: clean up access levels
  ios/MullvadREST/RESTAPIProxy.swift
  ios/MullvadREST/RESTAuthenticationProxy.swift
Labels: iOS

#4080 Cleanup operations interface
  ios/Operations/AsyncBlockOperation.swift
  ios/Operations/AsyncOperation.swift
  ios/Operations/AsyncOperationQueue.swift
  ios/Operations/BackgroundObserver.swift
  ios/Operations/GroupOperation.swift
  ios/Operations/InputInjectionBuilder.swift
  ios/Operations/InputOperation.swift
  ios/Operations/OperationCompletion.swift
  ios/Operations/OperationCondition.swift
  ios/Operations/OperationObserver.swift
  ios/Operations/OutputOperation.swift
  ios/Operations/ResultBlockOperation.swift
  ios/Operations/ResultOperation+Output.swift
  ios/Operations/ResultOperation.swift
  ios/Operations/TransformOperation.swift
Labels: iOS

#4064 Base android docker image on desktop image
  android/docker/Dockerfile
  android/docker/cargo-config.toml
Labels: Android

#4092 Build android app using container in gh actions
  .github/workflows/android-app.yml
Labels: Android
