Repository mullvad/mullvadvpn-app, pull requests merged in 2023-07, with the labels that each got.

#4865 Add WireGuard port selection to settings changelog
  ios/CHANGELOG.md
Labels: iOS

#4832 Migrate most compose components to material 3
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DnsCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/MtuComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Button.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingTopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Text.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoadingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
Labels: Android

#4843 Add collapsible toolbar component with dynamic body height
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingToolbarScaffold.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#4864 Add option to change wireguard port to vpn settings
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/WireguardConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ConstraintExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  gui/locales/messages.pot
Labels: Android

#4871 Fix increased touch areas for buttons in header bar view
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/Views/IncreasedHitButton.swift
Labels: iOS

#4882 Replace scaffold with material 3 scaffold
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoadingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceListFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceRevokedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/PrivacyDisclaimerFragment.kt
Labels: Android

#4835 Hide notification bar at change log
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogViewController.swift
Labels: enhancement, iOS

#4856 Enable Shadowsocks bridges selection via RelaySelector
  ios/MullvadREST/ServerRelaysResponse.swift
  ios/MullvadTransport/TransportProvider.swift
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/RelayCacheTests.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#4889 Remove material 2 library
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4890 Add bindings for tunnel obfuscator and a test
  Cargo.lock
  Cargo.toml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/TunnelObfuscationTests.xcscheme
  ios/TunnelObfuscation/Info.plist
  ios/TunnelObfuscation/TunnelObfuscation.h
  ios/TunnelObfuscation/TunnelObfuscator.swift
  ios/TunnelObfuscation/module.private.modulemap
  ios/TunnelObfuscation/tunnel-obfuscator-proxy/Cargo.toml
  ios/TunnelObfuscation/tunnel-obfuscator-proxy/build.rs
  ios/TunnelObfuscation/tunnel-obfuscator-proxy/include/tunnel_obfuscator_proxy.h
  ios/TunnelObfuscation/tunnel-obfuscator-proxy/src/ffi.rs
  ios/TunnelObfuscation/tunnel-obfuscator-proxy/src/lib.rs
  ios/TunnelObfuscationTests/TCPConnection.swift
  ios/TunnelObfuscationTests/TCPListener.swift
  ios/TunnelObfuscationTests/TCPUnsafeListener.swift
  ios/TunnelObfuscationTests/TunnelObfuscationTests.swift
  ios/TunnelObfuscationTests/UDPConnection.swift
Labels: iOS

#4878 Remove subtitle from base cell
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/Finders.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/MtuComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#4867 Implement redeeming voucher on creation account
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/AccountRedeemingVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationRouter.swift
  ios/MullvadVPN/Coordinators/App/SettingsRedeemVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/App/SetupAccountCompletedCoordinator.swift
  ios/MullvadVPN/Coordinators/App/WelcomeCoordinator.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/TunnelManager/RedeemVoucherOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/CreationAccount/Completed/SetupAccountCompletedContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Completed/SetupAccountCompletedViewController.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeInteractor.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeViewController.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherSucceededViewController.swift
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS, feature request

#4791 Add search bar to select location screen
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/SearchTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/constant/ContentType.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/Relay.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCountry.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemHolder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListAdapter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SelectLocationFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/res/drawable/icon_relay_active.xml
  android/app/src/main/res/drawable/icon_relay_inactive.xml
  android/app/src/main/res/drawable/icons_search.xml
  android/app/src/main/res/layout/relay_list_item.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/dimensions.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/relaylist/RelayNameComparatorTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
Labels: Android

#4893 Update material 3 library to 1.1.1
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/SearchTextField.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4883 Add the ability to set a custom wireguard port
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Button.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomPortTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ConstraintExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PortConstraintExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PortRangeExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4875 Migrate connect fragment, expect notification bar, to compose
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/TypeScale.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/Typeface.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/TunnelState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ConnectionStatus.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/UnderNotificationBannerBehavior.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ConnectionProxy.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/GeoIpLocationExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/TunnelEndpointExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/res/drawable/icon_chevron_expand.xml
  android/app/src/main/res/drawable/transparent_red_left_half_button_background.xml
  android/app/src/main/res/drawable/transparent_red_right_half_button_background.xml
  android/app/src/main/res/drawable/white20_button_background.xml
  android/app/src/main/res/layout/connect.xml
  android/app/src/main/res/layout/switch_location_button.xml
  android/app/src/main/res/values/dimensions.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#4905 Handle logged in account no longer existing
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS, feature request

#4907 Disable App version cell click on release version
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/NotificationWithUrl.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/VersionInfoNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AppVersionCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/UrlCell.kt
Labels: Android

#4910 Fix incorrect version formatting in settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
Labels: Android

#4908 Port download link removal to main
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/NotificationWithUrl.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/VersionInfoNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AppVersionCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NavigateCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/UrlCell.kt
Labels: Android

#4913 Fix lint error for unused resources
  android/app/src/main/res/values/dimensions.xml
Labels: Android

#4915 Fix disconnect button text alignment
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
Labels: Android

#4872 Move tests into test plans
  .github/workflows/ios.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/TestPlans/MullvadVPNApp.xctestplan
  ios/TestPlans/MullvadVPNCI.xctestplan
  ios/build.sh
Labels: iOS

#4897 Add filtering by Haversine distance
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/MullvadVPNTests/CoordinatesTests.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/RelaySelector/Haversine.swift
  ios/RelaySelector/Midpoint.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#4916 Fix some of the baselined lint issues
  android/app/lint-baseline.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/BackButton.kt
  android/app/src/main/res/anim/fade_in.xml
  android/app/src/main/res/drawable/transparent_red_button_background.xml
  android/app/src/main/res/layout/account.xml
  android/app/src/main/res/layout/account_history_entry.xml
  android/app/src/main/res/layout/account_login_border.xml
  android/app/src/main/res/layout/button.xml
  android/app/src/main/res/layout/confirm_no_email.xml
  android/app/src/main/res/layout/missing_service.xml
  android/app/src/main/res/layout/notification_banner.xml
  android/app/src/main/res/layout/problem_report.xml
  android/app/src/main/res/layout/redeem_voucher.xml
  android/app/src/main/res/layout/settings_back_button.xml
  android/app/src/main/res/layout/split_tunneling.xml
  android/app/src/main/res/layout/split_tunneling_header.xml
  android/app/src/main/res/layout/view_logs.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings_non_translatable.xml
Labels: Android

#4917 Reduce location info flickering
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#4918 Fix the settings being reset when upgrading from 2023.3 or lower
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
Labels: iOS

#4923 Fix in-app notification alignment
  android/app/src/main/res/layout/notification_banner.xml
Labels: Android

#4906 Migrate account view to compose
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/AccountNumberView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CopyableObfuscationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/InformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AccountUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/extension/ContextExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountManagementButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/Cell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/CellSwitch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/CopyableInformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/CustomItemAnimator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/CustomRecyclerView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/InformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/ToggleCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/DateExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/res/layout/account.xml
  android/app/src/main/res/layout/account_buttons.xml
  android/app/src/main/res/layout/information_view.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/SdkUtils.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/StringExtensions.kt
Labels: Android

#4933 Fix missing dependencies in android lockfile
  android/gradle/verification-metadata.xml
  android/test/test-suppression.xml
Labels: Android
