Repository mullvad/mullvadvpn-app, pull requests merged in 2023-05, with the labels that each got.

#4628 Dns settings text additions
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ContentBlockersInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomDnsInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AdvancedSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModelState.kt
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4648 Fix app always resuming to the connect view
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#4649 Avoid spamming toast messages
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
Labels: Android

#4646 Update changelog for iOS
  ios/CHANGELOG.md
Labels: iOS

#4635 iOS: upgrade CI to macOS 13 and latest tools IOS-148
  .github/workflows/ios.yml
Labels: iOS

#4623 Add cancellable initializer in operations IOS-151
  ios/MullvadREST/RESTAccessTokenManager.swift
  ios/MullvadTypes/Cancellable.swift
  ios/MullvadTypes/Result+Extensions.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Tunnel/MapViewController.swift
  ios/Operations/AsyncBlockOperation.swift
  ios/Operations/AsyncOperation.swift
  ios/Operations/ResultBlockOperation.swift
  ios/Operations/TransformOperation.swift
  ios/OperationsTests/AsyncBlockOperationTests.swift
  ios/OperationsTests/AsyncResultBlockOperationTests.swift
  ios/OperationsTests/OperationCancellationTests.swift
  ios/OperationsTests/OperationConditionTests.swift
  ios/OperationsTests/OperationObserverTests.swift
  ios/OperationsTests/TransformOperationTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#4613 Improve behavior when there's no network
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/Notifications/UI/NotificationController.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/StopTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
Labels: iOS

#4654 Fix date interval formatting and update tests
  ios/MullvadVPN/Classes/CustomDateComponentsFormatting.swift
  ios/MullvadVPNTests/CustomDateComponentsFormattingTests.swift
Labels: iOS

#4620 Fix view state when disconnecting from out-of-time view
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeContentView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
Labels: iOS

#4641 Cache known good api mode ios 133
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTTransport.swift
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/PacketTunnel/TunnelTransportProvider.swift
  ios/TunnelProviderMessaging/URLRequestProxy.swift
Labels: iOS

#4658 Propagate network status when there is no tunnel
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
Labels: iOS

#4671 Fix missing buy time text in out-of-time fragment
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
Labels: Android

#4644 WireGuard UDP-over-TCP
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ObfuscationInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/UdpOverTcpPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AdvancedSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ipc/Request.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/ObfuscationSettings.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/SelectedObfuscation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/Settings.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/Udp2TcpObfuscationSettings.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/SettingsListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/SettingsListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModelState.kt
  android/app/src/main/kotlin/net/mullvad/talpid/net/ObfuscationEndpoint.kt
  android/app/src/main/kotlin/net/mullvad/talpid/net/ObfuscationType.kt
  android/app/src/main/kotlin/net/mullvad/talpid/net/TunnelEndpoint.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  mullvad-jni/src/classes.rs
  mullvad-jni/src/daemon_interface.rs
  mullvad-jni/src/lib.rs
  mullvad-types/src/relay_constraints.rs
  mullvad-types/src/settings/mod.rs
  talpid-types/src/net/mod.rs
Labels: Android

#4653 Fix port selection algorithm
  ios/MullvadTypes/PacketTunnelStatus.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#4619 Spawn shadowsocks for ios 114
  .github/workflows/ios.yml
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTProxy.swift
  ios/MullvadREST/RESTProxyFactory.swift
  ios/MullvadREST/RESTTransport.swift
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadREST/ShadowSocksProxy.swift
  ios/MullvadREST/URLSessionTransport.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadTypes/Cancellable.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelTransportProvider.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelTransportProvider.swift
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelProviderMessaging/ProxyURLRequest.swift
  ios/TunnelProviderMessaging/URLRequestProxy.swift
Labels: iOS

#4666 Sometimes the device/time-left header disappears
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Notifications/InAppNotificationDescriptor.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/Notifications/NotificationProvider.swift
  ios/MullvadVPN/Notifications/NotificationProviderIdentifier.swift
  ios/MullvadVPN/Notifications/NotificationProviderProtocol.swift
  ios/MullvadVPN/Notifications/NotificationResponse.swift
  ios/MullvadVPN/TunnelManager/TunnelBlockObserver.swift
Labels: bug, iOS

#4665 Add text style and dimensions to use in compose
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/TypeScale.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/Typeface.kt
Labels: Android

#4682 Fix DNS input keyboard type
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/DnsTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/MtuTextField.kt
Labels: bug, Android

#4687 Add creation date below device name in the device list screen
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/TypeScale.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/Typeface.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/DateExtensions.kt
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4702 Move split tunneling to the settings
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/res/layout/settings.xml
Labels: Android

#4706 Fix stable Android version code
  mullvad-version/src/main.rs
Labels: Android

#4711 Bump compose to 1.4.3
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4607 Use shadowsocks proxies to reach the API
  .github/workflows/ios.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTProxy.swift
  ios/MullvadREST/RESTProxyFactory.swift
  ios/MullvadREST/RESTTransport.swift
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadREST/RESTURLSession.swift
  ios/MullvadREST/ServerRelaysResponse.swift
  ios/MullvadREST/ShadowSocksProxy.swift
  ios/MullvadREST/URLSessionTransport.swift
  ios/MullvadREST/module.private.modulemap
  ios/MullvadREST/shadowsocks-proxy/.gitignore
  ios/MullvadREST/shadowsocks-proxy/Cargo.toml
  ios/MullvadREST/shadowsocks-proxy/build.rs
  ios/MullvadREST/shadowsocks-proxy/build.sh
  ios/MullvadREST/shadowsocks-proxy/include/shadowsocks.h
  ios/MullvadREST/shadowsocks-proxy/src/bin/run.rs
  ios/MullvadREST/shadowsocks-proxy/src/bin/run_unsafe.rs
  ios/MullvadREST/shadowsocks-proxy/src/ffi.rs
  ios/MullvadREST/shadowsocks-proxy/src/lib.rs
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelTransportProvider.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelTransportProvider.swift
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelProviderMessaging/ProxyURLRequest.swift
  ios/TunnelProviderMessaging/URLRequestProxy.swift
  mullvad-api/Cargo.toml
  mullvad-management-interface/src/types/conversions/settings.rs
  talpid-core/Cargo.toml
  talpid-openvpn/Cargo.toml
Labels: iOS

#4716 Hide account page links in release builds
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
Labels: Android

#4721 Remove purchasing information from release builds
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/WelcomeFragment.kt
Labels: Android

#4693 Increase the touch target for the cross button in the banner view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Containers/Root/HeaderBarButton.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/Views/IncreasedHitButton.swift
Labels: enhancement, iOS

#4680 Migrate split tunneling fragment to compose
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/ui/fragment/SplitTunnelingFragmentTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/constant/CommonContentKey.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/constant/ContentType.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/constant/SplitTunnelingContentKey.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SplitTunnelingUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ListItemsAdapter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SplitTunnelingFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/SplitTunneling.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/ApplicationImageView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
  android/app/src/main/res/layout/app_list_item.xml
  android/app/src/main/res/layout/collapsed_title_layout.xml
  android/app/src/main/res/values/dimensions.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/di/UiModuleTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
Labels: Android

#4697 Hide brand name in header bar when buttons overlap it IOS-166
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
Labels: iOS

#4704 Device info should only be displayed once user dismissed "device created" notification
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
Labels: iOS

#4709 Add alert if user disconnects when there's no connectivity
  ios/MullvadVPN/Coordinators/App/TunnelCoordinator.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#4722 Pass the API endpoint to Shadowsocks instead of hardcoding it
  ios/MullvadREST/ShadowSocksProxy.swift
  ios/MullvadREST/URLSessionTransport.swift
  ios/MullvadREST/shadowsocks-proxy/include/shadowsocks.h
  ios/MullvadREST/shadowsocks-proxy/src/bin/run.rs
  ios/MullvadREST/shadowsocks-proxy/src/bin/run_unsafe.rs
  ios/MullvadREST/shadowsocks-proxy/src/ffi.rs
  ios/MullvadREST/shadowsocks-proxy/src/lib.rs
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelTransportProvider.swift
Labels: iOS

#4744 Update fdroid feature graphic and screenshots
  android/src/main/play/listings/en-US/graphics/feature-graphic/Android-feature-graphics.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/01_connect.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/01_connected.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/02_new_account.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/02_settings.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/03_login.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/03_wireguard_key.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/04_no_logs_open_source.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/04_report_a_problem.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/05_login.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/05_split_tunneling.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/06_dns_content_blockers.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/07_and_more.png
  android/src/main/play/listings/en-US/graphics/phone-screenshots/08_privacy_ninja.png
Labels: Android

#4737 Introduce MullvadTransport and move Shadowsocks there, share Transpor…
  Cargo.toml
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTTransport.swift
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadTransport/Info.plist
  ios/MullvadTransport/MullvadTransport.h
  ios/MullvadTransport/ShadowSocksProxy.swift
  ios/MullvadTransport/TransportProvider.swift
  ios/MullvadTransport/URLSessionTransport.swift
  ios/MullvadTransport/module.private.modulemap
  ios/MullvadTransport/shadowsocks-proxy/.gitignore
  ios/MullvadTransport/shadowsocks-proxy/Cargo.toml
  ios/MullvadTransport/shadowsocks-proxy/build.rs
  ios/MullvadTransport/shadowsocks-proxy/build.sh
  ios/MullvadTransport/shadowsocks-proxy/include/shadowsocks.h
  ios/MullvadTransport/shadowsocks-proxy/src/bin/run.rs
  ios/MullvadTransport/shadowsocks-proxy/src/bin/run_unsafe.rs
  ios/MullvadTransport/shadowsocks-proxy/src/ffi.rs
  ios/MullvadTransport/shadowsocks-proxy/src/lib.rs
  ios/MullvadTransport/shadowsocks.h
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelTransportProvider.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelTransportProvider.swift
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelProviderMessaging/URLRequestProxy.swift
Labels: iOS

#4695 Hide action button when no action provided in notification banner IOS-168
  ios/MullvadVPN/Extensions/NSLayoutConstraint+Helpers.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
Labels: iOS

#4727 Update text and indentation for DNS content blockers
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/MtuComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/SpannedExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/TypeScale.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
Labels: Android
