Repository mullvad/mullvadvpn-app, pull requests merged in 2023-06, with the labels that each got.

#4754 Trigger audit check daily and on lockfile changes
  .github/workflows/android-audit.yml
Labels: Android

#4750 Improve wireguard obfuscation settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/SpacedColumn.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Switch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4656 Add custom port selection to settings
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Extensions/UITextField+Appearance.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotificationProvider.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInputCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractorFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsStaticTextFooterView.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#4758 Add Mullvad VPN typography font styles
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Type.kt
Labels: Android

#4768 Bump dependencies and update suppressions
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/typeface/TypeScale.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/dependency-check-suppression.xml
  android/gradle/verification-metadata.xml
Labels: Android

#4762 Upgrade koin version to 3.4.1 and koin-compose library
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/ApplicationImageView.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4769 Update android feature list
  README.md
Labels: Android

#4771 Revert mockk to 1.13.3
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4773 Add custom deserialiser for RelayConstraints
  ios/MullvadTypes/RelayConstraints.swift
Labels: iOS

#4753 Simplify login flow IOS-189
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/Operations/InputInjectionBuilder.swift
  ios/Operations/InputOperation.swift
  ios/Operations/TransformOperation.swift
  ios/OperationsTests/OperationInputInjectionTests.swift
  ios/OperationsTests/TransformOperationTests.swift
Labels: iOS

#4745 Implement text formatter for account number and voucher code
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/InputTextFormatter.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/Login/AccountTextField.swift
  ios/MullvadVPNTests/AccountTokenInputTests.swift
  ios/MullvadVPNTests/InputTextFormatterTests.swift
Labels: iOS

#4747 Implement redeem voucher service
  ios/MullvadREST/RESTAPIProxy.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/RedeemVoucherOperation.swift
Labels: iOS

#4774 Fix vpn settings subtitles
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/SpannedExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4749 Replace applicationimageview with compose
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsIconManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SplitTunnelingFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/ApplicationImageView.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsIconManagerTest.kt
Labels: Android

#4778 Fix auto connect and local network sharing showing default values
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
Labels: Android

#4779 Formalize application targets IOS-194
  ios/MullvadLogging/Logging.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Supporting Files/Info.plist
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/PacketTunnel/Info.plist
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/Shared/ApplicationConfiguration.swift
  ios/Shared/ApplicationTarget.swift
Labels: iOS

#4780 Formalize background tasks IOS-195
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/BackgroundTask.swift
  ios/MullvadVPN/Supporting Files/Info.plist
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS

#4740 Improve the android build instructions for mac os
  android/BuildInstructions.md
Labels: Android

#4786 Move account button from settings to header
  android/app/lint-baseline.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/HeaderBar.kt
  android/app/src/main/res/drawable/icon_account.xml
  android/app/src/main/res/layout/account.xml
  android/app/src/main/res/layout/header_bar.xml
  android/app/src/main/res/layout/settings.xml
Labels: Android

#4787 Set lint to ignore typography ellipsis errors
  android/app/lint-baseline.xml
  android/config/lint.xml
Labels: Android

#4723 Migrate select location fragment to compose
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingTopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/dimensions/Dimensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCountry.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SelectLocationFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/res/anim/fade_out.xml
  android/app/src/main/res/layout/select_location.xml
  android/app/src/main/res/layout/select_location_header.xml
  android/app/src/main/res/values/dimensions.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
Labels: Android

#4793 Order split tunneling apps by name
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
Labels: Android

#4795 Prevent overwriting relay constraints when selecting a relay location
  ios/MullvadVPN/Coordinators/App/SelectLocationCoordinator.swift
Labels: iOS

#4796 When trying to revoke a device from the `Too many devices view`, it doesn't happen
  ios/MullvadVPN/Classes/CustomAlertViewController.swift
  ios/MullvadVPN/Operations/PresentAlertOperation.swift
Labels: bug, iOS

#4789 Implement redeeming voucher UI part ios 193
  ios/MullvadREST/RESTError.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/InputTextFormatter.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/Presentation controllers/SecondaryContextPresentationController.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherCoordinator.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherInteractor.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherSucceededViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/VoucherTextField.swift
Labels: iOS, feature request

#4764 Enable reusing the shadowsocks connection once it is established
  ios/MullvadREST/AddressCache.swift
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTProxy.swift
  ios/MullvadREST/RESTProxyFactory.swift
  ios/MullvadREST/RESTTransport.swift
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadTransport/TransportProvider.swift
  ios/MullvadTransport/shadowsocks-proxy/build.sh
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelTransportProvider.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelProviderMessaging/ProxyURLRequest.swift
  ios/TunnelProviderMessaging/URLRequestProxy.swift
Labels: iOS

#4810 Update change log
  ios/CHANGELOG.md
Labels: iOS

#4731 Add info button next to device name in account view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/CustomAlertViewController.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/OutOfTimeCoordinator.swift
  ios/MullvadVPN/Extensions/RESTCreateApplePaymentResponse+Localization.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotificationProvider.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Account/PaymentAlertPresenter.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
Labels: iOS

#4820 Handle pubkey-in-use error IOS-204
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
Labels: iOS

#4803 update-handling-of-device-concept-and-time-left-ios-198
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
Labels: enhancement, iOS

#4833 Hide faqs and guides button for release builds
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/PrivacyDisclaimerFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SettingsFragment.kt
Labels: Android

#4839 Enable APPLICATION_EXTENSION_API_ONLY for MullvadTransport
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#4837 Fix inability to use router/gateway as the custom WireGuard endpoint
  talpid-routing/src/unix/macos/watch.rs
Labels: macOS

#4829 Update rust and java code to expose wireguard port settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ipc/Request.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/Port.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraints.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraintsUpdate.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/WireguardConstraints.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  mullvad-jni/src/classes.rs
  mullvad-types/src/relay_constraints.rs
Labels: Android

#4836 Expose wireguard port ranges to the android app
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/PortRange.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/WireguardEndpointData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  mullvad-jni/src/classes.rs
  mullvad-types/src/relay_list.rs
Labels: Android
