Repository mullvad/mullvadvpn-app, pull requests merged in 2023-09, with the labels that each got.

#5079 Fix custom port input crash
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomPortTextField.kt
Labels: Android

#5086 Override ATS for our API endpoint and Shadowsocks
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#5078 Remove forwarded ports on iOS
  ios/MullvadTypes/RESTTypes.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/WgKeyRotationTests.swift
Labels: iOS

#5092 Fix UIKit nagging regarding to present alert top of keyboard
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
Labels: bug, iOS

#5098 Fix swiftlint warning function_parameter_count
  ios/MullvadLogging/CustomFormatLogHandler.swift
  ios/MullvadLogging/OSLogHandler.swift
Labels: iOS

#5095 the-buttons-for-deleting-the-account-and-redeeming-a-voucher-ios-294
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
Labels: bug, iOS

#5096 Fix tunnel default route being missing after waking from hibernation
  CHANGELOG.md
  talpid-routing/src/unix/macos/interface.rs
  talpid-routing/src/unix/macos/mod.rs
  talpid-routing/src/unix/macos/routing_socket.rs
  talpid-routing/src/unix/macos/watch.rs
Labels: macOS

#5083 Move test utils to its own module
  android/app/build.gradle.kts
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsProviderTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/lib/common-test/build.gradle.kts
  android/lib/common-test/src/main/java/net/mullvad/mullvadvpn/lib/common/test/TestCoroutineRule.kt
  android/lib/common-test/src/main/java/net/mullvad/mullvadvpn/lib/common/test/TestUtils.kt
  android/settings.gradle.kts
Labels: Android

#4903 Migrate in app notification banner to compose
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DnsCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectNotificationState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/RememberPrevious.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/UnderNotificationBannerBehavior.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/AccountExpiryNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/InAppNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/NotificationWithUrl.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/NotificationWithUrlWithToken.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/VersionInfoNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/res/layout/connect.xml
  android/app/src/main/res/layout/notification_banner.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5101 Stop filtering null locations to avoid bugs with connection errors
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#5115 Replace deprecated TestCoroutineDispatcher
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/lib/common-test/src/main/java/net/mullvad/mullvadvpn/lib/common/test/TestCoroutineRule.kt
Labels: Android

#5094 Remove unused code related to list item view
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/ActionListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/DividerGroupListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/ListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/PlainListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/ProgressListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/TwoActionListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/WidgetViewController.kt
  android/app/src/main/res/layout/list_item_action.xml
  android/app/src/main/res/layout/list_item_base.xml
  android/app/src/main/res/layout/list_item_group_divider.xml
  android/app/src/main/res/layout/list_item_plain_text.xml
  android/app/src/main/res/layout/list_item_progress.xml
  android/app/src/main/res/layout/list_item_two_action.xml
  android/app/src/main/res/layout/list_item_widget_image.xml
  android/app/src/main/res/layout/list_item_widget_switch.xml
Labels: Android

#5121 Remove lint baseline issues for already removed files
  android/app/lint-baseline.xml
Labels: Android

#5049 Move out of time behaviour to view model
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#5118 Migrate connect screen headerbar to compose
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/res/layout/connect.xml
Labels: Android

#5103 Fix or report all current small Swiftlint warnings in xcode
  ios/.swiftlint.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AutomaticKeyboardResponder.swift
  ios/MullvadVPN/Classes/ConsolidatedApplicationLog.swift
  ios/MullvadVPN/Classes/InputTextFormatter.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/Extensions/NSRegularExpression+IPAddress.swift
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProvider.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/Tunnel/DisconnectSplitButton.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/Views/AppButton.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/Operations/AsyncOperation.swift
  ios/Operations/OperationBlockObserverSupport.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
Labels: iOS

#5130 Fix the click area of the notification banner
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NotificationBanner.kt
Labels: Android

#5102 Fix wireguard mtu selection showing again after closing it
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
Labels: Android

#5126 Fix Swiftlint warnings (file length) in files related to simulator tunnel
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelInfo.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProvider.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderManager.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorVPNConnection.swift
Labels: iOS

#5111 Fix Swiftlint warnings in DeviceManagementContentView
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
Labels: iOS

#5134 Change reconnect location behavior to fix multiple bugs
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/LocationInfoCache.kt
Labels: bug, Android

#5110 Fix Swiftlint warnings in LocationDataSource
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
Labels: iOS

#5108 Fix Swiftlint warnings in MapConnectionStatusOperation
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
Labels: iOS

#5135 Move VPNConnectionProtocol to its own file
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProvider.swift
  ios/MullvadVPN/TunnelManager/VPNConnectionProtocol.swift
Labels: iOS

#5129 Fix dialogs padding and spacing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomDnsInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/LocalNetworkSharingInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MalwareInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ObfuscationInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/QuantumResistanceInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/UdpOverTcpPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardPortInfoDialog.kt
Labels: Android

#5144 Re enable extensions on NetworkExtension types that were accidentally…
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProvider.swift
  ios/MullvadVPN/TunnelManager/VPNConnectionProtocol.swift
Labels: iOS

#5069 On delete account screen, add account number validation during input
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
Labels: iOS

#5145 Fix list animations for split tunneling
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
Labels: Android

#5147 Android studio lint
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ListItemData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ViewIntent.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingToolbarScaffold.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Text.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/ResourcesExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SplitTunnelingUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/RememberPrevious.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/dataproxy/MullvadProblemReport.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/GetItemResult.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCountry.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListAdapterPosition.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/BlockingController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/CollapsibleTitleController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/CustomTransformationMethod.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ListItemListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ProblemReportFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/CustomDns.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/SettingsListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountInput.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/BackButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/Button.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/WidgetState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/AdapterWithHeader.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ChangeMonitor.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ChangelogDataProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ExponentialBackoff.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/GenericExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/HeaderOrHolder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/LinearInterpolation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/SegmentedInputFormatter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/SmartDeferred.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/TimeAgoFormatter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ViewKtx.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Event.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Request.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Constraint.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/CustomTunnelEndpoint.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Device.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
Labels: Android

#5105 Fix Swiftlint warnings in RootContainerViewController
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
Labels: iOS

#5119 allow user to switch between accounts when the account number is ente…
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/CreateAccountVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/Coordinators/ProfileVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Login/LoginInteractor.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/LogoutDialogueView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherInteractor.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/VoucherTextField.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractorFactory.swift
Labels: iOS, feature request

#5112 Fix Swiftlint warnings in TunnelMonitor
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
Labels: iOS

#5106 Fix Swiftlint warnings in ProblemReportViewController
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
Labels: iOS

#5044 Coordinate alert presentation
  ios/.swiftlint.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppRoutes.swift
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/AlertCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/InAppPurchaseCoordinator.swift
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/Coordinators/OutOfTimeCoordinator.swift
  ios/MullvadVPN/Coordinators/SettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/Extensions/Coordinator+Router.swift
  ios/MullvadVPN/Operations/AlertPresenter.swift
  ios/MullvadVPN/Operations/PresentAlertOperation.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/View controllers/Account/AccountDeviceRow.swift
  ios/MullvadVPN/View controllers/Account/AccountNumberRow.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Account/PaymentAlertPresenter.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresentation.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresenter.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/Operations/AsyncOperation.swift
  ios/Routing/Coordinator.swift
  ios/Routing/Router/AppRouteProtocol.swift
  ios/Routing/Router/ApplicationRouter.swift
  ios/Routing/Router/ApplicationRouterDelegate.swift
  ios/Routing/Router/ApplicationRouterTypes.swift
  ios/RoutingTests/RouterBlockDelegate.swift
Labels: iOS

#5104 Fix Swiftlint warnings in AppDelegate
  ios/MullvadVPN/AppDelegate.swift
Labels: iOS

#5003 Paint status bar after screen enter animation end
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingToolbarScaffold.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/BaseFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SelectLocationFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModel.kt
Labels: Android

#5085 Update android build instructions for macOS
  android/BuildInstructions.md
  android/docs/BuildInstructions.macos.md
Labels: Android

#5148 Fix Select Location headline size
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#5160 Fix reliability and time consumption of testInitialConnectionTimings test
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitorTimings.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
Labels: iOS

#5107 Fix Swiftlint warnings in PacketTunnelProvider
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#5061 Update screenshots test to work with updated UI
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/AlertCoordinator.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresentation.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
Labels: iOS

#5168 Disable Module verifier, rename Settings to MullvadSettings
  ios/MullvadSettings/DNSSettings.swift
  ios/MullvadSettings/DeviceState.swift
  ios/MullvadSettings/KeychainSettingsStore.swift
  ios/MullvadSettings/Migration.swift
  ios/MullvadSettings/MigrationManager.swift
  ios/MullvadSettings/MullvadSettings.h
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadSettings/SettingsParser.swift
  ios/MullvadSettings/SettingsStore.swift
  ios/MullvadSettings/StoredAccountData.swift
  ios/MullvadSettings/StoredDeviceData.swift
  ios/MullvadSettings/TunnelSettings.swift
  ios/MullvadSettings/TunnelSettingsV1.swift
  ios/MullvadSettings/TunnelSettingsV2.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotificationProvider.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/LoadTunnelConfigurationOperation.swift
  ios/MullvadVPN/TunnelManager/RedeemVoucherOperation.swift
  ios/MullvadVPN/TunnelManager/RotateKeyOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelBlockObserver.swift
  ios/MullvadVPN/TunnelManager/TunnelInteractor.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelObserver.swift
  ios/MullvadVPN/TunnelManager/UpdateAccountDataOperation.swift
  ios/MullvadVPN/TunnelManager/UpdateDeviceDataOperation.swift
  ios/MullvadVPN/TunnelManager/WgKeyRotation.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Login/LoginInteractor.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewControllerInteractor.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/WgKeyRotationTests.swift
  ios/PacketTunnel/DeviceCheck/DeviceCheckOperation.swift
  ios/PacketTunnel/DeviceCheck/DeviceStateAccessor.swift
  ios/PacketTunnel/DeviceCheck/DeviceStateAccessorProtocol.swift
  ios/PacketTunnel/PacketTunnelConfiguration.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#5172 Fix wg-go script to make docs build
  ios/build-wireguard-go.sh
Labels: iOS

#5161 Unify android build server script with the desktop equivalent
  ci/buildserver-build-android.sh
Labels: Android

#5165 Make the Voucher view more comforming to designs
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CreateAccountVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/ProfileVoucherCoordinator.swift
  ios/MullvadVPN/UI appearance/UIEdgeInsets+Extensions.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/AddCreditSucceededViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/LogoutDialogueView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewConfiguration.swift
Labels: iOS

#5169 Merge TunnelProviderMessaging into PacketTunnelCore
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/PacketTunnel/DeviceCheck/DeviceCheckOperation.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnelCore/IPC/PacketTunnelErrorWrapper.swift
  ios/PacketTunnelCore/IPC/PacketTunnelOptions.swift
  ios/PacketTunnelCore/IPC/PacketTunnelRelay.swift
  ios/PacketTunnelCore/IPC/PacketTunnelStatus.swift
  ios/PacketTunnelCore/IPC/RelaySelectorResult+PacketTunnelRelay.swift
  ios/PacketTunnelCore/IPC/TunnelProviderMessage.swift
  ios/PacketTunnelCore/IPC/TunnelProviderReply.swift
  ios/PacketTunnelCore/URLRequestProxy/ProxyURLRequest.swift
  ios/PacketTunnelCore/URLRequestProxy/ProxyURLResponse.swift
  ios/PacketTunnelCore/URLRequestProxy/URLRequestProxy.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#5176 Add a toggle to block social media
  ios/MullvadSettings/DNSSettings.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
Labels: iOS

#4684 Add billing and infrastructure flavor dimensions
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/BuildConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/PrivacyDisclaimerFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/StringExtensions.kt
  android/build.gradle.kts
  android/buildSrc/build.gradle.kts
  android/buildSrc/src/main/kotlin/BuildVariants.kt
  android/lib/build.gradle.kts
  android/lib/common-test/build.gradle.kts
  android/lib/common/build.gradle.kts
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/CommonStringExtensions.kt
  android/lib/endpoint/build.gradle.kts
  android/lib/ipc/build.gradle.kts
  android/lib/model/build.gradle.kts
  android/lib/resource/build.gradle.kts
  android/lib/talpid/build.gradle.kts
  android/lib/theme/build.gradle.kts
  android/scripts/run-instrumented-tests.sh
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/constant/BuildConstant.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/settings.gradle.kts
  android/test/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
  android/tile/build.gradle.kts
  build-apk.sh
  ci/buildserver-build-android.sh
Labels: Android

#5179 Replace remaining release build checks with play build checks
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/WelcomeFragment.kt
Labels: Android

#5182 Align copy with design for content blockers
  ios/CHANGELOG.md
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
Labels: iOS

#5184 Support running under build variant app ids
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/constant/Actions.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/constant/Classes.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/constant/ClassesAndActions.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/VpnPermission.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/ServiceConnection.kt
Labels: Android

#5170 Improve notification banner transitions
  ios/MullvadVPN/Notifications/UI/NotificationController.swift
Labels: bug, iOS

#5185 Update changelog
  ios/CHANGELOG.md
Labels: iOS

#5187 Fix black screen bug if redeem voucher view if canceled to early
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
Labels: bug, iOS

#5171 Replace ConstraintLayout with Row
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
Labels: Android

#5188 Update tunnel manager to not return error for configuration loading
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS

#5175 Migrate out of time view to compose
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ExternalActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/RedeemVoucherButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SitePaymentButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/UriHandlerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/OutOfTimeUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/RedeemVoucherButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/SitePaymentButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/UrlButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/res/layout/out_of_time.xml
  android/app/src/main/res/layout/payment_buttons.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
Labels: Android

#5194 Partially revert "Remove android file migration"
  .github/workflows/android-app.yml
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/DaemonInstance.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/FileResourceExtractor.kt
Labels: bug, Android

#5164 Migrate login screen to compose
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/LoginUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/AccountTokenVisualTransformation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountHistoryAdapter.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountHistoryHolder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountInput.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountLogin.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountLoginBorder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/res/layout/account_history_entry.xml
  android/app/src/main/res/layout/account_input.xml
  android/app/src/main/res/layout/account_login.xml
  android/app/src/main/res/layout/account_login_border.xml
  android/app/src/main/res/layout/login.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/AccountToken.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
Labels: Android

#5173 Add DeviceName to Welcome Screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/WelcomeUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#5141 Add copy icon button account created screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/AccountNumberView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CopyableObfuscationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Clipboard.kt
Labels: Android

#5033 Add info dialog for device name
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceNameInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AccountUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#5202 Fix incorrect text styles in info dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5201 Bump compose to 1.5.1
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/scripts/update-lockfile.sh
Labels: Android

#5205 Include platform in Android download URL
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
Labels: Android

#5204 Fix incorrect content of device name info dialog
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceNameInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AccountUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
Labels: bug, Android

#5154 Add konsist for arch testing
  .github/workflows/android-app.yml
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle.properties
  android/gradle/verification-metadata.xml
  android/settings.gradle.kts
  android/test/arch/build.gradle.kts
  android/test/arch/src/test/AndroidManifest.xml
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/ViewModelTests.kt
Labels: Android
