Repository mullvad/mullvadvpn-app, pull requests merged in 2023-10, with the labels that each got.

#5215 Replace all remaining color resource with theme colors
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DnsCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoadingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
Labels: Android

#5212 Add konsist vm checks
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/WelcomeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/ViewModelTests.kt
Labels: Android

#5128 Device list resets after going to settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/DeviceRepository.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5214 Add konsist tests
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scrollbar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/Relay.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCountry.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraintsUpdate.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelaySettingsUpdate.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/TunnelState.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AuthTokenCache.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/LocationInfoCache.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotificationAction.kt
  android/test/arch/build.gradle.kts
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/ArchitectureTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/GeneralTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/KonsistTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/ViewModelTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/ClassTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/DataClassTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/compose/ComposePreviewTests.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/compose/ComposeTests.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/JsonUtils.kt
Labels: Android

#5219 Fix broken android test
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
Labels: Android

#5216 Replace primary container color with primary with alpha
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
Labels: Android

#5200 Migrate problem report & view logs to compose
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scrollbar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ReportProblemNoEmailDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/TextFieldColors.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/TimingConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/dataproxy/MullvadProblemReport.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/CollapsibleTitleController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/ListItemDividerDecoration.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConfirmNoEmailDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ProblemReportFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ViewLogsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/EditTextExt.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ViewLogsViewModel.kt
  android/app/src/main/res/layout/confirm_no_email.xml
  android/app/src/main/res/layout/problem_report.xml
  android/app/src/main/res/layout/view_logs.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemModelTest.kt
  android/lib/resource/src/main/res/drawable/icon_fail.xml
  android/lib/resource/src/main/res/drawable/icon_success.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5228 Log if Same IP is used when starting a tunnel
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS

#5235 Make social media block setting conflict with custom DNS
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
Labels: iOS

#5229 Fix duration logging
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS

#5237 Use Xcode15 on github CI
  .github/workflows/ios.yml
Labels: iOS

#5226 Fix text color in account view
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Text.kt
Labels: Android

#5227 Too much spacing between text and button in local network dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
Labels: Android

#5231 Replace third party top bar library
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingToolbarScaffold.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingTopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NavigateBackIconButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/typeface/TypeScale.kt
Labels: Android

#5239 Add UI for blocked state
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/PacketTunnel/PacketTunnelProvider/BlockedStateErrorMapper.swift
Labels: iOS

#5258 Add stagemole flavor
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/BuildVariants.kt
Labels: Android

#5248 Synchronise presentations for settings and account modals
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
Labels: bug, iOS

#5251 Fix device name not appearing in device logout screen
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/AlertCoordinator.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresentation.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
Labels: bug, iOS

#5166 Migrate redeem voucher dialog into compose
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VoucherDialogUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/GroupedTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/VoucherVisualTransformation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/CommonConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModel.kt
  android/app/src/main/res/layout/redeem_voucher.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/plurals.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  gui/locales/messages.pot
Labels: Android

#5269 Prep iOS for same ip
  ios/MullvadREST/HTTP.swift
  ios/MullvadREST/RESTRequestFactory.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#5272 Use new Android container image
  building/android-container-image.txt
Labels: Android

#5274 Fix some unit tests not running after adding flavors
  .github/workflows/android-app.yml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
Labels: Android

#5278 Remove voucher buttons account and new account views
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
Labels: iOS

#5276 Fix login uiautomator flakiness
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
Labels: Android

#5262 Cache the transportStrategy in the UserDefaults
  ios/MullvadREST/RESTTransportStrategy.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadTransport/TransportProvider.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#5280 Add user agent header for all requests on iOS
  ios/MullvadREST/HTTP.swift
  ios/MullvadREST/RESTRequestFactory.swift
Labels: iOS

#5261 Remove dependency on relay selector from tunnel actor
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelInteractor.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/PacketTunnel/PacketTunnelProvider/AppMessageHandler.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/RelaySelectorWrapper.swift
  ios/PacketTunnelCore/Actor/Actor.swift
  ios/PacketTunnelCore/Actor/Command.swift
  ios/PacketTunnelCore/Actor/Protocols/RelaySelectorProtocol.swift
  ios/PacketTunnelCore/Actor/StartOptions.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCore/IPC/PacketTunnelOptions.swift
  ios/PacketTunnelCore/IPC/RelaySelectorResult+PacketTunnelRelay.swift
  ios/PacketTunnelCore/IPC/TunnelProviderMessage.swift
  ios/PacketTunnelCore/URLRequestProxy/URLRequestProxy.swift
  ios/PacketTunnelCoreTests/Mocks/RelaySelectorStub.swift
Labels: iOS

#5277 Print same-ip message on each connect
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
Labels: iOS

#5256 Add device name and time left to main view
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/OutOfTimeUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/DateExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/CommonStringExtensions.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/AccountExpiry.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/DeviceState.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#5288 Fix skipped konsist tests due to caches
  .github/workflows/android-app.yml
Labels: Android

#5273 Ensure atomicity between (re)connection attempts
  ios/PacketTunnelCore/Actor/Actor+ConnectionMonitoring.swift
  ios/PacketTunnelCore/Actor/Actor.swift
  ios/PacketTunnelCore/Actor/Command.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/ActorTests.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelMonitorStub.swift
Labels: iOS

#5294 Use custom flavor endpoints
  .github/workflows/android-app.yml
  android/lib/endpoint/src/debug/kotlin/net/mullvad/mullvadvpn/lib/endpoint/CustomApiEndpointConfiguration.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/CustomApiEndpointConfiguration.kt
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/di/ApiEndpointModule.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
Labels: Android

#5211 Add color tokens and use some of them in our theme
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ExternalActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/RedeemVoucherButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SitePaymentButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scrollbar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Switch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoadingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/SearchTextField.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/ColorTokens.kt
Labels: Android

#5281 Fix DPAD navigation for Welcome and OutOfTime screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
Labels: Android

#5298 Expose flexible ipc message handling
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/MessageHandler.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionAccountDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/DispatchingHandler.kt
Labels: Android

#5230 Add piping for google play payment API requests
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/PlayPurchase.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/PlayPurchaseInitError.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/PlayPurchaseInitResult.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/PlayPurchaseVerifyError.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/PlayPurchaseVerifyResult.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  mullvad-api/src/lib.rs
  mullvad-api/src/rest.rs
  mullvad-daemon/src/device/api.rs
  mullvad-daemon/src/device/mod.rs
  mullvad-daemon/src/device/service.rs
  mullvad-daemon/src/lib.rs
  mullvad-jni/src/classes.rs
  mullvad-jni/src/daemon_interface.rs
  mullvad-jni/src/lib.rs
  mullvad-types/src/account.rs
Labels: WIP, Android

#5297 Do not show change log when it is empty
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogInteractor.swift
Labels: iOS

#5300 Put app in blocked state on tunnel start if relay constraints cannot be satisfied
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS

#4794 Add filtering to location selection
  ios/CHANGELOG.md
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadTypes/RelayFilter.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/RelayFilterCoordinator.swift
  ios/MullvadVPN/Coordinators/SelectLocationCoordinator.swift
  ios/MullvadVPN/Extensions/Collection+Sorting.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeContentView.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/AddCreditSucceededViewController.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterCellFactory.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterChipView.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSource.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterView.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewController.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/CheckableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDNSInfoCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInputCell.swift
  ios/MullvadVPN/Views/CheckboxView.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/MullvadVPNTests/ServerRelaysResponse+Stubs.swift
  ios/RelaySelector/RelaySelector.swift
Labels: iOS

#5217 Unify button appearance
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/DeviceRevokedLoginButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ExternalActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/RedeemVoucherButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SitePaymentButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ReportProblemNoEmailDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5313 Instrumented tests not using the app theme
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/ComposeRuleExtensions.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
  android/scripts/run-instrumented-tests-locally.sh
Labels: Android

#5308 Fix device name in DeviceList not formatted correctly
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Device.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/DeviceState.kt
Labels: Android

#5302 Introduce observed state IOS-343
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/ObservedState+Extensions.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+Extensions.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorProtocol.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCore/IPC/AppMessageHandler.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/Mocks/PacketTunnelActorStub.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#5316 Replace deprecated runblockingtest
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
Labels: Android

#5311 Fix navigation bar animation
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/BaseFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
Labels: Android

#5322 remove voucher redemption on production
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
Labels: iOS, feature request

#5296 Add redirection callback to voucher dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/WelcomeFragment.kt
Labels: Android

#5319 Fix artifact naming in tagged builds
  ci/buildserver-build-android.sh
Labels: Android

#5301 Add blocked state due to account expiration
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/DeviceCheck+BlockedStateReason.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
Labels: iOS

#5328 Prevent user from navigation while requesting in-app purchase
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
Labels: iOS

#5321 Add build server support for additional android artifacts
  ci/buildserver-upload.sh
Labels: Android

#5338 Build stage and dev builds in build script
  build-apk.sh
Labels: Android

#5336 Add relay ownership enum to relay constraints
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Ownership.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraints.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraintsUpdate.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  mullvad-jni/src/classes.rs
  mullvad-types/src/relay_constraints.rs
Labels: Android

#5257 Add in app banner message for a new device
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/SpannedExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectNotificationState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/AccountExpiryConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/StatusLevel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceUseNotificationCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ErrorNotificationMessage.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5343 Information dialogs not scrollable
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
Labels: Android

#5344 Fix app settings string resources capitalization
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#5360 Update jnix to version 0.5.1
  Cargo.lock
  mullvad-jni/Cargo.toml
  mullvad-types/Cargo.toml
  talpid-core/Cargo.toml
  talpid-tunnel/Cargo.toml
  talpid-types/Cargo.toml
Labels: Android

#5332 Show popup when enabling custom dns server
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/VpnSettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
Labels: Android

#5342 App header can show previous account remaining time
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
Labels: Android

#5361 Add providers model and enable it in the daemon
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Providers.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraints.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelayConstraintsUpdate.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  mullvad-jni/src/classes.rs
  mullvad-types/src/relay_constraints.rs
Labels: Android

#5356 Update privacy strings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/UnitConversion.kt
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#5353 Round textfield unless showing dropdown
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/TextFieldColors.kt
Labels: Android

#5369 Expose ownership and provider for relays
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Relay.kt
  mullvad-types/src/relay_list.rs
Labels: Android

#5362 Prepare for compose navigation
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/SecureScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
Labels: Android

#5354 Make alert view scrollable
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
Labels: iOS

#5372 Fix row paddings and backbutton orientation
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CopyableObfuscationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/InformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5355 Add scroll to privacy disclaimer screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
Labels: Android

#5375 Fix incorrect login success string
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
Labels: Android

#5374 Align icon size
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5371 Prevent handling already processed transactions ios-365
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentEvent.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManagerDelegate.swift
  ios/MullvadVPN/StorePaymentManager/StoreTransactionLog.swift
Labels: iOS

#5384 Select location UI fixes
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/VerticalDivider.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5377 Review top bar
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
Labels: Android

#5367 Migrate settings to Version3 and introduce incremental migration scheme.
  ios/MullvadREST/RESTAuthorization.swift
  ios/MullvadREST/RESTProxy.swift
  ios/MullvadSettings/MigrationManager.swift
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadSettings/StoredWgKeyData.swift
  ios/MullvadSettings/TunnelSettings.swift
  ios/MullvadSettings/TunnelSettingsV1.swift
  ios/MullvadSettings/TunnelSettingsV2.swift
  ios/MullvadSettings/TunnelSettingsV3.swift
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPNTests/InMemorySettingsStore.swift
  ios/MullvadVPNTests/MigrationManagerTests.swift
Labels: iOS
