Repository mullvad/mullvadvpn-app, pull requests merged in 2023-04, with the labels that each got.

#4509 Drop header text in select location controller
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Containers/Navigation/UINavigationBar+Appearance.swift
  ios/MullvadVPN/Coordinators/App/SelectLocationCoordinator.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationHeaderView.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
Labels: iOS

#4513 Handle .subtitle layout in settings cell
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
Labels: iOS

#4514 Replace reconnect tunnel operation with block
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/ReconnectTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS

#4522 Fix missing app verison in settings
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/VersionInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SettingsFragment.kt
Labels: bug, Android

#4482 Add dns content blockers
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomDnsComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/HtmlText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Switch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ContentBlockersInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MalwareInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/AdvancedSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/model/DefaultDnsOptions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModelState.kt
  android/app/src/main/res/drawable/icon_info.xml
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#4544 Hide custom dns warning
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
Labels: Android

#4545 Clarify MTU placeholder
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4546 Prevent submitting empty DNS server
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModel.kt
Labels: Android

#4543 Improve alpha values in advanced settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
Labels: Android

#4548 Fix Custom DNS auto disabling regression
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AdvancedSettingsViewModel.kt
Labels: bug, Android

#4368 Improve android error messages
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/TunnelStateNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/VersionInfoNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ErrorStateCauseExtension.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ErrorStateExtension.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4564 Add device name and time left to header
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
Labels: iOS

#4573 Change feedback text area's placeholder
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4575 Missing header in problem report view
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
Labels: iOS

#4574 Change text hint for problem report
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
Labels: iOS

#4530 Wipe all settings on app reinstall
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/FirstTimeLaunch.swift
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
Labels: iOS

#4595 Reduce code duplication in data sources IOS-123
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
Labels: iOS

#4562 Add a dedicated account button on the main view and remove it from settings
  gui/assets/images/icon-account.svg
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationRouter.swift
  ios/MullvadVPN/Coordinators/App/SettingsCoordinator.swift
  ios/MullvadVPN/Presentation controllers/SecondaryContextPresentationController.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconAccount.imageset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconAccount.imageset/IconAccount.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconSettings.imageset/IconSettings.pdf
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsAccountCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/convert-assets.rb
Labels: iOS

#4586 Change "Time left" on iOS to days and years
  ios/MullvadVPN/Classes/CustomDateComponentsFormatting.swift
  ios/MullvadVPNTests/CustomDateComponentsFormattingTests.swift
Labels: enhancement, iOS

#4571 Device in name in header bar should be capitalized
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
Labels: iOS

#4597 Remember expand content blockers state
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
Labels: Android

#4609 Restructure tidy script
  .github/workflows/android-xml-format-check.yml
  android/README.md
  android/scripts/ci-android-xml.sh
  android/scripts/tidy.sh
Labels: Android

#4610 Add workaround for tidy script issue on macOS
  android/README.md
Labels: Android

#4612 Add separate tidy config for /values
  android/app/src/main/res/values/attrs.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/strings_non_translatable.xml
  android/app/src/main/res/values/styles.xml
  android/scripts/tidy.sh
Labels: Android

#4604 Update content blockers informational dialog
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ContentBlockersInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/res/values-da/strings.xml
  android/app/src/main/res/values-de/strings.xml
  android/app/src/main/res/values-es/strings.xml
  android/app/src/main/res/values-fi/strings.xml
  android/app/src/main/res/values-fr/strings.xml
  android/app/src/main/res/values-it/strings.xml
  android/app/src/main/res/values-ja/strings.xml
  android/app/src/main/res/values-ko/strings.xml
  android/app/src/main/res/values-my/strings.xml
  android/app/src/main/res/values-nb/strings.xml
  android/app/src/main/res/values-nl/strings.xml
  android/app/src/main/res/values-pl/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values-ru/strings.xml
  android/app/src/main/res/values-sv/strings.xml
  android/app/src/main/res/values-th/strings.xml
  android/app/src/main/res/values-tr/strings.xml
  android/app/src/main/res/values-zh-rCN/strings.xml
  android/app/src/main/res/values-zh-rTW/strings.xml
  android/app/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#4614 Fix DPI in asset conversion script IOS-135
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconAccount.imageset/IconAccount.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconArrow.imageset/IconArrow.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconBack.imageset/IconBack.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconChevron.imageset/IconChevron.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconChevronDown.imageset/IconChevronDown.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconChevronUp.imageset/IconChevronUp.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconClose.imageset/IconClose.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconCloseSml.imageset/IconCloseSml.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconCopy.imageset/IconCopy.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconExtlink.imageset/IconExtlink.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconFail.imageset/IconFail.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconObscure.imageset/IconObscure.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconReload.imageset/IconReload.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconSettings.imageset/IconSettings.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconSpinner.imageset/IconSpinner.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconSuccess.imageset/IconSuccess.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconTick.imageset/IconTick.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconTickSml.imageset/IconTickSml.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconUnobscure.imageset/IconUnobscure.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/LocationMarkerSecure.imageset/LocationMarkerSecure.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/LocationMarkerUnsecure.imageset/LocationMarkerUnsecure.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/LogoIcon.imageset/LogoIcon.pdf
  ios/MullvadVPN/Supporting Files/Assets.xcassets/LogoText.imageset/LogoText.pdf
  ios/convert-assets.rb
Labels: iOS

#4532 Improve content blocker settings interface
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/CustomDateComponentsFormatting.swift
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconInfo.imageset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/IconInfo.imageset/IconInfo.pdf
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsContentBlockersHeaderView.swift
  ios/convert-assets.rb
Labels: iOS

#4608 Add in-app banner message for a new device
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootConfiguration.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Extensions/NSAttributedString+Markdown.swift
  ios/MullvadVPN/Notifications/InAppNotificationDescriptor.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotification.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/Notifications/UI/NotificationController.swift
  ios/MullvadVPN/SceneDelegate.swift
Labels: enhancement, iOS

#4621 Change to directional layout margins
  ios/MullvadVPN/Containers/Navigation/UINavigationBar+Appearance.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeContentView.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportSubmissionOverlayView.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsContentBlockersHeaderView.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDNSTextCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsStaticTextFooterView.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
Labels: enhancement, iOS

#4605 Backport block based handler for UIBarButtonItem
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/UIBarButtonItem+Blocks.swift
  ios/MullvadVPN/Extensions/UIBarButtonItem+KeyboardNavigation.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportReviewViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
Labels: iOS

#4615 Update compose scrollbar appearance
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scrollbar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AdvancedSettingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Theme.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceListFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceRevokedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoadingFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/PrivacyDisclaimerFragment.kt
Labels: Android

#4632 Fix crash in VPN settings when footer is updated
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
Labels: bug, iOS

#4629 Fix in-app notification equality and action button color
  ios/MullvadVPN/Notifications/InAppNotificationDescriptor.swift
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/Notifications/UI/NotificationController.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
Labels: iOS

#4634 Disable VectorKit logging IOS-146
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#4626 Add creation date to device name in Too many devices view
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
Labels: enhancement, iOS

#4627 Handle account expiry transitions IOS-90
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/TunnelCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/NotificationConfiguration.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotification.swift
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/TunnelManager/TunnelBlockObserver.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelObserver.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewControllerInteractor.swift
Labels: bug, iOS
