Repository mullvad/mullvadvpn-app, pull requests merged in 2023-12, with the labels that each got.

#5431 Do not fail installation in containers without systemd init
  dist-assets/linux/after-install.sh
  dist-assets/linux/before-install.sh
Labels: Linux

#5538 Fix button spacing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5521 Add devmole and stagemole text logos
  android/app/src/devmole/res/drawable/logo_text.xml
  android/app/src/main/res/drawable/logo_text.xml
  android/app/src/stagemole/res/drawable/logo_text.xml
Labels: Android

#5520 Refactor account deletion in TunnelManager
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/DeleteAccountOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelInteractor.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionInteractor.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewController.swift
Labels: iOS

#5543 Update settings schema to V4 to fix a migration bug in obfuscation settings
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
Labels: iOS

#5556 Update changelog for android/2023.9
  CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#5548 Reflect obfuscation protocol in UI ios 398
  ios/MullvadTypes/TransportLayer.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/Mocks/ProtocolObfuscationStub.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelObfuscationStub.swift
  ios/TunnelObfuscation/UDPOverTCPObfuscator.swift
Labels: iOS

#5512 Improve Purchase api verification
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/PaymentConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/PaymentUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/LongExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
Labels: Android

#5563 Mention UDP-over-TCP obfuscation in changelog
  ios/CHANGELOG.md
Labels: iOS

#5558 Fix screenshots test
  .github/workflows/ios-screenshots.yml
  .github/workflows/ios.yml
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNScreenshots.xcscheme
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/Snapfile
Labels: iOS

#5574 Block OpenVPN relays from being selected on android
  CHANGELOG.md
  mullvad-relay-selector/src/lib.rs
Labels: Android

#5579 Update changelog for android/2023.10-beta1
  CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#5583 Add spm dir to ios screenshots Github action
  .github/workflows/ios-screenshots.yml
Labels: iOS

#5314 Replace EXTERNAL_STORAGE permissions on android api level 33+
  android/app/lint-baseline.xml
  android/app/src/debug/AndroidManifest.xml
  android/test/e2e/src/main/AndroidManifest.xml
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
Labels: Android

#5593 Fix changes dialog dismissal in mockapi tests
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
Labels: Android

#5589 Execute screenshot tests after merging to main
  .github/workflows/ios-screenshots-creation.yml
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios.yml
Labels: iOS

#5551 Scroll to selected country
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#5598 Lift IS_PLAY_BUILD to DI
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/StringExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
Labels: Android

#5600 Create build profile that resembles Release but without signing
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNMockRelease.xcscheme
Labels: iOS

#5599 Export identifiers for accessibility elements
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountDeviceRow.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresentation.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/CreationAccount/Completed/SetupAccountCompletedContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterCellFactory.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
Labels: iOS

#5609 Moving users access methods configuration into ios 420
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksConfiguration.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksTransport.swift
  ios/MullvadREST/Transport/Socks5/AnyIPEndpoint+Socks5.swift
  ios/MullvadREST/Transport/Socks5/Socks5Configuration.swift
  ios/MullvadREST/Transport/Socks5/URLSessionSocks5Transport.swift
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadSettings/AccessMethodKind.swift
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadSettings/AccessMethodRepositoryProtocol.swift
  ios/MullvadSettings/MigrationManager.swift
  ios/MullvadSettings/PersistentAccessMethod.swift
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadSettings/ShadowsocksCipherOptions.swift
  ios/MullvadSettings/TunnelSettings.swift
  ios/MullvadSettings/TunnelSettingsV1.swift
  ios/MullvadSettings/TunnelSettingsV2.swift
  ios/MullvadSettings/TunnelSettingsV3.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccessMethodRepository/PersistentAccessMethod.swift
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTester.swift
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTesterProtocol.swift
  ios/MullvadVPN/AccessMethodRepository/ShadowsocksCipher.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Add/AddAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Add/AddAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Common/ShadowsocksSectionHandler.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodKind+Extension.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodKind.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodValidationError+Helpers.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel+Persistent.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/PersistentAccessMethod+ViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/PersistentProxyConfiguration+ViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Pickers/AccessMethodProtocolPicker.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Pickers/ShadowsocksCipherPicker.swift
  ios/MullvadVPNTests/MigrationManagerTests.swift
Labels: iOS

#5616 Fix background color on welcome screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
Labels: Android

#5614 Align dialog titles
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RemoveDeviceConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardCustomPortDialog.kt
Labels: Android
