Repository mullvad/mullvadvpn-app, pull requests merged in 2023-11, with the labels that each got.

#5397 Push suppression date for unfixed non-critical CVEs
  .github/workflows/android-audit.yml
  android/config/dependency-check-suppression.xml
Labels: Android

#5334 Move "Content blockers" closer to "Custom Dns" setting
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Switch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#5381 Update circularprogressbar to align with design
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CircularProgressIndicator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/InformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5388 Fix button spacing on android
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5402 Allow api override for non-release tag builds
  build-apk.sh
Labels: Android

#5399 Use infra flavor as app label
  android/app/src/debug/AndroidManifest.xml
  android/app/src/devmole/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/stagemole/AndroidManifest.xml
Labels: Android

#5383 Update both RelayListeners and add use cases
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/Provider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionContainer.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/PortRangeUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListFilterUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Request.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelaySettings.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
Labels: Android

#5386 Split tunneling UI fixes
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#5403 Fix expired account UI showing blocked state instead of out of time view
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
Labels: bug, iOS

#5414 Add version code check
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/VerificationConstants.kt
Labels: Android

#5389 Add support for app languages
  CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/main/res/resources.properties
Labels: Android

#5407 fix-font-weights-in-the-device-revoked-view-ios-377
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewController.swift
Labels: enhancement, iOS

#5391 Change account expiry text to display 'less than a day'
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/CustomDateComponentsFormatting.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiry.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPNTests/AccountExpiryTests.swift
  ios/MullvadVPNTests/CustomDateComponentsFormattingTests.swift
Labels: bug, iOS

#5409 Upgrade mockk version to 1.13.8
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#5390 Remove broken test and speed up iOS CI
  .github/workflows/ios.yml
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#5398 Set permissions on log directory
  mullvad-nsis/include/mullvad-nsis.h
  mullvad-nsis/src/lib.rs
  mullvad-paths/Cargo.toml
  mullvad-paths/src/cache.rs
  mullvad-paths/src/lib.rs
  mullvad-paths/src/logs.rs
  mullvad-paths/src/settings.rs
  mullvad-paths/src/windows.rs
  windows/nsis-plugins/src/cleanup/cleaningops.cpp
  windows/nsis-plugins/src/log/log.cpp
  windows/nsis-plugins/src/log/log.vcxproj
Labels: bug, Windows

#5416 Run mockapi tests in firebase test lab
  .github/workflows/android-app.yml
  android/test/firebase-test-lab.yml
Labels: Android

#5424 Limit firebase test execution
  .github/workflows/android-app.yml
Labels: Android

#5426 Disable enumNamespace in swfitlint
  ios/.swiftformat
Labels: iOS

#5429 Fix firebase job condition
  .github/workflows/android-app.yml
Labels: Android

#5412 Exclude build folder from Swiftlint
  ios/.swiftlint.yml
  ios/MullvadVPN/AppDelegate.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
Labels: iOS

#5430 Add missing text about unblocking Internet on device revoked view
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewController.swift
Labels: iOS

#5437 Avoid showing network banners when disconnecting from an error state
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
Labels: iOS

#5345 Add refresh AccountCache from VoucherRedeemer
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/VoucherRedeemer.kt
Labels: Android

#5373 Fix view logs crash
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/StringConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/TimingConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ViewLogsViewModel.kt
Labels: Android

#5440 Fix missing account history on new start
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
Labels: Android

#5396 show outgoing connection on map
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
  ios/MullvadVPN/GeneralAPIs/OutgoingConnectionData.swift
  ios/MullvadVPN/GeneralAPIs/OutgoingConnectionProxy.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/Tunnel/OutgoingConnectionService.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewControllerInteractor.swift
  ios/MullvadVPNTests/MockURLProtocol.swift
  ios/MullvadVPNTests/OutgoingConnectionProxy+Stub.swift
  ios/MullvadVPNTests/OutgoingConnectionProxyTests.swift
  ios/MullvadVPNTests/OutgoingConnectionServiceTests.swift
  ios/MullvadVPNTests/XCTest+Async.swift
Labels: iOS, feature request

#5401 Skip sending account expiry missing events when failing to fetch
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
Labels: Android

#5423 Remove release flag for apk builds with --dev-build flag
  build-apk.sh
Labels: Android

#5450 Add login input test tag
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
Labels: Android

#5365 Fix getDevice method signature
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
Labels: Android

#5455 Fix missing capitalization in device removal dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceRemovalDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Device.kt
Labels: Android

#5456 Fix report problem on email dialog text color
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ReportProblemNoEmailDialog.kt
Labels: Android

#5457 Fix problem reports not being kept correctly
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/dataproxy/MullvadProblemReport.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ProblemReportRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ProblemReportFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemModelTest.kt
Labels: Android

#5459 Add timeout to login screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/LoginConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
Labels: Android

#5387 Fix button highlight and refactor screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/List.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
Labels: Android

#5467 Publish play apk
  build-apk.sh
  ci/buildserver-upload.sh
Labels: Android

#5451 Fix flaky reconnecting test
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#5446 Refactor URLSession out of outgoing connection proxy tests
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/GeneralAPIs/OutgoingConnectionProxy.swift
  ios/MullvadVPN/Protocols/URLSessionProtocol.swift
  ios/MullvadVPNTests/MockURLProtocol.swift
  ios/MullvadVPNTests/OutgoingConnectionProxyTests.swift
  ios/MullvadVPNTests/URLSessionStub.swift
Labels: iOS

#5468 Update changelog for `android/2023.8-beta1`
  CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#5469 Fix crash when getting a billing disconnect callback
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepository.kt
Labels: Android

#5472 Fix collapsible toolbar flickering
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
Labels: Android

#5473 Update AGP & SDK version to 34
  android/app/src/main/AndroidManifest.xml
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/CaptureScreenshotOnFailedTestRule.kt
Labels: Android

#5465 Fix issue with the welcome screen showing up after buying time
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#5471 Reset purchase state when automatically leaving a screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
Labels: Android

#5474 Add value class assertion test
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Providers.kt
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/PaymentProvider.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/ValueClassTests.kt
Labels: Android

#5447 Fix flaky actor tests
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#5477 Fix leak in blocked state
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
Labels: bug, iOS

#5480 Add static analysis tool mobsfscan
  .github/workflows/android-static-analysis.yml
Labels: Android

#5479 Add allow implicit flag
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/SdkUtils.kt
Labels: Android

#5476 Fix account history events being lost because of buffer overflow
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/DispatchingHandler.kt
Labels: Android

#5483 Fix or suppress mobsfscan issues
  .github/workflows/android-static-analysis.yml
  android/app/src/androidTest/AndroidManifest.xml
  android/app/src/debug/AndroidManifest.xml
  android/app/src/devmole/AndroidManifest.xml
  android/app/src/stagemole/AndroidManifest.xml
  android/config/config.mobsf
  android/scripts/tidy.sh
Labels: Android

#5433 Save WireGuard obfuscation settings choice and move DNS settings to a custom view
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInfoButtonItem.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
Labels: iOS

#5443 tls-pinning-via-infoplist-if-thats-easier-to-do-for-ios-386
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#5504 Only build devmole and stagemole builds when api-override supported
  build-apk.sh
Labels: Android

#5492 Fix crash with auto-connect and no permission
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
Labels: Android

#5508 Show out of time instead of negative days in the top bar
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
Labels: Android

#5487 Add payment verification to Connect Screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/PaymentUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#5485 Replace text share with file share
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/provider/MullvadFileProvider.kt
  android/app/src/main/res/xml/provider_paths.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: bug, Android

#5271 Fix clipboard paste bug
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/GroupedTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/VoucherRegexHelper.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/utils/VoucherRegexHelperParameterizedTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
Labels: Android

#5509 Enable forced direct connection for devmole and stagemole builds
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/CustomApiEndpointConfiguration.kt
Labels: Android

#5510 Fix conflicting file provider between build variants
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/provider/MullvadFileProvider.kt
Labels: Android

#5511 Throttle network path updates in packet tunnel
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelPathObserver.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#5514 Refactor packet tunnel to use only a single network path observer
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+NetworkReachability.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitorProtocol.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelMonitorStub.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
Labels: iOS

#5489 Have the PacketTunnel use UDP-over-TCP Obfuscation
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/RelaySelectorWrapper.swift
  ios/PacketTunnel/PacketTunnelProvider/SettingsReader.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCore/Actor/Protocols/RelaySelectorProtocol.swift
  ios/PacketTunnelCore/Actor/Protocols/SettingsReaderProtocol.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/Mocks/PacketTunnelActor+Mocks.swift
  ios/PacketTunnelCoreTests/Mocks/ProtocolObfuscationStub.swift
  ios/PacketTunnelCoreTests/Mocks/RelaySelectorStub.swift
  ios/PacketTunnelCoreTests/Mocks/SettingsReaderStub.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelObfuscationStub.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
  ios/TunnelObfuscation/UDPOverTCPObfuscator.swift
  ios/TunnelObfuscationTests/TunnelObfuscationTests.swift
Labels: iOS
