Repository mullvad/mullvadvpn-app, pull requests merged in 2023-02, with the labels that each got.

#4326 Fix flaky test and app behaviors
  .github/workflows/android-app.yml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/DeviceRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionAccountDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionDeviceDataSource.kt
  android/scripts/run-instrumented-tests-repeat.sh
  android/test/mockapi/build.gradle.kts
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/Extensions.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/DateTimeUtils.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/JsonUtils.kt
Labels: Android

#4330 Handle tunnel issue after reboot
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadLogging/Logging.swift
  ios/MullvadLogging/TextFileOutputStream.swift
  ios/MullvadTypes/KeychainError.swift
  ios/MullvadTypes/PacketTunnelErrorWrapper.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/ProblemReportReviewViewController.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS

#4340 Simplify setting dns options
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ipc/Request.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/CustomDns.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/CustomDns.kt
Labels: Android

#4348 Clean up fragment vm repo package structure
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/ui/fragment/SplitTunnelingFragmentTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AccountRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/DeviceRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/AdvancedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/PreferencesFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SelectLocationFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/SettingsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/BaseFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConfirmDnsDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConfirmNoEmailDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ConnectFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceListFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/DeviceRevokedFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/FragmentArgumentConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LaunchFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoginFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/OutOfTimeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ProblemReportFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/RedeemVoucherDialogFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/SplitTunnelingFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/ViewLogsFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/WelcomeFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/RedeemVoucherButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
Labels: Android

#4351 Expose dns option updates for android UI components
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/CustomDns.kt
Labels: Android

#4357 Enable agp linting in gh actions
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/app/lint-baseline.xml
  android/lib/endpoint/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
Labels: Android

#4362 Tune down logger
  ios/MullvadLogging/Logging.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelMonitor/Pinger.swift
  ios/PacketTunnel/TunnelMonitor/TunnelMonitor.swift
Labels: iOS

#4364 Enable r8 minify and shrinking
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/gradle.properties
Labels: Android

#4367 Change city and country order in connect view
  android/app/src/main/res/layout/connect.xml
Labels: Android

#4373 Migrate loading/launch view to compose
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoadingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LaunchFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/LoadingFragment.kt
  android/app/src/main/res/layout/fragment_compose.xml
  android/app/src/main/res/layout/launch.xml
Labels: Android

#4353 Allow quantum-resistant tunnels (PQ) to work together with multihop
  CHANGELOG.md
  docs/architecture.md
  mullvad-cli/src/cmds/relay.rs
  mullvad-cli/src/cmds/tunnel.rs
  talpid-core/Cargo.toml
  talpid-core/src/firewall/linux.rs
  talpid-core/src/firewall/macos.rs
  talpid-core/src/firewall/windows.rs
  talpid-core/src/tunnel/mod.rs
  talpid-tunnel-config-client/examples/psk-exchange.rs
  talpid-tunnel-config-client/src/lib.rs
  talpid-types/src/net/mod.rs
  talpid-wireguard/src/config.rs
  talpid-wireguard/src/lib.rs
  windows/winfw/src/winfw/fwcontext.cpp
  windows/winfw/src/winfw/mullvadguids.cpp
  windows/winfw/src/winfw/mullvadguids.h
  windows/winfw/src/winfw/rules/baseline/permitvpntunnel.cpp
  windows/winfw/src/winfw/rules/baseline/permitvpntunnel.h
  windows/winfw/src/winfw/rules/baseline/permitvpntunnelservice.cpp
  windows/winfw/src/winfw/rules/baseline/permitvpntunnelservice.h
  windows/winfw/src/winfw/winfw.h
Labels: WIP

#4363 Replace OperationCompletion with plain Result<T, F>
  ios/MullvadREST/RESTAccessTokenManager.swift
  ios/MullvadREST/RESTAuthorization.swift
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTProxy.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccountInteractor.swift
  ios/MullvadVPN/AccountViewController.swift
  ios/MullvadVPN/AddressCacheTracker.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/DeviceManagementInteractor.swift
  ios/MullvadVPN/DeviceManagementViewController.swift
  ios/MullvadVPN/LoginViewController.swift
  ios/MullvadVPN/Operations/ProductsRequestOperation.swift
  ios/MullvadVPN/OutOfTimeInteractor.swift
  ios/MullvadVPN/OutOfTimeViewController.swift
  ios/MullvadVPN/ProblemReportInteractor.swift
  ios/MullvadVPN/ProblemReportSubmissionOverlayView.swift
  ios/MullvadVPN/ProblemReportViewController.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/Result+Extensions.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SettingsManager/Migrations/MigrationFromV1ToV2.swift
  ios/MullvadVPN/StorePaymentManager/SendStoreReceiptOperation.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManagerError.swift
  ios/MullvadVPN/StorePaymentManagerError+Display.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TunnelManager/LoadTunnelConfigurationOperation.swift
  ios/MullvadVPN/TunnelManager/ReconnectTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/RotateKeyOperation.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/StopTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/UpdateAccountDataOperation.swift
  ios/MullvadVPN/TunnelManager/UpdateDeviceDataOperation.swift
  ios/Operations/AsyncOperation.swift
  ios/Operations/InputInjectionBuilder.swift
  ios/Operations/OperationCompletion.swift
  ios/Operations/OperationError.swift
  ios/Operations/ResultBlockOperation.swift
  ios/Operations/ResultOperation+Output.swift
  ios/Operations/ResultOperation.swift
  ios/Operations/TransformOperation.swift
  ios/OperationsTests/OperationConditionTests.swift
  ios/OperationsTests/OperationInputInjectionTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
Labels: iOS
