Repository mullvad/mullvadvpn-app, pull requests merged in 2023-08, with the labels that each got.

#4934 Add copy icon feedback on click
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/AnimatedIconButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CopyableObfuscationView.kt
Labels: Android

#4924 Reduce location flickering in the connect view
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#4939 Fix Disconnect Button color alpha value
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/theme/Color.kt
Labels: Android

#4949 Bump android dependencies
  android/app/lint-baseline.xml
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#4948 Bump container jdk to 17
  android/docker/Dockerfile
Labels: Android

#4955 Bump linux base image used in android image
  android/docker/Dockerfile
  building/sigstore/mullvad/mullvadvpn-app-build-android@sha256=a81d81d3506d1c71c4d50508356f541c645d713f865898c066e30941f0ed2a4a/signature-1
  building/sigstore/mullvad/mullvadvpn-app-build-android@sha256=a81d81d3506d1c71c4d50508356f541c645d713f865898c066e30941f0ed2a4a/signature-2
Labels: Android

#4914 Implement account deletion
  ios/CHANGELOG.md
  ios/MullvadREST/RESTAccountsProxy.swift
  ios/MullvadREST/RESTRequestFactory.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AutomaticKeyboardResponder.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/AccountDeletionCoordinator.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/TunnelManager/DeleteAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionInteractor.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewController.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewModel.swift
  ios/MullvadVPN/View controllers/Login/AccountTextField.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
Labels: iOS, feature request

#4964 Bump container image, jdk, gradle and agp
  .github/workflows/android-app.yml
  .github/workflows/android-audit.yml
  .github/workflows/android-kotlin-format-check.yml
  android/BuildInstructions.md
  android/app/build.gradle.kts
  android/app/lint-baseline.xml
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle.properties
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/lib/common/build.gradle.kts
  android/lib/common/lint-baseline.xml
  android/lib/endpoint/build.gradle.kts
  android/lib/ipc/build.gradle.kts
  android/lib/model/build.gradle.kts
  android/lib/resource/build.gradle.kts
  android/lib/resource/lint-baseline.xml
  android/lib/talpid/build.gradle.kts
  android/scripts/update-lockfile.sh
  android/service/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
  android/tile/build.gradle.kts
  building/android-container-image.txt
Labels: Android

#4945 Fix Connect view DPAD navigation
  android/app/src/main/res/layout/connect.xml
Labels: Android

#4970 Fix deprecation warning
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
Labels: iOS

#4971 Bump android dependencies
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ListItemData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ViewIntent.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SplitTunnelingUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/dataproxy/MullvadProblemReport.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/GetItemResult.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/BlockingController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/BaseFragment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/PlainListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/TwoActionListItemView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/listitemview/WidgetViewController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/notification/InAppNotification.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ConnectionProxy.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionAccountDataSource.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/ListenableScrollView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/WidgetState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/HeaderOrHolder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/Intermittent.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Message.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/DeviceList.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/GetAccountDataResult.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/LocationConstraint.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/RelaySettingsUpdate.kt
  android/lib/resource/lint-baseline.xml
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/DaemonInstance.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/ForegroundNotificationManager.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/AccountCache.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/CustomDns.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/SettingsListener.kt
Labels: Android

#4974 Fix lazy list scroll crash
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: bug, Android

#4972 Cleanup gradle configuration
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/lib/common/build.gradle.kts
  android/lib/endpoint/build.gradle.kts
  android/lib/ipc/build.gradle.kts
  android/lib/model/build.gradle.kts
  android/lib/resource/build.gradle.kts
  android/lib/talpid/build.gradle.kts
  android/service/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
  android/tile/build.gradle.kts
Labels: Android

#4982 Fix split tunneling content alignment
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
Labels: bug, Android

#4951 Fix copy button scaling issue
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/AccountNumberView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CopyableObfuscationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/InformationView.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Text.kt
Labels: Android

#4987 Secure account screen aginst screenshot an screen record
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/fragment/AccountFragment.kt
Labels: Android

#4973 Add a generic version of tunnel settings
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/SettingsManager/DeviceState.swift
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
  ios/MullvadVPN/SettingsManager/StoredAccountData.swift
  ios/MullvadVPN/SettingsManager/StoredDeviceData.swift
  ios/MullvadVPN/SettingsManager/TunnelSettings.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
  ios/MullvadVPN/TunnelManager/LoadTunnelConfigurationOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelBlockObserver.swift
  ios/MullvadVPN/TunnelManager/TunnelInteractor.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelObserver.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
  ios/PacketTunnel/PacketTunnelConfiguration.swift
Labels: iOS

#4992 Introduce MigrationManager
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/MigrationManager/MigrationManager.swift
  ios/MullvadVPN/SettingsManager/SettingsManager.swift
  ios/MullvadVPN/SettingsManager/SettingsStore.swift
  ios/MullvadVPN/SettingsManager/TunnelSettings.swift
  ios/MullvadVPN/SettingsManager/TunnelSettingsV2.swift
Labels: iOS

#4929 Add a UI for wireguard obfuscation preferences
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
Labels: iOS

#4997 Add scroll to account screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
Labels: Android

#4996 Remove iOS 13 code
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Containers/Navigation/UINavigationBar+Appearance.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationCell.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
Labels: iOS

#5005 Enable swiftlint ios 182
  .github/workflows/ios.yml
  ios/.swiftlint.yml
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
Labels: iOS

#5001 Change focus order in select location screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#5012 Promote changelog to modal route IOS-277
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationRouter.swift
  ios/MullvadVPN/Coordinators/App/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/Base/ModalPresentationConfiguration.swift
Labels: iOS

#5008 Introduce PacketTunnelCore framework IOS-219
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/PacketTunnelCore.xcscheme
  ios/PacketTunnel/ObjCBridgingHeader.h
  ios/PacketTunnel/PacketTunnelPathObserver.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/TunnelMonitor/TunnelMonitorDelegate.swift
  ios/PacketTunnel/TunnelMonitor/WgStats.swift
  ios/PacketTunnel/WgAdapterDeviceInfo.swift
  ios/PacketTunnelCore/PacketTunnelCore.h
  ios/PacketTunnelCore/Pinger/ICMPHeader.h
  ios/PacketTunnelCore/Pinger/IPv4Header.h
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCore/Pinger/PingerProtocol.swift
  ios/PacketTunnelCore/TunnelMonitor/DefaultPathObserverProtocol.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelDeviceInfoProtocol.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitorProtocol.swift
  ios/PacketTunnelCore/TunnelMonitor/WgStats.swift
  ios/PacketTunnelCoreTests/PingerTests.swift
  ios/TestPlans/MullvadVPNApp.xctestplan
Labels: iOS

#5013 Make app router more abstract
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationRouter.swift
Labels: iOS

#5019 Extract router and break it down on smaller files IOS-281
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Routing/AppRouteProtocol.swift
  ios/MullvadVPN/Routing/AppRoutes.swift
  ios/MullvadVPN/Routing/ApplicationRouter.swift
  ios/MullvadVPN/Routing/ApplicationRouterDelegate.swift
  ios/MullvadVPN/Routing/ApplicationRouterTypes.swift
Labels: iOS

#5016 TunnelMonitor: add initial connection test
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCore/Pinger/PingerProtocol.swift
  ios/PacketTunnelCoreTests/Mocks/MockDefaultPathObserver.swift
  ios/PacketTunnelCoreTests/Mocks/MockPinger.swift
  ios/PacketTunnelCoreTests/Mocks/MockTunnelDeviceInfo.swift
  ios/PacketTunnelCoreTests/Mocks/NetworkCounters.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
Labels: iOS

#5014 PacketTunnel: refactor parsing of start options
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/StartOptions.swift
Labels: iOS

#5025 Temporarily disable android instrumental tests
  .github/workflows/android-app.yml
Labels: Android

#5030 Fix computed_accessors_order swiftlint violation
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/View controllers/Login/AccountTextField.swift
  ios/MullvadVPN/View controllers/Settings/SettingsSwitchCell.swift
  ios/MullvadVPN/Views/CustomTextView.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
Labels: iOS

#5028 Fix void_function_in_ternary violation
  ios/MullvadVPN/Containers/Root/RootContainerViewController.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
Labels: iOS

#4979 implement in-app purchase in account flow
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppPreferences.swift
  ios/MullvadVPN/Classes/ChangeLog.swift
  ios/MullvadVPN/Classes/TermsOfService.swift
  ios/MullvadVPN/Coordinators/App/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/App/AccountRedeemingVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/App/AddCreditSucceededCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/App/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/App/InAppPurchaseCoordinator.swift
  ios/MullvadVPN/Coordinators/App/LoginCoordinator.swift
  ios/MullvadVPN/Coordinators/App/OutOfTimeCoordinator.swift
  ios/MullvadVPN/Coordinators/App/SettingsRedeemVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/App/SetupAccountCompletedCoordinator.swift
  ios/MullvadVPN/Coordinators/App/TermsOfServiceCoordinator.swift
  ios/MullvadVPN/Coordinators/App/WelcomeCoordinator.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/Presentation controllers/SecondaryContextPresentationController.swift
  ios/MullvadVPN/Routing/AppRoutes.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/SettingsManager/StoredAccountData.swift
  ios/MullvadVPN/TunnelManager/RedeemVoucherOperation.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogInteractor.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogViewModel.swift
  ios/MullvadVPN/View controllers/CreationAccount/Completed/SetupAccountCompletedController.swift
  ios/MullvadVPN/View controllers/CreationAccount/InAppPurchaseInteractor.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeInteractor.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeViewController.swift
  ios/MullvadVPN/View controllers/Login/LoginInteractor.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/AddCreditSucceededViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
Labels: iOS, feature request

#5015 Fix usecompatloadingfordrawables baselint issues
  android/app/lint-baseline.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/AccountLoginBorder.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/widget/UrlButton.kt
Labels: Android

#5037 Check that the custom port is valid when submitting from the keyboard
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialog.kt
Labels: Android

#5035 Eliminate force cast for HTTP response
  ios/MullvadREST/RESTError.swift
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTResponseHandler.swift
Labels: iOS

#5042 Hide account page button in release builds
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
Labels: bug, Android

#5043 Remove text next to back button in collapsings toolbar
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CollapsingTopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#5047 Update CI
  .github/workflows/ios.yml
Labels: iOS

#5041 Change address cache schema IOS-282
  ios/CHANGELOG.md
  ios/MullvadREST/AddressCache.swift
  ios/MullvadVPNTests/AddressCacheTests.swift
Labels: iOS

#5007 Make time intervals more descriptive
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadREST/Duration.swift
  ios/MullvadREST/ExponentialBackoff.swift
  ios/MullvadREST/RESTDefaults.swift
  ios/MullvadREST/RESTNetworkOperation.swift
  ios/MullvadREST/RESTRequestFactory.swift
  ios/MullvadREST/RESTRetryStrategy.swift
  ios/MullvadRESTTests/DurationTests.swift
  ios/MullvadRESTTests/ExponentialBackoffTests.swift
  ios/MullvadTypes/Duration+Extensions.swift
  ios/MullvadTypes/Duration.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/Classes/AccountDataThrottling.swift
  ios/MullvadVPN/Classes/DeviceDataThrottling.swift
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Operations/ProductsRequestOperation.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/WgKeyRotation.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeInteractor.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/DurationTests.swift
  ios/PacketTunnel/PacketTunnelProvider.swift
  ios/PacketTunnel/WgAdapterDeviceInfo.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCoreTests/Mocks/MockPinger.swift
Labels: iOS

#5060 Fix screenshot script and testplan
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNScreenshots.xcscheme
  ios/Snapfile
  ios/TestPlans/MullvadVPNApp.xctestplan
  ios/TestPlans/MullvadVPNCI.xctestplan
  ios/TestPlans/MullvadVPNScreenshots.xctestplan
Labels: iOS

#5056 fix some linting violations
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppPreferences.swift
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/InAppPurchaseCoordinator.swift
  ios/MullvadVPN/Extensions/NSRegularExpression+IPAddress.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Presentation controllers/FormsheetPresentationController.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountDeviceRow.swift
  ios/MullvadVPN/View controllers/Account/AccountExpiryRow.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountNumberRow.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherContentView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/Operations/AsyncOperationQueue.swift
  ios/Shared/ApplicationConfiguration.swift
  ios/Shared/ApplicationTarget.swift
Labels: enhancement, iOS

#5064 Use swiftlint auto fix for trivial lint violations
  ios/MullvadLogging/CustomFormatLogHandler.swift
  ios/MullvadLogging/OSLogHandler.swift
  ios/MullvadREST/RESTRequestHandler.swift
  ios/MullvadVPN/Classes/AutomaticKeyboardResponder.swift
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/RegisteredDeviceInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceInteractor.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewControllerInteractor.swift
  ios/MullvadVPN/Views/CustomTextView.swift
  ios/MullvadVPNTests/DeviceCheckOperationTests.swift
  ios/OperationsTests/AsyncResultBlockOperationTests.swift
  ios/OperationsTests/OperationConditionTests.swift
  ios/OperationsTests/OperationObserverTests.swift
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
  ios/RelaySelector/RelaySelector.swift
  ios/TunnelObfuscationTests/TCPConnection.swift
Labels: iOS

#5073 Bump kotlin and compose
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android
