Repository mullvad/mullvadvpn-app, pull requests merged in 2024-10, with the labels that each got.

#6877 Run mockapi tests 10 times nightly
  .github/workflows/android-app.yml
Labels: Android

#6868 Remove all x86_64 mentions from iOS CI and build scripts
  ios/BuildInstructions.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNUITests/Screenshots/SnapshotHelper.swift
  ios/build-rust-library.sh
Labels: enhancement, iOS

#6887 Separate ICMP reads from writes
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCore/Pinger/TunnelPinger.swift
  ios/PacketTunnelCoreTests/PingerTests.swift
Labels: iOS

#6905 Add info modals to default access methods screens
  ios/MullvadMockData/MullvadREST/AccessMethodRepository+Stub.swift
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadSettings/InfoHeaderConfig.swift
  ios/MullvadSettings/InfoModalConfig.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodSectionIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewControllerDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodHeaderView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/Views/InfoHeaderView.swift
Labels: iOS

#6870 Add smart routing to daita settings data
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadSettings/DAITASettings.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInteractor.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadSettings/TunnelSettingsUpdateTests.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
Labels: iOS

#6904 Upgrade compiler warnings to errors
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/MullvadExposedDropdownMenuBox.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/ApiAccessMethodTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplashViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/ApiAccessRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/RelayListFilterRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/billing/build.gradle.kts
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepository.kt
  android/lib/common-test/build.gradle.kts
  android/lib/common/build.gradle.kts
  android/lib/daemon-grpc/build.gradle.kts
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/util/ManagedChannel.kt
  android/lib/endpoint/build.gradle.kts
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointIntentExtensions.kt
  android/lib/intent-provider/build.gradle.kts
  android/lib/map/build.gradle.kts
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/Map.kt
  android/lib/model/build.gradle.kts
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Constraint.kt
  android/lib/payment/build.gradle.kts
  android/lib/resource/build.gradle.kts
  android/lib/shared/build.gradle.kts
  android/lib/talpid/build.gradle.kts
  android/lib/theme/build.gradle.kts
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/service/build.gradle.kts
  android/test/arch/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/mockapi/build.gradle.kts
  android/tile/build.gradle.kts
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
Labels: Android

#6913 Fix unlabeled buttons in Android app
  android/CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DropdownMenuCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ExpandChevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NavigateButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ImportOverridesByTextScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6771 Add signature verification to gradle dependencies
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.xml
  android/lib/billing/src/androidTest/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
  android/scripts/update-lockfile.sh
Labels: Android

#6927 Suppress CVE-2024-47554
  android/config/dependency-check-suppression.xml
  android/gradle/osv-scanner.toml
Labels: Android

#6851 Update in app expiry notifications over time
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/ResourcesExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryAndroidNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryConstant.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationProvider.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryTickerFlow.kt
Labels: Android

#6925 Fix non-English IME input in custom list input
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CreateCustomListDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomListNameTextField.kt
Labels: Android

#6907 Fix title not having opaque background in relay filter view
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewController.swift
Labels: bug, iOS

#6941 Update dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#6871 Fix smart routing algorithm to select closest relay
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelaySelector+Wireguard.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadSettings/DAITASettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadSettings/DAITASettingsTests.swift
Labels: iOS

#6936 Fix failing log rotation test
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
  ios/MullvadVPNTests/MullvadLogging/LoggingTests.swift
Labels: bug, iOS

#6926 Increase touch target size the 'log out device' button
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
Labels: iOS

#6921 Fix all baselined lint issues
  android/app/build.gradle.kts
  android/app/lint-baseline.xml
  android/app/src/debug/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/ResourcesExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/EditApiAccessMethodViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/main/res/xml/full_backup_content.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsProviderTest.kt
  android/build.gradle.kts
  android/config/baseline.xml
  android/lib/build.gradle.kts
  android/lib/common/src/main/AndroidManifest.xml
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/RelayNameComparator.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/VoucherConstant.kt
  android/lib/resource/build.gradle.kts
  android/lib/resource/lint-baseline.xml
  android/lib/resource/src/main/res/drawable-xhdpi/banner.png
  android/lib/resource/src/main/res/drawable/ic_banner_foreground.xml
  android/lib/resource/src/main/res/drawable/icon_android_mono.xml
  android/lib/resource/src/main/res/mipmap-hdpi/ic_launcher.png
  android/lib/resource/src/main/res/mipmap-mdpi/ic_launcher.png
  android/lib/resource/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/lib/resource/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/lib/resource/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/lib/resource/src/main/res/mipmap/ic_banner.xml
  android/lib/resource/src/main/res/mipmap/ic_launcher.xml
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/test/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/Extensions.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
Labels: Android

#6914 Add end to end connection tests for multihop ios 778
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#6938 Allow settings migration from packet tunnel
  ios/MullvadREST/RetryStrategy/RetryStrategy.swift
  ios/MullvadSettings/MigrationManager.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerMultiProcessUpgradeTests.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadTypes/FileCacheTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#6947 Create info confirm dialog base component
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DaitaConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DiscardChangesDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/InfoConfirmationDialog.kt
Labels: Android

#6949 Add trust for gradle wrapper src
  android/gradle/verification-metadata.xml
Labels: Android

#6948 Fix re-subscribe crash
  android/CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModel.kt
Labels: Android

#6934 Migrate billing repository to unit test
  android/lib/billing/src/androidTest/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
  android/lib/billing/src/test/kotlin/android/content/Context.kt
  android/lib/billing/src/test/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/ClassTest.kt
Labels: Android

#6945 Add support for mutlihop communication with daemon
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/TunnelStatePreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/RelayListRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/WireguardConstraintsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/FromDomain.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/GeoIpLocation.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/WireguardConstraints.kt
Labels: Android

#6952 Fix no relays when in blocked state triggered by Daita
  ios/MullvadSettings/TunnelSettingsV6.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
Labels: bug, iOS

#6964 Update dependencies
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/lint.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#6953 Ignore parse errors from pinger when its socket is closed
  ios/PacketTunnelCore/Pinger/TunnelPinger.swift
Labels: iOS

#6919 Add toggle to enable smart routing
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Extensions/UIListContentConfiguration+Extensions.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Settings/DAITASettingsPromptItem.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPN/View controllers/Settings/SettingsSwitchCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewModel.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInteractor.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsPromptAlertItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
Labels: iOS

#6971 Fix image to ubuntu 22.04
  .github/workflows/android-static-analysis.yml
Labels: Android

#6968 Use a different IP temporarily to fix UITests
  ios/Configurations/Api.xcconfig.template
Labels: iOS

#6975 Always set feature indicator to empty list
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
Labels: Android

#6978 Check AddressCache as well when overriding hostname for SSL validation
  ios/MullvadREST/ApiHandlers/RESTURLSession.swift
  ios/MullvadREST/ApiHandlers/SSLPinningURLSessionDelegate.swift
  ios/MullvadREST/Transport/ProxyConfigurationTransportProvider.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#6912 Add video recording of e2e tests
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/misc/CaptureScreenRecordingsExtension.kt
  android/test/e2e/README.md
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
Labels: Android

#6951 Show create account confirm when user has account
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CreateAccountConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/AccountRepository.kt
  gui/locales/messages.pot
Labels: Android

#6928 Refactor buttons to use UIButton.Configuration
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ButtonCellContentView.swift
  ios/MullvadVPN/Extensions/CGSize+Helpers.swift
  ios/MullvadVPN/Extensions/UIImage+Helpers.swift
  ios/MullvadVPN/UI appearance/NSDirectionalEdgeInsets+Helpers.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/Tunnel/DisconnectSplitButton.swift
  ios/MullvadVPN/Views/AppButton.swift
  ios/MullvadVPN/Views/CustomButton.swift
  ios/MullvadVPN/Views/InAppPurchaseButton.swift
Labels: iOS

#6998 Bump dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#6989 Move changelog to settings
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/TwoRowCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AppInfoScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AppVersionInfoRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AppInfoViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
  gui/locales/messages.pot
Labels: Android

#7006 Fix app going into blocked state on first-time installs
  ios/CHANGELOG.md
  ios/MullvadVPN/AppDelegate.swift
Labels: bug, iOS

#7005 Update changelog for `android/2024.7`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7001 Disable DNS redirect rule when custom DNS is set to localhost
  talpid-core/src/dns/mod.rs
  talpid-core/src/firewall/macos.rs
  talpid-core/src/tunnel_state_machine/connected_state.rs
Labels: macOS

#6950 Update the select location view
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadSettings/DAITASettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppRoutes.swift
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/DAITAInfoView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadSettings/DAITASettingsTests.swift
Labels: iOS

#7014 Add missing header comment in autogenerated file
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
Labels: iOS

#7027 Hide Daita section in settings when logged out
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: bug, iOS

#7026 Fix feature indicator flicker
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/FeatureIndicatorsPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#7033 Update changelog for android `2024.8-beta1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7035 resolve alpha button override issues in configuration
  ios/MullvadVPN/Extensions/UIImage+Helpers.swift
  ios/MullvadVPN/Views/AppButton.swift
  ios/MullvadVPN/Views/CustomButton.swift
Labels: iOS

#7040 Fix text color for disabled state
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/Views/AppButton.swift
  ios/MullvadVPN/Views/CustomButton.swift
Labels: bug, iOS

#6991 Set mullvad vpn service exported to false
  android/app/src/main/AndroidManifest.xml
Labels: Android

#6966 Store unit test report
  .github/workflows/ios.yml
Labels: iOS

#7044 Remove explanatory text for Direct only in settings
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
Labels: iOS

#7018 Disable e2e tests for PR updates
  .github/workflows/android-app.yml
Labels: Android

#7050 Fix relay selector for smart routing
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
Labels: bug, iOS

#7054 Fail with log if device doesn't have a browser
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/UriHandlerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ContextExtensions.kt
Labels: Android

#7047 Use KeyboardType.Number on Amazon FireStick
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Keyboard.kt
Labels: Android

#7073 Prepare android/2024.8-beta2
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7076 Add always on warning to local network sharing info dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/LocalNetworkSharingInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/StringConstant.kt
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#7088 Update changelog with Encrypted DNS Proxy
  android/CHANGELOG.md
Labels: Android

#7087 Add info dialog to Encrypted DNS proxy access method
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessMethodDetailsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/EncryptedDnsProxyInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ApiAccessMethodDetailsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessMethodDetailsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ApiAccessMethodDetailsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ApiAccessMethodDetailsViewModel.kt
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#7096 Add shadowsocks fields to relay list response from the API
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/IPOverrideWrapper.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/ServerRelaysResponse+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayCacheTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
Labels: iOS

#7099 Update minimum iOS version in the README file
  README.md
Labels: iOS

#7020 Update cell layout and behavior for obfuscation methods
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Settings/CheckableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsDetailsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsAddDNSEntryCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDetailsButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
Labels: iOS

#7086 Enable building with SwiftUI
  ios/build-wireguard-go.sh
Labels: iOS

#7093 Add commit_hash to end to end test
  .github/workflows/ios-end-to-end-tests.yml
Labels: iOS

#7089 Avoid deadlocking the Packet Tunnel after a reboot
  ios/MullvadSettings/MigrationManager.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#7066 Show loading spinner when clicking Manage account
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ExternalActionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/AccountUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
Labels: Android

#7094 Update osv scanner ignore dates and remove outdated ignores
  android/gradle/osv-scanner.toml
Labels: Android

#7110 Fix connection detail translations
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/StringConstant.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#7112 Fix relay tests
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
Labels: bug, iOS
