Repository mullvad/mullvadvpn-app, pull requests merged in 2024-01, with the labels that each got.

#5523 Remove unused dependencies
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/lib/billing/build.gradle.kts
  android/lib/billing/src/androidTest/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
  android/lib/ipc/build.gradle.kts
  android/service/build.gradle.kts
Labels: Android

#5646 Update base linux image and go patch
  android/docker/Dockerfile
  android/docker/goruntime-boottime-over-monotonic.diff
Labels: Android

#5559 Update go to version 1.21.3 and wireguard go to 20230223181233
  .github/workflows/daemon.yml
  .github/workflows/desktop-e2e.yml
  android/fdroid-build/init.sh
  building/README.md
  building/android-container-image.txt
  building/linux-container-image.txt
  wireguard/libwg/Android.mk
  wireguard/libwg/go.mod
  wireguard/libwg/go.sum
  wireguard/libwg/goruntime-boottime-over-monotonic.diff
Labels: Android

#5604 Handle Device revoked on connect screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
Labels: Android

#5608 Remove error message when changing the voucher input
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
Labels: Android

#5603 Add username password command
  ios/MullvadREST/Transport/Socks5/AnyIPEndpoint+Socks5.swift
  ios/MullvadREST/Transport/Socks5/Socks5Authentication.swift
  ios/MullvadREST/Transport/Socks5/Socks5Configuration.swift
  ios/MullvadREST/Transport/Socks5/Socks5Connection.swift
  ios/MullvadREST/Transport/Socks5/Socks5Constants.swift
  ios/MullvadREST/Transport/Socks5/Socks5Error.swift
  ios/MullvadREST/Transport/Socks5/Socks5ForwardingProxy.swift
  ios/MullvadREST/Transport/Socks5/Socks5UsernamePasswordCommand.swift
  ios/MullvadREST/Transport/Socks5/URLSessionSocks5Transport.swift
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#5657 Change OK text into Delete Account text
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
Labels: iOS

#5667 Run e2e tests nightly in GH actions
  .github/workflows/android-app.yml
Labels: Android

#5221 Add api level check to request Notification permission
  android/app/lint-baseline.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/lib/common/build.gradle.kts
  android/lib/common/lint-baseline.xml
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/SdkUtils.kt
  android/lib/resource/lint-baseline.xml
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
Labels: Android

#5663 Remove TestActivity and related files since it is not needed
  android/app/src/debug/AndroidManifest.xml
  android/app/src/debug/kotlin/net/mullvad/mullvadvpn/TestActivity.kt
  android/app/src/debug/res/layout/activity_test.xml
Labels: Android

#5683 Add mockapi tests for successful and failed account creation
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/mockapi/build.gradle.kts
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/constant/Constants.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/JsonUtils.kt
Labels: Android

#5684 Ignore ImpliedQuantity lint issue
  android/lib/resource/lint-baseline.xml
  android/lib/resource/lint.xml
Labels: Android

#5686 Fix remaining junit4 tests and add Konsist checks to avoid using junit4 in the future
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/gradle/verification-metadata.xml
  android/lib/ipc/build.gradle.kts
  android/lib/ipc/src/androidTest/kotlin/net/mullvad/mullvadvpn/lib/ipc/HandlerFlowTest.kt
  android/test/arch/build.gradle.kts
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/JUnitTests.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
Labels: Android

#5678 Add login UI tests
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNUITests.xcscheme
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Containers/Root/HeaderBarView.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/TermsOfService/TermsOfServiceContentView.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/BaseUITestCase.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Pages/Alert.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/TermsOfServicePage.swift
  ios/TestPlans/MullvadVPNUITests.xctestplan
Labels: iOS

#5648 using access methods in transport layer
  ios/MullvadREST/Transport/AccessMethodIterator.swift
  ios/MullvadREST/Transport/LastReachableApiAccessCache.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksLoader.swift
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadREST/Transport/TransportStrategy.swift
  ios/MullvadRESTTests/AccessMethodRepositoryStub.swift
  ios/MullvadRESTTests/ShadowsocksLoaderStub.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadSettings/AccessMethodRepositoryProtocol.swift
  ios/MullvadSettings/AppStorage.swift
  ios/MullvadSettings/PersistentAccessMethod.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccessMethodRepository/AccessMethodRepository.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AppPreferences.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodKind.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPNTests/APIAccessMethodsTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#5677 Add a staging configuration that automatically targets the staging environment
  .github/workflows/ios-screenshots-creation.yml
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios.yml
  ios/BuildInstructions.md
  ios/Configurations/Api.xcconfig.template
  ios/Configurations/App.xcconfig.template
  ios/Configurations/Base.xcconfig.template
  ios/Configurations/PacketTunnel.xcconfig.template
  ios/Configurations/Screenshots.xcconfig.template
  ios/MullvadREST/ApiHandlers/RESTDefaults.swift
  ios/MullvadREST/Info.plist
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNMockRelease.xcscheme
  ios/MullvadVPNScreenshots/Info.plist
  ios/MullvadVPNTests/Info.plist
  ios/build-rust-library.sh
  ios/relays-prebuild.sh
Labels: iOS

#5698 Run stagemole tests in firebase
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/BuildVariants.kt
  android/scripts/run-instrumented-tests.sh
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/annotation/SkipForFlavors.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/constant/AppConstants.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/e2e/build.gradle.kts
  android/test/e2e/e2e.properties
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LaunchAppTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/WebLinkTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/ConnCheckConstants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/Constants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/UrlConstants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/firebase/e2e-play-stagemole.yml
  android/test/firebase/mockapi-oss.yml
  android/test/mockapi/build.gradle.kts
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/constant/Constants.kt
Labels: Android

#5672 Block Accept Privacy until service is ready
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/StartupConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/PrivacyDisclaimerViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplashViewModel.kt
Labels: Android

#5689 Add mockapi test for handling too many devices
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LogoutMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/constant/Constants.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/JsonUtils.kt
Labels: Android

#5596 Try to mitigate missing relay list errors
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/FilterConstrainExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
Labels: Android

#5704 reusing existing connection for requests
  ios/MullvadREST/Transport/AccessMethodIterator.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksConfiguration.swift
  ios/MullvadREST/Transport/Socks5/Socks5Configuration.swift
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadREST/Transport/TransportStrategy.swift
  ios/MullvadRESTTests/AccessMethodRepositoryStub.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadSettings/AccessMethodRepositoryProtocol.swift
Labels: iOS

#5708 Remove socks5 authentication check from the TransportStrategy layer
  ios/MullvadREST/Transport/TransportStrategy.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadSettings/PersistentAccessMethod.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel+Persistent.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/PersistentProxyConfiguration+ViewModel.swift
Labels: enhancement, iOS

#5688 Add preliminary settings page for relay IP overrides
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
Labels: iOS

#5709 Fix App Icon crashes in Split Tunneling
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsIconManager.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PackageManagerExtensions.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsIconManagerTest.kt
Labels: Android

#5712 Update android gradle plugin version to 8.2.1
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#5701 Add ad blocking test for iOS
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Preferences/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/Views/CustomSwitch.swift
  ios/MullvadVPNUITests/BaseUITestCase.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Pages/Alert.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/TermsOfServicePage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/XCUIElementQuery+Extensions.swift
Labels: iOS

#5713 Enable testing API access with a given configuration
  ios/MullvadREST/ApiHandlers/APIAvailabilityTestRequest.swift
  ios/MullvadREST/ApiHandlers/HTTP.swift
  ios/MullvadREST/Transport/ProxyConfigurationTransportProvider.swift
  ios/MullvadREST/Transport/RESTTransportProvider.swift
  ios/MullvadRESTTests/HeadRequestTests.swift
  ios/MullvadRESTTests/Mocks/RESTTransportStub.swift
  ios/MullvadRESTTests/RequestExecutorTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTester.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/SceneDelegate.swift
Labels: iOS

#5729 Add a local network probe to trigger local network privacy dialog
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AccessMethodRepository/LocalNetworkProbe.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Add/AddAccessMethodCoordinator.swift
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#5735 Currently in use api access method should be visible in UI
  ios/MullvadREST/Transport/AccessMethodIterator.swift
  ios/MullvadREST/Transport/LastReachableApiAccessCache.swift
  ios/MullvadREST/Transport/TransportStrategy.swift
  ios/MullvadRESTTests/AccessMethodRepositoryStub.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadSettings/AccessMethodRepositoryProtocol.swift
  ios/MullvadSettings/PersistentAccessMethod.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ListCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ListCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Common/AccessMethodViewModelEditing.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodInteractorProtocol.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewControllerDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractorProtocol.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodItem.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel+Persistent.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#5734 Forward tunnel device errors to frontends
  gui/src/main/daemon-rpc.ts
  gui/src/shared/daemon-rpc-types.ts
  gui/src/shared/notifications/error.ts
  mullvad-management-interface/proto/management_interface.proto
  mullvad-management-interface/src/types/conversions/states.rs
  talpid-core/src/tunnel/mod.rs
  talpid-core/src/tunnel_state_machine/connecting_state.rs
  talpid-openvpn/src/lib.rs
  talpid-routing/src/unix/mod.rs
  talpid-routing/src/windows/mod.rs
  talpid-types/src/tunnel.rs
  talpid-wireguard/src/lib.rs
  talpid-wireguard/src/wireguard_go.rs
  talpid-wireguard/src/wireguard_nt.rs
Labels: Windows

#5732 Replace secondary container with solid color
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/ColorTokens.kt
Labels: Android

#5739 Enable API access methods for release builds
  ios/CHANGELOG.md
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractorProtocol.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
Labels: iOS
