Repository mullvad/mullvadvpn-app, pull requests merged in 2024-02, with the labels that each got.

#5744 Increase timeout for ensure account creation failure
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
Labels: Android

#5747 Remove old and unused Localizible file
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/en.lproj/Localizable.strings
Labels: iOS

#5731 Modified ad blocking test flow
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#5733 Remove all direct usages of mullvad colors
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CheckboxCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/FilterChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/SearchTextField.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/ColorTokens.kt
Labels: Android

#5764 Increase actions retention to 7 days
  .github/workflows/android-app.yml
Labels: Android

#5742 Fix SplitTunnelingScreen and SplitTunnelingCell
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/HeaderCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5768 Fix gradle asset task dependency
  android/app/build.gradle.kts
Labels: Android

#5539 Add detekt
  .github/workflows/android-app.yml
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PackageManagerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionDeviceDataSourceTest.kt
  android/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Extensions.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/baseline.xml
  android/config/detekt.yml
  android/gradle/verification-metadata.xml
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepository.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/CommonStringExtensions.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/HandlerFlow.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/SettingsListener.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/AccountExpiryNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/TunnelStateNotification.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/DataClassTests.kt
Labels: Android

#5748 Refactor TunnelManager account setting methods replacing callbacks with async
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionInteractor.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewController.swift
  ios/MullvadVPN/View controllers/Login/LoginInteractor.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherInteractor.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
Labels: iOS

#5757 Update compose to 1.6.0 and related dependencies
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/FilterChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle.properties
  android/gradle/verification-metadata.xml
  android/test/mockapi/build.gradle.kts
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountHistoryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
Labels: Android

#5770 Get rid of swiftlint warnings and move files around
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/RedeemVoucher/RedeemVoucherViewController.swift
  ios/PacketTunnelCore/TunnelMonitor/PingStats.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitorState.swift
Labels: iOS

#5722 Allow users to import settings by pasting json blobs
  ios/MullvadSettings/IPOverride.swift
  ios/MullvadSettings/IPOverrideRepository.swift
  ios/MullvadSettings/SettingsStore.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideStatus.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideStatusView.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideTextViewController.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewControllerDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Extensions/URL+Scoping.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPNTests/IPOverrideRepositoryTests.swift
  ios/MullvadVPNTests/IPOverrideTests.swift
Labels: iOS

#5724 Relay selector should use overridden ip addresses for relays
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/AnyRelay.swift
  ios/MullvadREST/Relay/IPOverrideWrapper.swift
  ios/MullvadREST/Relay/RelayCache.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadSettings/IPOverride.swift
  ios/MullvadSettings/IPOverrideRepository.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideTextViewController.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Extensions/URL+Scoping.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractorFactory.swift
  ios/MullvadVPNTests/IPOverrideRepositoryStub.swift
  ios/MullvadVPNTests/IPOverrideRepositoryTests.swift
  ios/MullvadVPNTests/IPOverrideWrapperTests.swift
  ios/MullvadVPNTests/RelayCacheTests.swift
  ios/MullvadVPNTests/RelayCacheTracker+Stubs.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/RelaySelectorWrapper.swift
Labels: iOS

#5754 Improve DeviceListScreen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#5781 Fix background color in report view controller
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportReviewViewController.swift
Labels: iOS

#5758 Added the beginning of unit tests fro StartTunnelOperation
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/Tunnel.swift
  ios/MullvadVPNTests/Mocks/MockTunnel.swift
  ios/MullvadVPNTests/Mocks/MockTunnelInteractor.swift
  ios/MullvadVPNTests/StartTunnelOperationTests.swift
  ios/Shared/ApplicationTarget.swift
Labels: iOS

#5766 Exercise custom schemas in ci ios 448
  .github/workflows/ios-validate-build-schemas.yml
Labels: iOS

#5786 Fix flaky account history mockapi test
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountHistoryMockApiTest.kt
Labels: Android

#5697 Bind to the service in a coroutine to avoid a crash
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#5737 Add support for custom lists
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/CustomListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/Relay.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayCountry.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayNameComparator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/RelayListListener.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/relaylist/RelayNameComparatorTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/LocationConstraintExtensions.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Event.kt
  android/lib/ipc/src/main/kotlin/net/mullvad/mullvadvpn/lib/ipc/Request.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/CustomList.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/CustomListsSettings.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Settings.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/CustomLists.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/RelayListListener.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/ServiceEndpoint.kt
  mullvad-jni/src/classes.rs
  mullvad-jni/src/daemon_interface.rs
  mullvad-jni/src/lib.rs
  mullvad-types/src/custom_list.rs
  mullvad-types/src/settings/mod.rs
Labels: Android

#5759 Automatic MTU detection Windows
  talpid-core/src/tunnel/mod.rs
  talpid-windows/src/net.rs
  talpid-wireguard/Cargo.toml
  talpid-wireguard/src/lib.rs
Labels: Windows

#5796 Reorder ProblemReportViewController and get rid of swiftlint warnings
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController+ViewManagement.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewModel.swift
  ios/MullvadVPNTests/StartTunnelOperationTests.swift
Labels: iOS

#5804 Resurface the list of allowedIPs to make it configurable
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
  ios/PacketTunnelCore/Actor/ConfigurationBuilder.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/Protocols/TunnelAdapterProtocol.swift
Labels: iOS

#5805 Fix MTU detection below 1280 with IPv6 on windows
  talpid-windows/src/net.rs
  talpid-wireguard/src/mtu_detection.rs
Labels: bug, Windows

#5806 Add quantum resistance settings to preferences view if DEBUG is set
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesCellFactory.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSource.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInfoButtonItem.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesInteractor.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewController.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesViewModel.swift
Labels: iOS

#5780 Expose mullvad-api to iOS UI tests
  Cargo.lock
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNUITests/BridgingHeader.h
  ios/MullvadVPNUITests/MullvadApi.swift
  mullvad-api/Cargo.toml
  mullvad-api/build.rs
  mullvad-api/include/mullvad-api.h
  mullvad-api/src/address_cache.rs
  mullvad-api/src/ffi/device.rs
  mullvad-api/src/ffi/error.rs
  mullvad-api/src/ffi/mod.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/rest.rs
  mullvad-daemon/src/device/service.rs
  talpid-time/src/unix.rs
Labels: iOS

#5816 Fix the mullvad API ffi, consume the header after building it
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNUITests/MullvadApi.swift
  mullvad-api/src/ffi/mod.rs
Labels: iOS

#5817 Build MullvadVPNUITests post merge to guarantee it is not accidentally broken
  .github/workflows/ios-validate-build-schemas.yml
Labels: iOS

#5797 Android GL maps
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/AnimationConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/lib/map/build.gradle.kts
  android/lib/map/src/main/AndroidManifest.xml
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/CameraAnimation.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/Map.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/data/CameraPosition.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/data/GlobeColors.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/data/LocationMarkerColors.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/data/MapViewState.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/data/Marker.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/Constants.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/GLHelper.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/MapGLRenderer.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/MapGLSurfaceView.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/shapes/Globe.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/shapes/LocationMarker.kt
  android/lib/map/src/main/res/raw
  android/lib/model/build.gradle.kts
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/GeoIpLocation.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/GeographicLocationConstraint.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/LatLong.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Latitude.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Longitude.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LatLongTest.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LatitudeTest.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LongitudeTest.kt
  android/settings.gradle.kts
  mullvad-types/src/location.rs
Labels: Android

#5641 Add enable/disable button to Split Tunnelling
  CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SplitTunnelingUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/SplitTunneling.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/endpoint/SplitTunneling.kt
  gui/locales/messages.pot
Labels: Android

#5782 storing custom list into settings
  ios/MullvadSettings/CustomList.swift
  ios/MullvadSettings/CustomListRepository.swift
  ios/MullvadSettings/CustomListRepositoryProtocol.swift
  ios/MullvadSettings/SettingsStore.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/CustomListRepositoryTests.swift
Labels: iOS

#5643 Add guide for auto connect and lockdown mode
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SystemVpnSettingsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/config/detekt.yml
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ContextExtensions.kt
  android/lib/resource/src/main/res/drawable-hdpi/carousel_slide_1_cogwheel.png
  android/lib/resource/src/main/res/drawable-hdpi/carousel_slide_2_always_on.png
  android/lib/resource/src/main/res/drawable-hdpi/carousel_slide_3_block_connections.png
  android/lib/resource/src/main/res/drawable-mdpi/carousel_slide_1_cogwheel.png
  android/lib/resource/src/main/res/drawable-mdpi/carousel_slide_2_always_on.png
  android/lib/resource/src/main/res/drawable-mdpi/carousel_slide_3_block_connections.png
  android/lib/resource/src/main/res/drawable-xhdpi/carousel_slide_1_cogwheel.png
  android/lib/resource/src/main/res/drawable-xhdpi/carousel_slide_2_always_on.png
  android/lib/resource/src/main/res/drawable-xhdpi/carousel_slide_3_block_connections.png
  android/lib/resource/src/main/res/drawable-xxhdpi/carousel_slide_1_cogwheel.png
  android/lib/resource/src/main/res/drawable-xxhdpi/carousel_slide_2_always_on.png
  android/lib/resource/src/main/res/drawable-xxhdpi/carousel_slide_3_block_connections.png
  android/lib/resource/src/main/res/drawable-xxxhdpi/carousel_slide_1_cogwheel.png
  android/lib/resource/src/main/res/drawable-xxxhdpi/carousel_slide_2_always_on.png
  android/lib/resource/src/main/res/drawable-xxxhdpi/carousel_slide_3_block_connections.png
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  gui/locales/messages.pot
Labels: Android

#5778 Refactor LocationDataSource for custom lists
  ios/MullvadTypes/RelayLocation.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationNodeProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationSection.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationViewController.swift
Labels: enhancement, iOS

#5818 Add UI for adding and editing a custom list
  ios/MullvadSettings/CustomList.swift
  ios/MullvadSettings/CustomListRepository.swift
  ios/MullvadSettings/CustomListRepositoryProtocol.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/AddCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListCellConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListDataSourceConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListItemIdentifier.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListSectionIdentifier.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListValidationError.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewModel.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/SelectLocationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsCellConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsValidationErrorContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodValidationError.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsFieldValidationErrorConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsFieldValidationErrorContentView.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPNTests/CustomListRepositoryTests.swift
Labels: iOS

#5845 Fix location selection list gaps by bumping compose
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: bug, Android

#5788 Adjust relay selector to support custom lists
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadTypes/RelayLocation.swift
  ios/MullvadVPN/Coordinators/SelectLocationCoordinator.swift
  ios/MullvadVPNTests/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadSettings/TunnelSettingsUpdateTests.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
Labels: iOS

#5854 Fix compose tests not drawing edge-to-edge
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/ComposeRuleExtensions.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/PaymentDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
Labels: Android

#5851 Enable IP Override, and fix text color in it
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideTextViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
Labels: iOS

#5853 Include IP Overrides in changelog
  ios/CHANGELOG.md
Labels: iOS

#5824 GitHub actions workflow for iOS end to end tests
  .github/workflows/ios-end-to-end-tests.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNUITests.xcscheme
  ios/MullvadVPNUITests/README.md
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
  ios/TestPlans/MullvadVPNUITestsAll.xctestplan
  ios/TestPlans/MullvadVPNUITestsSmoke.xctestplan
Labels: iOS

#5838 Rename tests to new format
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VoucherDialogUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PaymentAvailabilityExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/applist/ApplicationsProviderTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/relaylist/RelayNameComparatorTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ConnectionProxyTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/ServiceConnectionDeviceDataSourceTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceUseNotificationCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/PlayPaymentUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/utils/VoucherRegexHelperParameterizedTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/PaymentViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/billing/src/androidTest/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/extension/ProductDetailsResultToPaymentAvailability.kt
  android/lib/billing/src/test/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingPaymentRepositoryTest.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LatitudeTest.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LongitudeTest.kt
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/model/PaymentAvailability.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/JUnitTest.kt
Labels: Android

#5867 Add problem report test
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportSubmissionOverlayView.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController+ViewManagement.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Pages/ProblemReportPage.swift
  ios/MullvadVPNUITests/Pages/ProblemReportSubmittedPage.swift
  ios/MullvadVPNUITests/SettingsTests.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
Labels: iOS
