Repository mullvad/mullvadvpn-app, pull requests merged in 2024-04, with the labels that each got.

#6042 Refactor PacketTunnelActor State, decoupling state from ancilliary data
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+KeyPolicy.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+NetworkReachability.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#6057 Fix provider text color
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CheckboxCell.kt
Labels: Android

#6045 Fix a race condition bug involving timers and async tasks
  ios/PacketTunnelCore/Actor/Task+Duration.swift
  ios/PacketTunnelCoreTests/TaskSleepTests.swift
Labels: iOS

#6058 Fix blocked connection text color
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
Labels: Android

#6056 Fix custom list expand animations
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#6022 Test updating between app versions and nightly test runs
  .github/actions/ios-end-to-end-tests/action.yml
  .github/workflows/ios-end-to-end-tests-settings-migration.yml
  .github/workflows/ios-end-to-end-tests.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNUITests.xcscheme
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDNSTextCell.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/Pages/DNSSettingsPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/README.md
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
  ios/MullvadVPNUITests/XCUIElement+Extensions.swift
  ios/TestPlans/MullvadVPNUITestsAll.xctestplan
  ios/TestPlans/MullvadVPNUITestsChangeDNSSettings.xctestplan
  ios/TestPlans/MullvadVPNUITestsChangeSettings.xctestplan
  ios/TestPlans/MullvadVPNUITestsVerifyDNSSettingsChanged.xctestplan
  ios/TestPlans/MullvadVPNUITestsVerifySettingsChanged.xctestplan
Labels: iOS

#5968 Adjust UI to allow adding elements to a custom list ios 490
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsDataSource.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListDataSourceConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditLocationsCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListViewController.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListLocationNodeBuilder.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/InMemoryCustomListRepository.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDiffableDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSection.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
Labels: iOS

#6059 Move and rename map gl data
  android/lib/map/src/main/res/raw
  dist-assets/geo/land_contour_indices.gl
  dist-assets/geo/land_positions.gl
  dist-assets/geo/land_triangle_indices.gl
  dist-assets/geo/ocean_indices.gl
  dist-assets/geo/ocean_positions.gl
  gui/src/main/index.ts
  gui/tasks/assets.js
  gui/tasks/watch.js
Labels: Android

#6071 Avoid rendering bitmaps above 100MB
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Bitmap.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PackageManagerExtensions.kt
Labels: Android

#6062 Fix Relayselector not resolving locations under certain constraints
  ios/MullvadREST/Relay/RelaySelector.swift
Labels: bug, iOS

#6061 Fix floating effect for custom list description
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#6064 Add connection retry logic test
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPNUITests/Networking/FirewallRule.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#6069 Fix location selection bug on iPad
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
Labels: bug, iOS

#6041 Test custom DNS
  .github/workflows/ios-end-to-end-tests.yml
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#6060 Remove Split tunneling disabled description
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6095 Update main with `android/2024.1`
  CHANGELOG.md
  dist-assets/android-product-version.txt
Labels: Android

#6074 Fix nightly iOS end-to-end tests not ran
  .github/workflows/ios-end-to-end-tests.yml
Labels: bug, iOS

#6094 Enable release mode for custom list
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/SelectLocation/InMemoryCustomListRepository.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSection.swift
Labels: iOS

#6098 Move android changes to `android/CHANGELOG.md`
  .github/workflows/check-changelog.yml
  CHANGELOG.md
  android/CHANGELOG.md
  audits/2022-10-14-atredis.md
  prepare-release.sh
Labels: Android

#6096 Change action sheet tint color
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
Labels: enhancement, iOS

#6103 Revise navigation for empty Custom Lists
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListViewController.swift
Labels: enhancement, iOS

#5983 Move the title 'Server IP Override' up
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Containers/Navigation/UINavigationBar+Appearance.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ListCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/TextCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideHeaderView.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewControllerDelegate.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: iOS

#6049 Add time left properly displayed test
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Account/AccountExpiryRow.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Networking/MullvadAPIWrapper.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
Labels: iOS

#5961 Test app relay connection
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
Labels: iOS

#6106 Alphabetical sorting for custom list locations ios 604
  ios/MullvadVPN/View controllers/SelectLocation/CustomListLocationNodeBuilder.swift
Labels: bug, iOS

#6118 Suppress Joda-Time CVE-2024-23080
  android/config/dependency-check-suppression.xml
  android/test/test-suppression.xml
Labels: Android

#6117 Update F-Droid description
  android/src/main/play/listings/en-US/full-description.txt
Labels: Android

#6105 Prevent duplicate list names in custom lists
  ios/MullvadSettings/CustomListRepository.swift
Labels: bug, iOS

#6123 Add default settings when app is uninstalled
  ios/MullvadVPN/AppDelegate.swift
Labels: bug, iOS

#6079 Intercept back button when leaving an unsaved custom list
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/InterceptibleNavigationController.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsDataSource.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewModel.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditLocationsCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderView.swift
Labels: iOS

#6131 Limit the name of a custom list to 30 characters
  ios/MullvadVPN/Coordinators/CustomLists/CustomListCellConfiguration.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
Labels: bug, iOS

#6132 Fix overflow & max lines for custom list name
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/TwoRowCell.kt
Labels: Android

#6134 Trim custom list name and limit to 30 characters
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/data/DummyRelayItems.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/communication/CustomListAction.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/communication/CustomListResult.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CustomListNameTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/CustomListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/customlists/CustomListActionUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/CreateCustomListDialogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/EditCustomListNameDialogViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/CustomListActionUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/EditCustomListViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/CustomListName.kt
Labels: Android

#6084 Show loading states in purchasing flow an extra minimum amount of time
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/PaymentUseCase.kt
Labels: Android

#6110 Change log rotation to a quota based system
  ios/MullvadLogging/Date+LogFormat.swift
  ios/MullvadLogging/LogRotation.swift
  ios/MullvadLogging/Logging.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/ConsolidatedApplicationLog.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPNTests/LogRotationTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS

#6138 Fix formatting issues with swiftformat
  ios/MullvadVPNTests/LogRotationTests.swift
Labels: iOS

#6140 Align server IP override title with desktop
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6101 Add app version to start of each log file
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadLogging/Logging.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/LoggingTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#6135 Show all locations for custom lists in edit locations and detail view
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/data/DummyRelayItems.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/PreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/customlists/CustomListActionUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/relaylist/RelayNameComparatorTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/CustomListActionUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
Labels: Android

#6142 Update changelog for android/2024.2 beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#6120 Fix for failing nightly iOS end to end tests
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Pages/DNSSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
  ios/MullvadVPNUITests/Test base classes/LoggedInWithoutTimeUITestCase.swift
Labels: iOS

#6147 Fix missing cities and relays in custom list
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
Labels: Android

#6149 Remove support for iPad layout
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#6156 Fix duplicate entries when adding through bottom sheet
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModelTest.kt
Labels: Android

#6157 Add delete custom list entry bottom sheet
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/lib/resource/src/main/res/drawable/ic_remove.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6159 Only show blue top bar in the welcome screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
Labels: Android

#6163 Update android editorconfig to the latest from ktfmt repository
  android/.editorconfig
Labels: Android

#6172 Revert "Remove support for iPad layout"
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#6174 Fix iPad location selection entries not being unmarked as selected
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
Labels: bug, iOS

#6148 Add UITest for creating a custom list Part 1
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListCellConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListViewController.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPNUITests/CustomListsTests.swift
  ios/MullvadVPNUITests/Pages/CustomListPage.swift
  ios/MullvadVPNUITests/Pages/EditCustomListLocationsPage.swift
  ios/MullvadVPNUITests/Pages/ListCustomListsPage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/XCUIElementQuery+Extensions.swift
Labels: iOS

#6185 Reorganise MullvadVPNTests hierarchy to match hierarchy of code under test
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
  ios/MullvadVPNTests/MullvadLogging/LoggingTests.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/APIProxy+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/AccessTokenManager+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/AccountsProxy+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/AddressCacheTests.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/DevicesProxy+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/RESTRequestExecutor+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/ServerRelaysResponse+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/Relay/CoordinatesTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayCacheTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadSettings/APIAccessMethodsTests.swift
  ios/MullvadVPNTests/MullvadSettings/CustomListsRepositoryStub.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideRepositoryStub.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideRepositoryTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
  ios/MullvadVPNTests/MullvadSettings/InMemorySettingsStore.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadTypes/AccountMock.swift
  ios/MullvadVPNTests/MullvadTypes/DeviceMock.swift
  ios/MullvadVPNTests/MullvadTypes/DurationTests.swift
  ios/MullvadVPNTests/MullvadTypes/FileCacheTests.swift
  ios/MullvadVPNTests/MullvadTypes/FixedWidthIntegerArithmeticsTests.swift
  ios/MullvadVPNTests/MullvadTypes/MockFileCache.swift
  ios/MullvadVPNTests/MullvadTypes/RelayConstraintsTests.swift
  ios/MullvadVPNTests/MullvadVPN/Classes/CustomDateComponentsFormattingTests.swift
  ios/MullvadVPNTests/MullvadVPN/Classes/InputTextFormatterTests.swift
  ios/MullvadVPNTests/MullvadVPN/Extensions/StringTests.swift
  ios/MullvadVPNTests/MullvadVPN/GeneralAPIs/OutgoingConnectionProxy+Stub.swift
  ios/MullvadVPNTests/MullvadVPN/GeneralAPIs/OutgoingConnectionProxyTests.swift
  ios/MullvadVPNTests/MullvadVPN/Notifications/NotificationProviders/AccountExpiryTests.swift
  ios/MullvadVPNTests/MullvadVPN/PacketTunnel/DeviceCheck/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/MullvadVPN/Protocols/URLSessionStub.swift
  ios/MullvadVPNTests/MullvadVPN/RelayCacheTracker/RelayCacheTracker+Stubs.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/MockTunnel.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/MockTunnelInteractor.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/StartTunnelOperationTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelStore+Stubs.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/UIApplication+Stubs.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/WgKeyRotationTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListRepositoryTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/LocationNodeTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Tunnel/OutgoingConnectionServiceTests.swift
Labels: iOS

#6187 Remove dead code
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS
