Repository mullvad/mullvadvpn-app, pull requests merged in 2024-08, with the labels that each got.

#6556 Fix splash screen freeze
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
Labels: Android

#6557 Reset the backoff and start/stop management service in proper order
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
Labels: Android

#6567 Add dummy name resolver
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/resolver/DummyNameResolver.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/resolver/DummyNameResolverFactory.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
Labels: bug, Android

#6566 Use a wireguard commit that reduces multihop crashes
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS

#6565 Bump dates for all osv scanner ignored vulns and added reasons
  android/gradle/osv-scanner.toml
Labels: Android

#6573 Restore name already exists error for update custom list
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/EditCustomListNameDialogTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/CustomListActionUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/EditCustomListNameDialogViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/UpdateCustomListError.kt
Labels: Android

#6562 Animate expand in filter screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
Labels: Android

#6575 Always align scrollbar to the right in view logs
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
Labels: Android

#6581 Fix tunnel state notification behavior when logged out
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/ForegroundNotificationManager.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/ShouldBeOnForegroundProvider.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/tunnelstate/TunnelStateNotificationProvider.kt
Labels: Android

#6584 Update changelog for `android/2024.4-beta2`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#6576 Do not accept 0 tests passed for instrumental tests
  android/scripts/run-instrumented-tests.sh
Labels: Android

#6445 iOS end to end workflow changes related to iOS 17 and iPad
  .github/actions/build-ios-e2e-tests/action.yml
  .github/actions/run-ios-e2e-tests/action.yml
  .github/workflows/ios-end-to-end-tests-api.yml
  .github/workflows/ios-end-to-end-tests-merge-to-main.yml
  .github/workflows/ios-end-to-end-tests-nightly.yml
  .github/workflows/ios-end-to-end-tests-settings-migration.yml
  .github/workflows/ios-end-to-end-tests.yml
  .github/workflows/ios.yml
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNUITests.xcscheme
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/tests.json
Labels: iOS

#6588 Enable permissions when calling sub workflow
  .github/workflows/ios-end-to-end-tests-api.yml
  .github/workflows/ios-end-to-end-tests-merge-to-main.yml
  .github/workflows/ios-end-to-end-tests-nightly.yml
Labels: iOS

#6585 Move divider to below header
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#6589 Show the name of the custom list in remove location bottom sheet
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#5359 Add packer scripts to create VMs and install Xcode on them.
  ci/ios/create-vm/README.md
  ci/ios/create-vm/install-build-dependencies.pkr.hcl
  ci/ios/create-vm/install-vanilla-ventura.pkr.hcl
  ci/ios/create-vm/scripts/add-apple-certs.sh
  ci/ios/create-vm/scripts/cleanup.sh
  ci/ios/create-vm/scripts/install-brew-dependencies.sh
  ci/ios/create-vm/scripts/install-brew.sh
  ci/ios/create-vm/scripts/install-go.sh
  ci/ios/create-vm/scripts/install-rustup.sh
  ci/ios/create-vm/scripts/install-xcode.sh
  ci/ios/create-vm/scripts/link-zprofile.sh
  ci/ios/create-vm/scripts/run-xcode-first-launch.sh
  ci/ios/create-vm/variables.pkrvars.hcl
Labels: iOS

#6598 Add packer scripts to create VMs and install Xcode on them
  ci/ios/create-vm/README.md
  ci/ios/create-vm/install-build-dependencies.pkr.hcl
  ci/ios/create-vm/install-vanilla-ventura.pkr.hcl
  ci/ios/create-vm/scripts/add-apple-certs.sh
  ci/ios/create-vm/scripts/cleanup.sh
  ci/ios/create-vm/scripts/install-brew-dependencies.sh
  ci/ios/create-vm/scripts/install-brew.sh
  ci/ios/create-vm/scripts/install-go.sh
  ci/ios/create-vm/scripts/install-rustup.sh
  ci/ios/create-vm/scripts/install-xcode.sh
  ci/ios/create-vm/scripts/link-zprofile.sh
  ci/ios/create-vm/scripts/run-xcode-first-launch.sh
  ci/ios/create-vm/variables.pkrvars.hcl
Labels: iOS

#6599 Move divider to below header (Fix)
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
Labels: Android

#6600 Show the name of the custom list in remove location bottom sheet (Fix)
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6591 Change everything with a single character
  .github/actions/run-ios-e2e-tests/action.yml
Labels: iOS

#6601 Fix crash when focusing remove button in device list screen
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
Labels: Android

#6603 Fix view logs crash on TV
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/NavigateButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessMethodDetailsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#6552 Fix getting stuck after blocked state
  ios/MullvadMockData/MullvadREST/AccessMethodRepository+Stub.swift
  ios/MullvadMockData/MullvadREST/RelaySelectorStub.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorVPNConnection.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/SendTunnelProviderMessageOperation.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/Tunnel.swift
  ios/MullvadVPN/TunnelManager/TunnelInteractor.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelStore.swift
  ios/MullvadVPN/TunnelManager/UIApplication+Extensions.swift
  ios/MullvadVPNTests/MullvadREST/Shadowsocks/ShadowsocksLoaderTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/MockTunnel.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/MockTunnelInteractor.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelStore+Stubs.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/UIApplication+Stubs.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/Operations/BackgroundObserver.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCoreTests/Mocks/PostQuantumKeyExchangingUpdaterStub.swift
Labels: bug, iOS

#6602 Import the maybenot machines file in the project
  ios/.swiftformat
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnelCore/Daita/Maybenot.swift
Labels: iOS

#6612 Fix swiftlint warnings
  ios/.swiftlint.yml
  ios/MullvadREST/ApiHandlers/RESTRequestFactory.swift
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadVPN/StorePaymentManager/StorePaymentManager.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPNTests/MullvadSettings/APIAccessMethodsTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideRepositoryTests.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnelCore/Pinger/Pinger.swift
Labels: iOS

#6563 Fix potential crash in connection state flow
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/util/ManagedChannel.kt
Labels: Android

#6617 Fix issues with dns dialog showing wrong state after submitting
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
Labels: Android

#6622 Remove the x86_64 architecture and Mac Catalyst from targets
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#6620 Fix expanded select location items collapsing on resume
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
Labels: Android

#6627 Fix dependency version check plugin
  android/build.gradle.kts
Labels: Android

#6631 Fix rexml for the vm as well
  ci/ios/upload-vm/Gemfile.lock
Labels: iOS

#6624 Rework the Restore Purchases button to decrease user confusion
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Account/RestorePurchasesView.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
Labels: iOS

#6630 Fix Auto connect lockdown mode title
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/typeface/TypeScale.kt
  gui/locales/messages.pot
Labels: Android

#6610 Fix e2e and mockapi tests failing
  .github/workflows/android-app.yml
  android/BuildInstructions.md
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/scripts/run-instrumented-tests.sh
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/e2e/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/annotations/HighlyRateLimited.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/Constants.kt
  android/test/firebase/e2e-play-stagemole.yml
  android/test/mockapi/build.gradle.kts
Labels: Android

#6639 Fix build issues on xcode 16 ios 740
  ios/.swiftlint.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/MullvadVPN/Extensions/CodingErrors+CustomErrorDescription.swift
  ios/MullvadVPN/Extensions/NEVPNStatus+Debug.swift
  ios/MullvadVPN/Extensions/RESTError+Display.swift
  ios/MullvadVPN/Extensions/SKError+Localized.swift
  ios/MullvadVPN/TunnelManager/UIApplication+Extensions.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/UIApplication+Stubs.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
Labels: iOS

#6641 Update changelog
  ios/CHANGELOG.md
Labels: iOS

#6644 Exclude relative paths properly
  CHANGELOG.md
  talpid-core/src/split_tunnel/macos/process.rs
Labels: macOS

#6645 Fix e2e tests failing on Firebase due to rate limiting
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
Labels: Android

#6571 Add better Voucher Code validation
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VoucherDialogViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/RedeemVoucherError.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/VoucherCode.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/lib/model/VoucherCodeTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/VoucherRepository.kt
  gui/locales/messages.pot
Labels: Android

#6649 Set empty shadowsocks port when setting obfuscation settings
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/FromDomain.kt
Labels: Android

#6590 Allow relay selector to filter daita enabled relays
  ios/MullvadMockData/MullvadREST/RelaySelectorStub.swift
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/AnyRelay.swift
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadREST/Relay/NoRelaysSatisfyingConstraintsError.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelaySelector+Shadowsocks.swift
  ios/MullvadREST/Relay/RelaySelector+Wireguard.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/ServerRelaysResponse+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
  ios/PacketTunnel/PacketTunnelProvider/BlockedStateErrorMapper.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/MultiHopPostQuantumKeyExchangingTests.swift
  ios/PacketTunnelCoreTests/PostQuantumKeyExchangingPipelineTests.swift
  ios/PacketTunnelCoreTests/SingleHopPostQuantumKeyExchangingTests.swift
Labels: iOS

#6574 Translate location names
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/LocaleChangedBroadcastReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/RelayListRepository.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/GeoIpLocation.kt
  android/lib/resource/src/main/res/xml-da/relay_locations.xml
  android/lib/resource/src/main/res/xml-de/relay_locations.xml
  android/lib/resource/src/main/res/xml-es/relay_locations.xml
  android/lib/resource/src/main/res/xml-fi/relay_locations.xml
  android/lib/resource/src/main/res/xml-fr/relay_locations.xml
  android/lib/resource/src/main/res/xml-it/relay_locations.xml
  android/lib/resource/src/main/res/xml-ja/relay_locations.xml
  android/lib/resource/src/main/res/xml-ko/relay_locations.xml
  android/lib/resource/src/main/res/xml-my/relay_locations.xml
  android/lib/resource/src/main/res/xml-nb/relay_locations.xml
  android/lib/resource/src/main/res/xml-nl/relay_locations.xml
  android/lib/resource/src/main/res/xml-pl/relay_locations.xml
  android/lib/resource/src/main/res/xml-pt/relay_locations.xml
  android/lib/resource/src/main/res/xml-ru/relay_locations.xml
  android/lib/resource/src/main/res/xml-sv/relay_locations.xml
  android/lib/resource/src/main/res/xml-th/relay_locations.xml
  android/lib/resource/src/main/res/xml-tr/relay_locations.xml
  android/lib/resource/src/main/res/xml-zh-rCN/relay_locations.xml
  android/lib/resource/src/main/res/xml-zh-rTW/relay_locations.xml
  android/lib/resource/src/main/res/xml/relay_locations.xml
  android/lib/shared/build.gradle.kts
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/ConnectionProxy.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/LocaleRepository.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/RelayLocationTranslationRepository.kt
  android/lib/shared/src/test/kotlin/net/mullvad/mullvadvpn/lib/shared/ConnectionProxyTest.kt
  android/translations-converter/src/main.rs
Labels: Android

#6653 Fixes for firebase e2e still sometimes failing
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/firebase/e2e-play-stagemole.yml
  android/test/firebase/mockapi-oss.yml
Labels: Android

#6609 List only DAITA enabled entry locations in locations view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterChipView.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationRelays.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListsDataSourceTests.swift
Labels: iOS

#6500 Wrap all management service calls in Either
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ClearAccountHistoryError.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/LogoutAccountError.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/AccountRepository.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/ManagementServiceTest.kt
Labels: Android

#6665 Start building with mullvadvpn-app-build-android:63e6d7303
  building/android-container-image.txt
Labels: Android

#6677 Add support for feature indicators for tunnel state
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/OutOfTimeScreenPreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/TunnelStatePreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/TunnelStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/FeatureIndicator.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/TunnelState.kt
Labels: Android

#6642 Disable ATS entirely
  ios/MullvadREST/ApiHandlers/SSLPinningURLSessionDelegate.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#6647 Packet Tunnel stuck in blocked state after Airplane mode is toggled.
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/Timings.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: bug, iOS

#6666 Remove split tunnel interface if split tunneling is disabled
  talpid-core/src/split_tunnel/macos/mod.rs
  talpid-core/src/tunnel_state_machine/connected_state.rs
  talpid-core/src/tunnel_state_machine/mod.rs
Labels: macOS

#6663 Re-enable and fix testConnectAndVerifyWithConnectionCheck
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/ForgetAllVpnAppsInSettingsTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
Labels: Android

#6685 Bump `pcap` to address TODO comment in split tunnel implementation
  Cargo.lock
  talpid-core/Cargo.toml
  talpid-core/src/split_tunnel/macos/bindings.rs
  talpid-core/src/split_tunnel/macos/bpf.rs
  talpid-core/src/split_tunnel/macos/generate-bindings.sh
  talpid-core/src/split_tunnel/macos/tun.rs
Labels: dependencies, macOS

#6687 Fix resource dependency
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
Labels: Android

#6667 Add UI for DAITA in VPN settings
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Pages/DaitaPromptAlert.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
Labels: iOS

#6688 Change schedule of android-app.yml
  .github/workflows/android-app.yml
Labels: Android

#6689 Increase timeout when waiting for connection
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
Labels: Android

#6695 Update rexml for vulnerability issues
  ci/ios/upload-vm/Gemfile.lock
  ci/ios/upload-vm/osv-scanner.toml
  ios/Gemfile.lock
  ios/osv-scanner.toml
Labels: iOS

#6681 Update split tunneling description to include block connections without vpn
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6701 Fix `wireguard-go-rs` build for different Android targets
  wireguard-go-rs/build.rs
  wireguard-go-rs/libwg/Android.mk
  wireguard-go-rs/libwg/build-android.sh
Labels: Android

#6705 Add action to validate gradle wrapper
  .github/workflows/android-validate-gradle-wrapper.yml
Labels: Android

#6702 Bump gradle to `8.10`
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Labels: Android

#6690 Start daemon and management service on main thread
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/constant/DiConstant.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpoint.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointConfiguration.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointIntentExtensions.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointOverride.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/CustomApiEndpointConfiguration.kt
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/DefaultApiEndpointConfiguration.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/DaemonConfig.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadDaemon.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/di/ApiEndpointModule.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/di/VpnServiceModule.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
  mullvad-jni/src/api.rs
  mullvad-jni/src/classes.rs
Labels: Android

#6709 Fix toggletunnel crash in tile
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/NotificationManager.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/tunnelstate/TunnelStateNotificationProvider.kt
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
Labels: Android
