Repository mullvad/mullvadvpn-app, pull requests merged in 2024-05, with the labels that each got.

#6151 Ensure log file sizes stay below a certain threshold
  ios/MullvadLogging/CustomFormatLogHandler.swift
  ios/MullvadLogging/Date+LogFormat.swift
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadLogging/LogRotation.swift
  ios/MullvadLogging/Logging.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/ConsolidatedApplicationLog.swift
  ios/MullvadVPN/StorePaymentManager/SendStoreReceiptOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
  ios/MullvadVPNTests/MullvadLogging/LoggingTests.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS

#6193 Trim whitespace from list names on save
  ios/MullvadSettings/CustomListRepository.swift
Labels: iOS

#6176 Fix e2e report dir
  .github/workflows/android-app.yml
Labels: Android

#6225 Update android supressions
  android/config/dependency-check-suppression.xml
  android/test/test-suppression.xml
Labels: Android

#6154 Add iOS test verifying API can be reached in blocked state
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Account/AccountDeviceRow.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterCellFactory.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/CustomListsTests.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Pages/SelectLocationFilterPage.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
Labels: iOS

#6233 Prevent DNS leaks in blocking states or when no valid DNS has been configured
  android/CHANGELOG.md
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  talpid-tunnel/src/tun_provider/android/mod.rs
Labels: Android

#6181 Add a new container view to wrap the whole location selection
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
Labels: iOS

#6235 Fix problem report logs being duplicated
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
  ios/MullvadVPNTests/MullvadLogging/LoggingTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/Shared/ApplicationConfiguration.swift
Labels: bug, iOS

#6133 Add iOS test making sure app functioning when API is down
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Common/SocksSectionHandler.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsCellConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodTestingStatusCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Pickers/AccessMethodProtocolPicker.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPN/Views/CustomSwitchContainer.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/Pages/APIAccessPage.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Pages/AddAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/EditAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
  ios/MullvadVPNUITests/XCUIElement+Extensions.swift
Labels: iOS

#6227 Mock data for screenshot test
  ios/MullvadMockData/MullvadMockData.h
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadMockData/MullvadREST/AccessTokenManager+Stubs.swift
  ios/MullvadMockData/MullvadREST/AccountsProxy+Stubs.swift
  ios/MullvadMockData/MullvadREST/DevicesProxy+Stubs.swift
  ios/MullvadMockData/MullvadREST/MockProxyFactory.swift
  ios/MullvadMockData/MullvadREST/RESTRequestExecutor+Stubs.swift
  ios/MullvadMockData/MullvadTypes/AccountMock.swift
  ios/MullvadMockData/MullvadTypes/DeviceMock.swift
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadRESTTests/Mocks/TimeServerProxy.swift
  ios/MullvadRESTTests/RequestExecutorTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/MullvadVPNTests/MullvadVPN/PacketTunnel/DeviceCheck/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/Shared/LaunchArguments.swift
Labels: iOS, feature request

#6247 Fix user input string validation
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadSettings/CustomListRepository.swift
  ios/MullvadSettings/PersistentAccessMethod.swift
  ios/MullvadTypes/NameInputFormatter.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/CustomListCellConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListDataSourceConfiguration.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListValidationError.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsCellConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodValidationError.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel+Persistent.swift
Labels: iOS

#6250 Remove some unnecessary LocationNode subclasses
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/LocationNodeTests.swift
Labels: iOS

#6252 Remove tunnel state from lifecycle log
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
Labels: Android

#6246 Fix cell colors in location view
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderView.swift
Labels: iOS

#6232 Implement PQ PSK
  .github/workflows/ios.yml
  Cargo.lock
  ios/MullvadPostQuantum/MullvadPostQuantum.h
  ios/MullvadPostQuantum/PacketTunnelProvider+TCPConnection.swift
  ios/MullvadPostQuantum/PostQuantumKeyNegotiator.swift
  ios/MullvadPostQuantum/module.private.modulemap
  ios/MullvadPostQuantum/talpid-tunnel-config-client/include/talpid_tunnel_config_client.h
  ios/MullvadSettings/QuantumResistanceSettings.swift
  ios/MullvadTypes/Protocols/PostQuantumKeyReceiving.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadPostQuantum.xcscheme
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/StopTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState+UI.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelStateTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/SettingsReader.swift
  ios/PacketTunnel/PostQuantumKeyExchangeActor.swift
  ios/PacketTunnelCore/Actor/ConfigurationBuilder.swift
  ios/PacketTunnelCore/Actor/ObservedState+Extensions.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ConnectionMonitoring.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+Public.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorCommand.swift
  ios/PacketTunnelCore/Actor/Protocols/RelaySelectorProtocol.swift
  ios/PacketTunnelCore/Actor/Protocols/SettingsReaderProtocol.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/Mocks/SettingsReaderStub.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
  ios/build-rust-library.sh
  talpid-tunnel-config-client/Cargo.toml
  talpid-tunnel-config-client/build.rs
  talpid-tunnel-config-client/src/ios_ffi/ios_runtime.rs
  talpid-tunnel-config-client/src/ios_ffi/ios_tcp_connection.rs
  talpid-tunnel-config-client/src/ios_ffi/mod.rs
  talpid-tunnel-config-client/src/lib.rs
Labels: iOS

#6269 Remove spacing in VPN settings page
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: iOS

#6285 Add required protobuf dependencies
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios-validate-build-schemas.yml
  ios/BuildInstructions.md
  ios/MullvadVPNUITests/README.md
Labels: iOS

#6280 Refactor PacketTunnelActor to use a Reducer
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadVPN/PacketTunnelCore/PacketTunnelActorReducerTests.swift
  ios/PacketTunnelCore/Actor/EventChannel.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ConnectionMonitoring.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+KeyPolicy.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+NetworkReachability.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+Public.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorCommand.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorReducer.swift
  ios/PacketTunnelCoreTests/EventChannelTests.swift
Labels: iOS

#6287 IOS-699: fix crash on deletion of access method
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
Labels: iOS

#6297 Use the same DNS blockers order as the other clients
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
Labels: iOS

#6255 Show spinner when consolidating logs for problem reports
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportReviewViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
Labels: iOS

#6298 Add the word obfuscate to the list of allowed verbs
  .github/workflows/git-commit-message-style.yml
Labels: not-app-related
