Repository mullvad/mullvadvpn-app, pull requests merged in 2024-11, with the labels that each got.

#7111 Push suppression of CVE-2022-24329
  android/config/dependency-check-suppression.xml
Labels: Android

#7104 "Fix" CVE-2024-49761 by just ignoring rexml for now
  ci/ios/upload-vm/osv-scanner.toml
  ios/osv-scanner.toml
Labels: iOS

#7114 Remove gRPC dummy DNS name resolver
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/resolver/DummyNameResolver.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/resolver/DummyNameResolverFactory.kt
Labels: Android

#7124 Exclude maybenot bundle check in lockfile script
  .github/workflows/android-audit.yml
  android/scripts/update-lockfile.sh
Labels: Android

#7064 Update data structure to support new obfuscation selection
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadSettings/TunnelSettingsUpdateTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelSettingsStrategyTests.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCoreTests/Mocks/SettingsReaderStub.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
Labels: iOS

#7116 Filter pills overflow doesnt expand vertically ios 897
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/String+Helpers.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/RelayFilter/ChipCollectionView.swift
  ios/MullvadVPN/View controllers/RelayFilter/ChipFlowLayout.swift
  ios/MullvadVPN/View controllers/RelayFilter/ChipViewCell.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterChipView.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
Labels: iOS

#7113 When phone loses connectivity it fails to reconnect ios 889
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
  ios/PacketTunnelCore/Actor/ConfigurationBuilder.swift
  ios/PacketTunnelCore/Actor/ConnectionConfigurationBuilder.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/Protocols/TunnelAdapterProtocol.swift
  ios/PacketTunnelCore/Pinger/PingerProtocol.swift
  ios/PacketTunnelCore/Pinger/TunnelPinger.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCoreTests/Mocks/PingerMock.swift
Labels: iOS

#7145 Fix account expiry in app notif not resetting
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCaseTest.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryTickerFlow.kt
Labels: Android

#7156 Fix in app notification constraint layout
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
Labels: Android

#7167 Fix incorrect parsing of auth failed error
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ErrorStateCause.kt
Labels: Android

#7164 Fix extra top bar showing up on some devices
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#7170 Clarify expired account message
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ErrorStateExtension.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ErrorStateCause.kt
Labels: Android

#7131 Update relay selector for shadowsocks obfuscation
  ios/MullvadREST/Extensions/UInt+Counting.swift
  ios/MullvadREST/Relay/ObfuscationMethodSelector.swift
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/ServerRelaysResponse+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/Extensions/UIntTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscationMethodSelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscatorPortSelectorTests.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCoreTests/Mocks/ProtocolObfuscationStub.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
Labels: iOS

#7132 Add udp shadowsocks proxy support to mullvad ios
  ios/MullvadRustRuntime/TunnelObfuscator.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadRustRuntimeTests/TCPConnection.swift
  ios/MullvadRustRuntimeTests/TunnelObfuscationTests.swift
  ios/MullvadRustRuntimeTests/UDPConnection.swift
  ios/MullvadRustRuntimeTests/UnsafeListener.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelObfuscationStub.swift
  mullvad-ios/src/lib.rs
  mullvad-ios/src/tunnel_obfuscator_proxy/ffi.rs
  mullvad-ios/src/tunnel_obfuscator_proxy/mod.rs
Labels: iOS

#7150 Investigate crash in DiffableDataSource
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDiffableDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
Labels: bug, iOS

#7177 Use ticker flow for Android system notifications
  android/CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/AccountExpiryNotificationProviderTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCaseTest.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryAndroidNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryConstant.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationProvider.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryTicker.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryTickerFlow.kt
Labels: Android

#7143 IOS-880 SwiftUI settings page for UDP/TCP obfuscation port
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/TunnelObfuscationSettingsWatchingObservableObject.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/UDPTCPObfuscationSettingsView.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/UDPTCPObfuscationSettingsViewModel.swift
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/StatefulPreviewWrapper.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInteractor.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
Labels: iOS

#7159 Fix filter apply button being enabled with zero providers
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSource.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewController.swift
Labels: bug, iOS

#7194 Fix connection checker CLI
  test/connection-checker/src/cli.rs
Labels: bug

#7202 Disable nightly firebase tests
  .github/workflows/android-app.yml
Labels: Android

#7193 Clarify osv-scanner ignores
  android/gradle/osv-scanner.toml
Labels: Android

#7203 Use last known location instead of null when tunnel state is error
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
Labels: Android

#7071 Upload instrumentation report regardless if tests failed
  .github/workflows/android-app.yml
Labels: Android

#7215 Add a github workflow to build on Xcode 16
  .github/workflows/ios-build-xcode-16.yml
Labels: iOS

#7218 Use iPhone 16 as a build destination
  .github/workflows/ios-build-xcode-16.yml
Labels: iOS

#7224 Move snackbar above import button in server ip override
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
Labels: Android

#7168 Implement multihop support for Android in daemon
  mullvad-relay-selector/src/relay_selector/mod.rs
  talpid-types/src/net/mod.rs
  talpid-wireguard/src/config.rs
  talpid-wireguard/src/connectivity/check.rs
  talpid-wireguard/src/connectivity/constants.rs
  talpid-wireguard/src/connectivity/error.rs
  talpid-wireguard/src/connectivity/mock.rs
  talpid-wireguard/src/connectivity/mod.rs
  talpid-wireguard/src/connectivity/monitor.rs
  talpid-wireguard/src/connectivity/pinger/android.rs
  talpid-wireguard/src/connectivity/pinger/icmp.rs
  talpid-wireguard/src/connectivity/pinger/mod.rs
  talpid-wireguard/src/ephemeral.rs
  talpid-wireguard/src/lib.rs
  talpid-wireguard/src/wireguard_go/mod.rs
  wireguard-go-rs/libwg/go.mod
  wireguard-go-rs/libwg/go.sum
  wireguard-go-rs/libwg/libwg.go
  wireguard-go-rs/libwg/libwg_android.go
  wireguard-go-rs/libwg/libwg_daita.go
  wireguard-go-rs/libwg/tunnelcontainer/tunnelcontainer.go
  wireguard-go-rs/src/lib.rs
Labels: Android

#7217 Suppress CVE-2024-47535
  android/config/dependency-check-suppression-agp-fixes.xml
Labels: Android

#7140 Fix connectivity tests ios 873
  ios/Configurations/Api.xcconfig.template
  ios/MullvadREST/ApiHandlers/RESTDefaults.swift
  ios/MullvadREST/Info.plist
  ios/MullvadREST/Transport/EncryptedDNS/EncryptedDNSTransport.swift
  ios/MullvadRustRuntime/EncryptedDNSProxy.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPNTests/Info.plist
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/Info.plist
  mullvad-daemon/src/api.rs
  mullvad-encrypted-dns-proxy/src/config_resolver.rs
  mullvad-encrypted-dns-proxy/src/state.rs
  mullvad-ios/src/encrypted_dns_proxy.rs
Labels: iOS

#7213 Fix broken retry strategy tests ios 938
  docs/relay-selector.md
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscatorPortSelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNUITests/Networking/FirewallAPIClient.swift
  ios/MullvadVPNUITests/Networking/FirewallRule.swift
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
Labels: iOS

#7244 Update changelog for android `2024.9-beta1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7199 Apply the obfuscation port to the entry configuration only
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadSettings/TunnelSettingsStrategy.swift
  ios/MullvadTypes/MullvadEndpoint.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelSettingsStrategyTests.swift
Labels: bug, iOS

#7246 Fix custom Wireguard port not being persisted
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
Labels: bug, iOS

#7254 Reduce the maximum log file size to 2MB
  ios/MullvadLogging/Logging.swift
Labels: iOS

#7249 Bump dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/classes/DataClassTest.kt
Labels: Android

#7206 Support Android app's new version code format
  mullvad-version/src/lib.rs
  mullvad-version/src/main.rs
  prepare-release.sh
Labels: Android

#7243 Add MLLVD-CR-24-03 as known issue of Android
  docs/known-issues.md
Labels: Android

#7259 Fix hidden Entry view when using bridge mode
  desktop/packages/mullvad-vpn/src/renderer/components/select-location/SelectLocationContainer.tsx
Labels: Desktop frontend

#7261 Fix clippy warnings
  .github/workflows/daemon.yml
  mullvad-cli/src/cmds/relay.rs
  mullvad-daemon/src/macos_launch_daemon.rs
  mullvad-daemon/src/migrations/v7.rs
  talpid-wireguard/src/wireguard_nt/mod.rs
Labels: Daemon

#7253 Log failure reason when trying DNS managers
  talpid-core/src/dns/linux/mod.rs
Labels: Daemon
