Repository mullvad/mullvadvpn-app, pull requests merged in 2024-12, with the labels that each got.

#7260 Replace misspelling of WireGuardObfuscationShadowsocksPort type name
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/ShadowsocksObfuscationSettingsView.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/ShadowsocksObfuscationSettingsViewModel.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
Labels: iOS

#7250 Make tunnel connection errors recoverable
  talpid-wireguard/src/lib.rs
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7262 Fix linker error in `build-windows-modules.sh`
  .github/workflows/daemon.yml
  windows/nsis-plugins/src/cleanup/cleanup.vcxproj
  windows/nsis-plugins/src/log/log.vcxproj
Labels: Daemon

#7258 Add daemon CI job for Windows ARM64
  .github/workflows/daemon.yml
Labels: Daemon

#7257 Make shadowsocks obfuscation ready for production ios 879
  ios/CHANGELOG.md
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsDetailsCell.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: iOS

#7256 Remove Apple services workarounds for unaffected macOS versions
  CHANGELOG.md
  talpid-core/src/dns/macos.rs
  talpid-core/src/firewall/macos.rs
  talpid-core/src/resolver.rs
  talpid-core/src/tunnel_state_machine/connected_state.rs
  talpid-core/src/tunnel_state_machine/connecting_state.rs
  talpid-core/src/tunnel_state_machine/error_state.rs
Labels: Daemon

#7248 Refactor address cache in mullvad-api
  mullvad-api/src/address_cache.rs
  mullvad-api/src/bin/relay_list.rs
  mullvad-api/src/https_client_with_sni.rs
  mullvad-api/src/lib.rs
  mullvad-api/src/rest.rs
  mullvad-daemon/src/android_dns.rs
  mullvad-daemon/src/lib.rs
  mullvad-problem-report/src/lib.rs
  mullvad-setup/src/main.rs
  test/test-manager/src/tests/account.rs
Labels: Daemon

#7264 Fix multiple Wireguard port selection in settings view
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: bug, iOS

#7270 Implement basic of page object pattern
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/ConnectPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/LoginPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/Page.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/PrivacyPage.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
Labels: Android

#7269 Add check for empty play purchase payment token
  android/lib/billing/build.gradle.kts
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingPaymentRepository.kt
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepository.kt
  android/lib/billing/src/test/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingPaymentRepositoryTest.kt
  android/lib/billing/src/test/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepositoryTest.kt
Labels: Android

#7263 Enable custom Shadowsocks port selection on entry servers in multihop
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelaySelector+Wireguard.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscatorPortSelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/EphemeralPeerExchangingPipelineTests.swift
  ios/PacketTunnelCoreTests/MultiHopEphemeralPeerExchangerTests.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
  ios/PacketTunnelCoreTests/SingleHopEphemeralPeerExchangerTests.swift
Labels: bug, iOS

#7233 Fix log redaction loading issue
  ios/CHANGELOG.md
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadTypes/StringConversionError.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/ConsolidatedApplicationLog.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportReviewViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController.swift
  ios/MullvadVPNTests/MullvadVPN/Log/ConsolidatedApplicationLogTests.swift
  ios/Shared/LaunchArguments.swift
Labels: bug, iOS

#7275 Fix UITest builds
  ios/Shared/LaunchArguments.swift
Labels: iOS

#7222 Implement UDP-over-TCP e2e test
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ObfuscationModeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/gradle.properties
  android/scripts/run-instrumented-tests.sh
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/ForgetAllVpnAppsInSettingsTestRule.kt
  android/test/e2e/build.gradle.kts
  android/test/e2e/e2e.properties
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/annotations/HasDependencyOnLocalAPI.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/ClearFirewallRules.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/LeakCheck.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/NetworkingProtocol.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/firewall/DropRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/firewall/FirewallClient.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/firewall/SessionIdentifier.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/packetCapture/Host.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/packetCapture/Packet.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/packetCapture/PacketCapture.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/packetCapture/Stream.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/serializer/PacketCaptureSessionSerializer.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/serializer/PacketSerializer.kt
Labels: Android

#7247 Disable selectable text
  ios/MullvadVPN/Views/InfoHeaderView.swift
Labels: enhancement, iOS

#7273 Add accessibility identifiers to SingleChoiceList rows and text fields
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
Labels: iOS

#7232 Add daita and multihop pages to the root of the settings view
  ios/AdditionalAssets/DaitaOffIllustration.svg
  ios/AdditionalAssets/DaitaOnIllustration.svg
  ios/AdditionalAssets/MultihopIllustration.svg
  ios/CHANGELOG.md
  ios/MullvadSettings/DAITASettings.swift
  ios/MullvadSettings/MultihopSettings.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITASettingsPromptItem.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITATunnelSettingsViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/SettingsDAITAView.swift
  ios/MullvadVPN/Coordinators/Settings/Multihop/MultihopTunnelSettingsViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/Multihop/SettingsMultihopView.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
  ios/MullvadVPN/Coordinators/Settings/TunnelSettingsObservable.swift
  ios/MullvadVPN/Coordinators/Settings/Views/GroupedRowView.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoContainerView.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoView.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsRowViewFooter.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SwitchRowView.swift
  ios/MullvadVPN/Extensions/View+Size.swift
  ios/MullvadVPN/Extensions/View+TapAreaSize.swift
  ios/MullvadVPN/Supporting Files/Assets.xcassets/DaitaOffIllustration.imageset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/DaitaOffIllustration.imageset/DaitaOffIllustration.svg
  ios/MullvadVPN/Supporting Files/Assets.xcassets/DaitaOnIllustration.imageset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/DaitaOnIllustration.imageset/DaitaOnIllustration.svg
  ios/MullvadVPN/Supporting Files/Assets.xcassets/MultihopIllustration.imageset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/MultihopIllustration.imageset/MultihopIllustration.svg
  ios/MullvadVPN/UI appearance/UIEdgeInsets+Extensions.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/Views/CustomToggleStyle.swift
  ios/MullvadVPN/Views/IncreasedHitButton.swift
  ios/MullvadVPN/Views/RowSeparator.swift
  ios/MullvadVPNUITests/Pages/DAITAPage.swift
  ios/MullvadVPNUITests/Pages/MultihopPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
  ios/convert-assets.rb
Labels: iOS

#7272 Add trailing status indicators for daita and multihop cells
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractor.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewModel.swift
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#7282 Add the openPortSelectorMenuButton accessibility identifier to ... buttons
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsDetailsCell.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
Labels: iOS

#7283 Migrate ConnectionTest e2e tests to use POP
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/ConnectPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/LoginPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/PrivacyPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SelectLocationPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SettingsPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SystemVpnConfigurationAlert.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/TopBar.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/VpnSettingsPage.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
Labels: Android

#7301 Bump dependencies
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#7306 Use new enableEdgeToEdge helper function
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#7307 Update changelog for `android/2024.9`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7305 Set direct only default to false on android
  mullvad-types/src/wireguard.rs
Labels: Android

#7309 Fix unsupported `mullvad-version` gradle execution
  android/buildSrc/src/main/kotlin/Utils.kt
Labels: Android

#7317 Fix click action on headers in obfuscation sub-settings screens
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/Udp2TcpSettingsScreen.kt
Labels: Android

#7290 Add foundation for new connection view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/UIColor+Helpers.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/ConnectionView.swift
  ios/MullvadVPN/Views/MainButton.swift
  ios/MullvadVPN/Views/MainButtonStyle.swift
  ios/MullvadVPN/Views/SplitMainButton.swift
  ios/MullvadVPN/Views/VisualEffectView.swift
Labels: iOS

#7322 Fix Shadowsocks port range in GUI
  desktop/packages/mullvad-vpn/locales/da/messages.po
  desktop/packages/mullvad-vpn/locales/de/messages.po
  desktop/packages/mullvad-vpn/locales/es/messages.po
  desktop/packages/mullvad-vpn/locales/fi/messages.po
  desktop/packages/mullvad-vpn/locales/fr/messages.po
  desktop/packages/mullvad-vpn/locales/it/messages.po
  desktop/packages/mullvad-vpn/locales/ja/messages.po
  desktop/packages/mullvad-vpn/locales/ko/messages.po
  desktop/packages/mullvad-vpn/locales/messages.pot
  desktop/packages/mullvad-vpn/locales/my/messages.po
  desktop/packages/mullvad-vpn/locales/nb/messages.po
  desktop/packages/mullvad-vpn/locales/nl/messages.po
  desktop/packages/mullvad-vpn/locales/pl/messages.po
  desktop/packages/mullvad-vpn/locales/pt/messages.po
  desktop/packages/mullvad-vpn/locales/ru/messages.po
  desktop/packages/mullvad-vpn/locales/sv/messages.po
  desktop/packages/mullvad-vpn/locales/th/messages.po
  desktop/packages/mullvad-vpn/locales/tr/messages.po
  desktop/packages/mullvad-vpn/locales/zh-CN/messages.po
  desktop/packages/mullvad-vpn/locales/zh-TW/messages.po
  desktop/packages/mullvad-vpn/src/renderer/components/Shadowsocks.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/WireguardSettings.tsx
Labels: Desktop frontend

#7328 Remove select location horizontal pager on TV
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
Labels: Android

#7334 Add logging to connectivity listener
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
Labels: Android

#7198 Remove the use of intent provider for request vpn permission
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/MullvadAppViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnProfileViewModel.kt
  android/lib/endpoint/src/debug/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointFromIntentHolder.kt
  android/lib/endpoint/src/release/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointFromIntentHolder.kt
  android/lib/intent-provider/build.gradle.kts
  android/lib/intent-provider/src/main/AndroidManifest.xml
  android/lib/intent-provider/src/main/kotlin/net/mullvad/mullvadvpn/lib/intent/IntentProvider.kt
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/settings.gradle.kts
Labels: Android

#7337 Enable lint option `checkAllWarnings`
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/config/lint-baseline.xml
  android/config/lint.xml
Labels: Android

#7324 Relay selector doesn't force a blocked state with daita and obfuscation on
  ios/MullvadREST/Relay/NoRelaysSatisfyingConstraintsError.swift
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelayPicking.swift
  ios/MullvadREST/Relay/RelayPicking/MultihopPicker.swift
  ios/MullvadREST/Relay/RelayPicking/RelayPicking.swift
  ios/MullvadREST/Relay/RelayPicking/SinglehopPicker.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadREST/ApiHandlers/ServerRelaysResponse+Stubs.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/PacketTunnel/PacketTunnelProvider/BlockedStateErrorMapper.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
Labels: bug, iOS

#7329 Fix android DAITA strings and translations
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/FeatureIndicatorsPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DaitaDirectOnlyConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/DaitaDirectOnlyInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/config/lint-baseline.xml
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7302 Add state to new connection view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
  ios/MullvadVPN/Extensions/Color+Helpers.swift
  ios/MullvadVPN/TunnelManager/TunnelState+UI.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/ActivityIndicator.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/ConnectionViewViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/FI_TunnelViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/Views/BlurView.swift
  ios/MullvadVPN/Views/MainButton.swift
  ios/MullvadVPN/Views/MainButtonStyle.swift
  ios/MullvadVPN/Views/SplitMainButton.swift
  ios/MullvadVPN/Views/VisualEffectView.swift
Labels: iOS

#7332 Migrate remaining e2e tests to POP
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/AccountPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/ConnectPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/MullvadWebsite.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SettingsPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/VpnSettingsPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/WireGuardCustomPortDialog.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/WebLinkTest.kt
Labels: Android

#7347 Fix incorrect version code generation
  prepare-release.sh
Labels: Android

#7214 Upgrade Electron to 33
  desktop/package-lock.json
  desktop/package.json
  desktop/packages/mullvad-vpn/package.json
Labels: Desktop frontend

#7340 Bump dependencies
  .github/workflows/android-app.yml
  android/config/dependency-check-suppression-agp-fixes.xml
  android/config/dependency-check-suppression.xml
  android/config/lint-baseline.xml
  android/config/lint.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/lib/resource/build.gradle.kts
  android/lib/resource/lint.xml
  android/lib/resource/src/main/res/values-da/plurals.xml
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/plurals.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/plurals.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/plurals.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/plurals.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/plurals.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/plurals.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/plurals.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/plurals.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/plurals.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/plurals.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/plurals.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/plurals.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/plurals.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/plurals.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/plurals.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/plurals.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/plurals.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/plurals.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/colors.xml
  android/lib/resource/src/main/res/values/dimensions.xml
  android/lib/resource/src/main/res/values/integers.xml
  android/lib/resource/src/main/res/values/plurals.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7352 Implement increased power consumption warning
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/ObfuscationInfoDialog.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7353 Do not drop connection checker when switching between single-hop and multi-hop tuns
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7360 Temporarily remove new connection view
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
Labels: iOS

#7365 Fix jni names
  talpid-tunnel/src/tun_provider/android/mod.rs
Labels: Android

#7370 Update changelog for `android/2024.10-beta1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7372 Add support for overriding Android version
  mullvad-version/src/main.rs
  prepare-release.sh
Labels: Android

#7377 Fix missing animation on expand on card
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#7378 Minimize logs of "number of networks"
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
Labels: Android

#7383 Fix flaky test in OutOfTimeUseCaseTest
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
Labels: Android

#7289 Add IAN TCP connections
  Cargo.lock
  ios/MullvadRustRuntime/EphemeralPeerExchangeActor.swift
  ios/MullvadRustRuntime/EphemeralPeerNegotiator.swift
  ios/MullvadRustRuntime/EphemeralPeerReceiver.swift
  ios/MullvadRustRuntime/PacketTunnelProvider+TCPConnection.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadRustRuntimeTests/MullvadPostQuantum+Stubs.swift
  ios/MullvadTypes/Promise.swift
  ios/MullvadTypes/Protocols/EphemeralPeerReceiver.swift
  ios/MullvadTypes/Protocols/EphemeralPeerReceiving.swift
  ios/MullvadTypes/Protocols/TunnelProvider.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PostQuantum/EphemeralPeerExchangingPipeline.swift
  ios/PacketTunnel/PostQuantum/MultiHopEphemeralPeerExchanger.swift
  ios/PacketTunnel/PostQuantum/SingleHopEphemeralPeerExchanger.swift
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+Public.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorCommand.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorReducer.swift
  ios/PacketTunnelCore/Actor/Protocols/EphemeralPeerExchangingProtocol.swift
  ios/PacketTunnelCoreTests/EphemeralPeerExchangingPipelineTests.swift
  ios/PacketTunnelCoreTests/Mocks/EphemeralPeerExchangeActorStub.swift
  ios/PacketTunnelCoreTests/Mocks/KeyExchangingResultStub.swift
  ios/PacketTunnelCoreTests/MultiHopEphemeralPeerExchangerTests.swift
  ios/PacketTunnelCoreTests/SingleHopEphemeralPeerExchangerTests.swift
  mullvad-ios/Cargo.toml
  mullvad-ios/src/encrypted_dns_proxy.rs
  mullvad-ios/src/ephemeral_peer_proxy/ios_runtime.rs
  mullvad-ios/src/ephemeral_peer_proxy/ios_tcp_connection.rs
  mullvad-ios/src/ephemeral_peer_proxy/mod.rs
  mullvad-ios/src/ephemeral_peer_proxy/peer_exchange.rs
  talpid-tunnel-config-client/src/lib.rs
Labels: iOS

#7391 Fix borked unit test
  ios/MullvadRustRuntimeTests/MullvadPostQuantum+Stubs.swift
Labels: iOS

#7386 Disconnect provider and ownership
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/data/DummyRelayItems.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CheckboxCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/FilterUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/RelayItemPreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/FilterConstrainExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/RelayFilterUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/ProviderToOwnershipsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/daemon-grpc/src/test/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/RelayNameComparatorTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Provider.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ProviderId.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/RelayItem.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7395 Update changelog for `android/2014.10-beta2`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7393 Improve tapjacking prevention to not block other apps
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#7387 Add DAITAv2 on iOS
  ios/CHANGELOG.md
  ios/MullvadRustRuntime/EphemeralPeerReceiver.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/Protocols/DaitaV2Parameters.swift
  ios/MullvadTypes/Protocols/EphemeralPeerReceiver.swift
  ios/MullvadTypes/Protocols/EphemeralPeerReceiving.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PostQuantum/EphemeralPeerExchangingPipeline.swift
  ios/PacketTunnel/PostQuantum/MultiHopEphemeralPeerExchanger.swift
  ios/PacketTunnel/PostQuantum/SingleHopEphemeralPeerExchanger.swift
  ios/PacketTunnelCore/Actor/EphemeralPeerNegotiationState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/Protocols/EphemeralPeerExchangingProtocol.swift
  ios/PacketTunnelCore/Daita/Maybenot.swift
  ios/PacketTunnelCoreTests/EphemeralPeerExchangingPipelineTests.swift
  ios/PacketTunnelCoreTests/Mocks/EphemeralPeerExchangeActorStub.swift
  ios/PacketTunnelCoreTests/Mocks/KeyExchangingResultStub.swift
  ios/PacketTunnelCoreTests/MultiHopEphemeralPeerExchangerTests.swift
  ios/PacketTunnelCoreTests/SingleHopEphemeralPeerExchangerTests.swift
  mullvad-ios/src/ephemeral_peer_proxy/ios_tcp_connection.rs
  mullvad-ios/src/ephemeral_peer_proxy/mod.rs
  mullvad-ios/src/ephemeral_peer_proxy/peer_exchange.rs
  talpid-tunnel-config-client/src/lib.rs
Labels: iOS
