Repository mullvad/mullvadvpn-app, pull requests merged in 2024-06, with the labels that each got.

#6305 Fix TunnelStateProvider missing dep
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
Labels: Android

#6308 Remove by custom DNS by index
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
Labels: Android

#6310 Add setting for udp2tcp port
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/WireguardConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/FromDomain.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Port.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#6309 Fix DnsDialog shortly showing error after adding new DNS entry
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
Labels: Android

#6300 Rewrite screenshot tests to use new syntax
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNScreenshots.xcscheme
  ios/MullvadVPNScreenshots/Info.plist
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Base/LoggedInWithTimeUITestCase.swift
  ios/MullvadVPNUITests/Base/LoggedOutUITestCase.swift
  ios/MullvadVPNUITests/CustomListsTests.swift
  ios/MullvadVPNUITests/Pages/AddCustomListLocationsPage.swift
  ios/MullvadVPNUITests/Pages/CustomListPage.swift
  ios/MullvadVPNUITests/Pages/DNSSettingsPage.swift
  ios/MullvadVPNUITests/Pages/EditCustomListLocationsPage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/Screenshots/ScreenshotTests.swift
  ios/MullvadVPNUITests/Screenshots/SnapshotHelper.swift
  ios/TestPlans/MullvadVPNScreenshots.xctestplan
  ios/TestPlans/MullvadVPNUITestsAll.xctestplan
Labels: iOS

#6322 Update package dependency to include all routes in network settings
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS

#6324 Upgrade the Gemfile and the Screenshot tests to recent versions
  ios/Gemfile
  ios/Gemfile.lock
  ios/MullvadVPNUITests/Screenshots/ScreenshotTests.swift
  ios/MullvadVPNUITests/Screenshots/SnapshotHelper.swift
  ios/Snapfile
Labels: iOS

#6327 Add the UITests xcconfig file when running screenshot tests
  .github/workflows/ios-screenshots-tests.yml
Labels: iOS

#6328 Update android suppressions
  android/config/dependency-check-suppression.xml
  android/test/test-suppression.xml
Labels: Android

#6302 Fix conncheck to work on staging environment
  ios/Configurations/Api.xcconfig.template
  ios/MullvadVPN/GeneralAPIs/OutgoingConnectionProxy.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/Supporting Files/Info.plist
  ios/MullvadVPNTests/MullvadVPN/GeneralAPIs/OutgoingConnectionProxyTests.swift
  ios/PacketTunnel/Info.plist
  ios/Shared/ApplicationConfiguration.swift
Labels: iOS

#6332 Clean up detekt baseline from generated classes
  android/build.gradle.kts
  android/config/baseline.xml
Labels: Android

#6333 Unify account number naming
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/LoginUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/WelcomeUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/AccountNumberVisualTransformation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/VoucherVisualTransformation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceUseNotificationCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/AccountNumber.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/DeviceState.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/LoginAccountError.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/AccountRepository.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/DeviceRepository.kt
  android/scripts/run-instrumented-tests.sh
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/NameTest.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/e2e/README.md
  android/test/e2e/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/Constants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/interactor/MullvadAccountInteractor.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/CleanupAccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountExpiryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountHistoryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/Extensions.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LogoutMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/util/JsonUtils.kt
Labels: Android

#6278 Migrate end to end tests to staging and fix related issues
  .github/actions/ios-end-to-end-tests/action.yml
  .github/workflows/ios-end-to-end-tests-settings-migration.yml
  .github/workflows/ios-end-to-end-tests.yml
  ios/Configurations/Api.xcconfig.template
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNUITests.xcscheme
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentView.swift
  ios/MullvadVPN/Supporting Files/Info.plist
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportReviewViewController.swift
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportViewController+ViewManagement.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterChipView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/Views/StatusActivityView.swift
  ios/MullvadVPN/Views/StatusImageView.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Base/LoggedInWithTimeUITestCase.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/CustomListsTests.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Networking/MullvadAPIWrapper.swift
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/Networking/PartnerAPIClient.swift
  ios/MullvadVPNUITests/Pages/APIAccessPage.swift
  ios/MullvadVPNUITests/Pages/AccountDeletionPage.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Pages/AddAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/Alert.swift
  ios/MullvadVPNUITests/Pages/AppLogsPage.swift
  ios/MullvadVPNUITests/Pages/ChangeLogAlert.swift
  ios/MullvadVPNUITests/Pages/CustomListPage.swift
  ios/MullvadVPNUITests/Pages/DNSSettingsPage.swift
  ios/MullvadVPNUITests/Pages/DeviceManagementPage.swift
  ios/MullvadVPNUITests/Pages/EditAccessMethodPage.swift
  ios/MullvadVPNUITests/Pages/EditCustomListLocationsPage.swift
  ios/MullvadVPNUITests/Pages/HeaderBar.swift
  ios/MullvadVPNUITests/Pages/ListCustomListsPage.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/OutOfTimePage.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/ProblemReportPage.swift
  ios/MullvadVPNUITests/Pages/ProblemReportSubmittedPage.swift
  ios/MullvadVPNUITests/Pages/RevokedDevicePage.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/TermsOfServicePage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/WelcomePage.swift
  ios/MullvadVPNUITests/README.md
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
  mullvad-api/src/abortable_stream.rs
  mullvad-api/src/access.rs
  mullvad-api/src/ffi/error.rs
  mullvad-api/src/lib.rs
Labels: iOS

#6304 Fix many small bugs
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideStatus.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideStatusView.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
Labels: bug, iOS

#6318 Prevent loading when logging out
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModelTest.kt
Labels: Android

#6341 Fix outdated tidy script paths
  android/app/src/main/res/xml/provider_paths.xml
  android/lib/common/src/main/AndroidManifest.xml
  android/lib/resource/src/main/res/drawable/ic_remove.xml
  android/lib/resource/src/main/res/drawable/icon_add.xml
  android/lib/resource/src/main/res/drawable/icon_delete.xml
  android/lib/resource/src/main/res/drawable/icon_edit.xml
  android/lib/resource/src/main/res/drawable/icon_fail.xml
  android/lib/resource/src/main/res/drawable/icon_more_vert.xml
  android/lib/resource/src/main/res/drawable/icon_success.xml
  android/lib/resource/src/main/res/drawable/icon_text_fields.xml
  android/lib/resource/src/main/res/drawable/icon_upload_file.xml
  android/lib/resource/src/main/res/drawable/icons_more_circle.xml
  android/lib/resource/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/resource/src/main/res/values/styles.xml
  android/scripts/tidy.sh
  android/test/e2e/src/main/AndroidManifest.xml
  android/test/mockapi/src/main/AndroidManifest.xml
Labels: Android

#6340 Always show account history on login screen if present
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
Labels: Android

#6344 Fix missing device refresh
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/DeviceRepository.kt
Labels: bug, Android

#6335 Add multi-hop toggle to settings view
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksLoader.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksRelaySelector.swift
  ios/MullvadSettings/MultihopSettings.swift
  ios/MullvadSettings/TunnelSettingsUpdate.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
  ios/MullvadVPNTests/MullvadREST/Shadowsocks/ShadowsocksLoaderTests.swift
  ios/MullvadVPNUITests/Pages/MultihopPromptAlert.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PacketTunnelProvider/RelaySelectorWrapper.swift
  ios/PacketTunnelCore/Actor/ObservedState+Extensions.swift
  ios/PacketTunnelCore/Actor/Protocols/SettingsReaderProtocol.swift
  ios/PacketTunnelCore/Actor/TunnelSettingsManager.swift
  ios/PacketTunnelCoreTests/TunnelSettingsManagerTests.swift
Labels: iOS, feature request

#6293 Clarify lockdown limitations in guide
  android/CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/constant/BuildConstant.kt
  gui/locales/messages.pot
Labels: Android

#6345 Update auto-connect for TV users to legacy and update description
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6350 Prevent title from being multiple lines
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
Labels: Android

#6351 Fix text overflow and max lines on connection screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#6354 Update lockdown guide URL
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
Labels: Android

#6347 Prevent duplicate navigate up
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ContentBlockersInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CreateCustomListDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomDnsInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeleteCustomListConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DeviceNameInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DiscardChangesDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/EditCustomListNameDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/LocalNetworkSharingInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MalwareInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ObfuscationInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/QuantumResistanceInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RemoveDeviceConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ReportProblemNoEmailDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ResetServerIpOverridesConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ServerIpOverridesInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/UdpOverTcpPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardPortInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/payment/VerificationPendingDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListLocationsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ImportOverridesByTextScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/NoDaemonScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#6343 Add timeout to the tcp connection for the pq key negotiation ios 701
  ios/MullvadPostQuantum/PostQuantumKeyNegotiator.swift
  ios/MullvadPostQuantum/talpid-tunnel-config-client/include/talpid_tunnel_config_client.h
  ios/MullvadPostQuantumTests/MullvadPostQuantum+Stubs.swift
  ios/MullvadPostQuantumTests/PostQuantumKeyExchangeActorTests.swift
  ios/MullvadREST/RetryStrategy/RetryStrategy.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadPostQuantumTests.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/PostQuantumKeyExchangeActor.swift
  ios/PacketTunnelCore/NEPacketTunnelProvider+Extensions.swift
  ios/TestPlans/MullvadVPNApp.xctestplan
  ios/TestPlans/MullvadVPNCI.xctestplan
  talpid-tunnel-config-client/src/ios_ffi/ios_runtime.rs
  talpid-tunnel-config-client/src/ios_ffi/ios_tcp_connection.rs
  talpid-tunnel-config-client/src/ios_ffi/mod.rs
Labels: iOS

#6361 Add action to ensure clean lockfile
  .github/workflows/android-audit.yml
  android/scripts/update-lockfile.sh
Labels: Android

#6364 Fix protoc dependency verification
  android/build.gradle.kts
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/gradle/verification-metadata.xml
  android/lib/daemon-grpc/build.gradle.kts
Labels: Android

#6365 Use temp dirs in lockfile script
  android/scripts/update-lockfile.sh
Labels: Android

#6346 Update mockk to 1.13.11
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
Labels: Android

#6368 Add auto-capitalization to custom list name input
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CustomListNameTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
Labels: Android

#6362 Replace retry with exponential backoff with arrow schedule
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/PaymentConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/PaymentUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/VerificationResultExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/gradle/verification-metadata.xml
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingPaymentRepository.kt
  android/lib/payment/build.gradle.kts
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/PaymentRepository.kt
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/model/VerificationError.kt
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/model/VerificationResult.kt
Labels: Android

#6336 Fix screenshot tests failing
  .github/workflows/ios-screenshots-creation.yml
  .github/workflows/ios-screenshots-tests.yml
  ios/Configurations/Screenshots.xcconfig.template
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN/Supporting Files/Info.plist
  ios/MullvadVPNUITests/Networking/PartnerAPIClient.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/Snapfile
Labels: iOS

#6379 Fix navigation mixup in settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
Labels: Android

#6375 Add disconnect button to Welcome Screen
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
Labels: Android

#6384 Ignore case when ordering split tunneling apps
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
Labels: Android

#6389 Add support for bullets in changes file
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/StringExtensions.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepositoryTest.kt
Labels: Android

#6387 Add delay at least wrapper and apply to test api method
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/Delay.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ApiAccessMethodDetailsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/EditApiAccessMethodViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ApiAccessMethodDetailsViewModelTest.kt
Labels: Android

#3947 Add e2e test for account expiry notifications
  gui/src/renderer/components/NotificationArea.tsx
  gui/test/e2e/mocked/notifications.spec.ts
Labels: Desktop frontend

#6224 Update view model when switching between entry and exit location
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsDataSource.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDiffableDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
  ios/MullvadVPN/View controllers/SelectLocation/RelaySelection.swift
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
Labels: iOS

#6398 Replace all maximum timeout values to 60 seconds
  ios/MullvadMockData/Extensions/TimeInterval+Timeout.swift
  ios/MullvadPostQuantumTests/PostQuantumKeyExchangeActorTests.swift
  ios/MullvadRESTTests/HeadRequestTests.swift
  ios/MullvadRESTTests/RequestExecutorTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/GeneralAPIs/OutgoingConnectionProxyTests.swift
  ios/MullvadVPNTests/MullvadVPN/PacketTunnel/DeviceCheck/DeviceCheckOperationTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/StartTunnelOperationTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Tunnel/OutgoingConnectionServiceTests.swift
  ios/MullvadVPNUITests/Screenshots/SnapshotHelper.swift
  ios/OperationsTests/AsyncBlockOperationTests.swift
  ios/OperationsTests/AsyncResultBlockOperationTests.swift
  ios/OperationsTests/OperationConditionTests.swift
  ios/OperationsTests/OperationObserverTests.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/EventChannelTests.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
  ios/PacketTunnelCoreTests/PingerTests.swift
  ios/PacketTunnelCoreTests/TunnelMonitorTests.swift
  ios/PacketTunnelCoreTests/TunnelSettingsManagerTests.swift
Labels: iOS

#6393 Update compose to 1.7.0-beta3
  android/app/lint-baseline.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/MullvadModalBottomSheet.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/TextFieldColors.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle.properties
  android/gradle/verification-metadata.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
Labels: Android

#6406 Migrate logging to kermit
  android/app/build.gradle.kts
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/MullvadApplication.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ChangelogDataProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/buildSrc/src/main/kotlin/Versions.kt
  android/gradle/verification-metadata.xml
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/constant/LogTag.kt
  android/lib/daemon-grpc/build.gradle.kts
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/util/LogInterceptor.kt
  android/lib/map/build.gradle.kts
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/GLHelper.kt
  android/lib/shared/build.gradle.kts
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/DeviceRepository.kt
  android/lib/talpid/build.gradle.kts
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/ForegroundNotificationManager.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/LogTest.kt
  android/test/common/build.gradle.kts
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/CaptureScreenshotOnFailedTestRule.kt
  android/test/e2e/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/CleanupAccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/mockapi/build.gradle.kts
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/Extensions.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiDispatcher.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
  android/tile/build.gradle.kts
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
Labels: Android

#6403 Re-enable screenshots for iPad
  .github/workflows/ios-screenshots-tests.yml
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/Snapfile
Labels: iOS
