Repository mullvad/mullvadvpn-app, pull requests merged in 2024-03, with the labels that each got.

#5881 Improve GH actions build speed
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
Labels: Android

#5883 Use faster GH runners for slow jobs
  .github/workflows/android-app.yml
Labels: Android

#5884 Change test and lint matrix strategy
  .github/workflows/android-app.yml
Labels: Android

#5882 Update to use production secrets
  .github/workflows/ios-end-to-end-tests.yml
Labels: iOS

#5886 Fix LocationDataSource crash in MockRelease build
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
Labels: bug, iOS

#5880 Fix Revoked sometimes showing after logging in
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/DeviceRepository.kt
Labels: Android

#5887 Remove buildconfig from properties
  android/app/build.gradle.kts
  android/gradle.properties
  android/lib/endpoint/build.gradle.kts
  android/lib/map/build.gradle.kts
  android/service/build.gradle.kts
  android/test/e2e/build.gradle.kts
Labels: Android

#5872 Refactor location data type and dependencies
  ios/.swiftlint.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsValidationErrorConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsValidationErrorContentView.swift
  ios/MullvadVPN/Extensions/UIBackgroundConfiguration+Extensions.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSection.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationNode.swift
  ios/MullvadVPN/View controllers/SelectLocation/SelectLocationNodeProtocol.swift
  ios/MullvadVPN/View controllers/Settings/SelectableSettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsAddDNSEntryCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDNSTextCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPNTests/Location/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/Location/CustomListRepositoryTests.swift
  ios/MullvadVPNTests/Location/CustomListsDataSourceTests.swift
  ios/MullvadVPNTests/Location/LocationNodeTests.swift
  ios/MullvadVPNTests/Mocks/CustomListsRepositoryStub.swift
Labels: iOS

#5874 Relay selector evaluates only first location constraint when a custom list is selected
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/MullvadVPNTests/ServerRelaysResponse+Stubs.swift
Labels: iOS

#5890 Fix VpnSettingsScreen DPAD navigation
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
Labels: Android

#5895 Fix margin on ConnectScreen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#5889 Use collectAsStateWithLifecycle
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/RedeemVoucherDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/payment/PaymentDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/buildSrc/src/main/kotlin/Dependencies.kt
  android/gradle/verification-metadata.xml
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/compose/ComposeTest.kt
Labels: Android

#5901 Define the PostQuantumKeyReceiving protocol …
  ios/MullvadTypes/Protocols/PostQuantumKeyReceiving.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#5899 Force environment variables when running on iOS
  ios/MullvadVPNUITests/MullvadApi.swift
  mullvad-api/src/ffi/mod.rs
Labels: iOS

#5820 Allow deleting custom lists
  ios/MullvadSettings/CustomListRepository.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
Labels: iOS

#5910 Fix end to end test build script
  .github/workflows/ios-end-to-end-tests.yml
Labels: iOS

#5916 Fix broken UI tests
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPNTests/Location/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/Location/CustomListsDataSourceTests.swift
  ios/MullvadVPNTests/Location/LocationNodeTests.swift
Labels: bug, iOS

#5920 Fix filter screen selection
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/FilterConstrainExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
Labels: Android

#5898 Fix long method
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
Labels: Android

#5912 Make the 'Clear all overrides' button only active when there are overrides
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideStatus.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
Labels: bug, iOS

#5928 Add -disableAutomaticPackageResolution to xcodebuild command
  .github/workflows/ios-end-to-end-tests.yml
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios-validate-build-schemas.yml
  .github/workflows/ios.yml
  ios/build.sh
Labels: iOS

#5892 Improve divider usage and replace deprecated divider
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/VerticalDivider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
Labels: Android

#5918 Updated workflow to be compatible with xcconfig changes in main
  .github/workflows/ios-end-to-end-tests.yml
Labels: iOS

#5919 Introduce ObservedState.negotiatingKey and TunnelState.negotiatingKey…
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/StopTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/ObservedState+Extensions.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
Labels: iOS

#5855 Test account creation and deletion
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/Alert/AlertPresentation.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/Login/LoginContentView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeContentView.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewController.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/MullvadApi.swift
  ios/MullvadVPNUITests/Networking/MullvadAPIWrapper.swift
  ios/MullvadVPNUITests/Pages/AccountDeletionPage.swift
  ios/MullvadVPNUITests/Pages/ChangeLogAlert.swift
  ios/MullvadVPNUITests/Pages/HeaderBar.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
  ios/MullvadVPNUITests/Pages/OutOfTimePage.swift
  ios/MullvadVPNUITests/Pages/RevokedDevicePage.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/TermsOfServicePage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/WelcomePage.swift
  ios/MullvadVPNUITests/README.md
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
  ios/MullvadVPNUITests/Test base classes/LoggedInWithTimeUITestCase.swift
  ios/MullvadVPNUITests/Test base classes/LoggedInWithoutTimeUITestCase.swift
  ios/MullvadVPNUITests/Test base classes/LoggedOutUITestCase.swift
  ios/TestPlans/MullvadVPNUITestsAll.xctestplan
Labels: iOS

#5873 Rework side effects
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/MtuDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/payment/PaymentDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplashScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Effect.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AccountViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceRevokedViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/MtuDialogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/PrivacyDisclaimerViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ReportProblemViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplashViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountExpiryMockApiTest.kt
Labels: Android

#5911 Increase ripple contrast
  CHANGELOG.md
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
Labels: Android

#5930 Adding section header view for select location sections ios 549
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/View controllers/SelectLocation/InMemoryCustomListRepository.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCellFactory.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSourceProtocol.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
Labels: iOS

#5945 Revert and rename the auto connect option on non tv devices
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#5940 Remove konsist workaround
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/GeneralTest.kt
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/JUnitTest.kt
Labels: Android

#5948 Add transition to DeviceListScreen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/transitions/LoginTransition.kt
Labels: Android

#5951 Fix missing copy snackbar in account screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
Labels: bug, Android

#5878 Test logging out
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/MullvadApi.swift
  ios/MullvadVPNUITests/Networking/MullvadAPIWrapper.swift
Labels: iOS

#5944 Enable building features in crates on iOS
  ios/build-rust-library.sh
Labels: iOS

#5958 Fix format of ipv6 addresses in the allow lan info dialog
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
Labels: bug, Android

#5957 Fix privacy policy link not working
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/PrivacyDisclaimerViewModel.kt
Labels: bug, Android

#5953 Fix endless loop on gboard on TV for custom text fields
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
Labels: bug, Android

#5909 Create view with custom lists to edit
  ios/MullvadSettings/CustomListRepository.swift
  ios/MullvadSettings/CustomListRepositoryProtocol.swift
  ios/MullvadTypes/RelayConstraints.swift
  ios/MullvadTypes/RelayLocation.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/AddCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListInteractor.swift
  ios/MullvadVPN/Coordinators/CustomLists/CustomListViewController.swift
  ios/MullvadVPN/Coordinators/CustomLists/EditCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListCoordinator.swift
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListViewController.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/InMemoryCustomListRepository.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPNTests/Location/CustomListRepositoryTests.swift
  ios/MullvadVPNTests/Location/CustomListsDataSourceTests.swift
  ios/MullvadVPNTests/MigrationManagerTests.swift
  ios/MullvadVPNTests/Mocks/CustomListsRepositoryStub.swift
  ios/MullvadVPNTests/MullvadSettings/TunnelSettingsUpdateTests.swift
  ios/MullvadVPNTests/RelayConstraintsTests.swift
  ios/MullvadVPNTests/RelaySelectorTests.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
Labels: iOS

#5959 Add the PrivacyInfo manifest to both target bundles
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#5960 Add .replaceDevicePrivateKey() value to PacketTunnelActor's Command enum
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/PacketTunnelCore/Actor/Command.swift
  ios/PacketTunnelCore/Actor/CommandChannel.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorCommand.swift
  ios/PacketTunnelCoreTests/CommandChannelTests.swift
Labels: iOS

#5962 Fix memory leak at LocationNode
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
Labels: bug, enhancement, iOS

#5966 Fix privacy policy paddings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
Labels: Android

#5973 Increase e2e test connection timeout
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
Labels: Android

#5972 Update changelog for android/2024.1-beta1
  CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#5967 Conform PacketTunnelProvider to PostQuantumKeyReceiving, updating types...
  ios/MullvadTypes/Protocols/PostQuantumKeyReceiving.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+Public.swift
Labels: iOS

#5971 Move IP Overrides into VPN Settings menu
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/VPNSettingsCoordinator.swift
  ios/MullvadVPN/View controllers/Preferences/PreferencesDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInputCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractorFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInteractor.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
  ios/MullvadVPNScreenshots/MullvadVPNScreenshots.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
Labels: iOS

#5970 Remove custom list on reset settings
  ios/MullvadSettings/SettingsManager.swift
Labels: iOS

#5984 Fix paragraphs spacing in alert views
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
Labels: bug, iOS

#5981 Prevent some forms of tapjacking
  CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/config/config.mobsf
Labels: Android

#5989 Ensure that gradle wrapper file changes are signed
  .github/workflows/verify-locked-down-signatures.yml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
Labels: Android

#5995 Fix selection of custom list location not being retained
  ios/MullvadVPN/View controllers/SelectLocation/CustomListsDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationNode.swift
  ios/MullvadVPNTests/Location/CustomListsDataSourceTests.swift
Labels: bug, iOS

#5982 Replace duplicated cascades of case statements with utility methods on State
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+KeyPolicy.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+NetworkReachability.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/State+Extensions.swift
  ios/PacketTunnelCore/Actor/State.swift
Labels: iOS

#6004 Fix not showing the correct api access method in use on app reinstall
  ios/MullvadREST/Transport/AccessMethodIterator.swift
Labels: bug, iOS

#5991 Improve animation duration calculation
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/CameraAnimation.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/Constants.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/MapGLRenderer.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/LatLong.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/model/Latitude.kt
  android/lib/model/src/test/kotlin/net/mullvad/mullvadvpn/model/LatLongTest.kt
Labels: Android

#5986 Do not show a toast after dismissing the dns dialog
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Navigation.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
Labels: Android

#5955 Add WireGuard tests for iOS app
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/Networking/FirewallAPIClient.swift
  ios/MullvadVPNUITests/Networking/FirewallRule.swift
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/Pages/Page.swift
  ios/MullvadVPNUITests/Pages/SelectLocationPage.swift
  ios/MullvadVPNUITests/Pages/SettingsPage.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/Test base classes/BaseUITestCase.swift
Labels: iOS

#6009 Remove python scripts/dependencies from iOS directory
  ios/README.md
  ios/requirements.txt
  ios/update_translations.py
Labels: iOS

#5987 Queue all updates to snapshot in LocationDataSource asynchronously
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
Labels: bug, iOS

#6024 Remove settings only on app uninstall
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
Labels: iOS
