Repository mullvad/mullvadvpn-app, pull requests merged in 2024-09, with the labels that each got.

#6717 Fix relays not being filtered correctly when Daita is enabled
  ios/MullvadREST/Assets/relays.json
Labels: iOS

#6718 Update changelog for Android 2024.4
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#6728 Update the Marketing version to the latest release
  ios/Configurations/Version.xcconfig
Labels: iOS

#6735 Bump agp related vulnerabilities one month
  android/gradle/osv-scanner.toml
Labels: Android

#6696 Fix off-screen element detection issue
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/XCUIElement+Extensions.swift
Labels: iOS

#6739 Fix selected relay label being too long when multihoping with Daita
  ios/MullvadVPN/View controllers/Tunnel/ConnectionPanelView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
Labels: iOS

#6721 Inject tunnel settings in RelaySelectorWrapper
  ios/MullvadMockData/MullvadREST/RelaySelectorStub.swift
  ios/MullvadREST/Relay/RelaySelectorProtocol.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadVPN/PacketTunnelCore/PacketTunnelActorReducerTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
Labels: iOS

#6744 Fix the cached relays to include daita information in new app version
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/IPOverrideWrapper.swift
  ios/MullvadREST/Relay/RelayCache.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
Labels: iOS

#6719 Update connection details on main view to indicate that DAITA is used
  ios/MullvadVPN/View controllers/Tunnel/TunnelControlView.swift
Labels: iOS

#6746 Try catch establish in createTun
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
Labels: Android

#6727 Replace GoString with our own function to fix mte issue
  wireguard-go-rs/libwg/libwg.go
  wireguard-go-rs/libwg/libwg_android.go
  wireguard-go-rs/libwg/libwg_daita.go
  wireguard-go-rs/libwg/libwg_default.go
Labels: Android

#6752 Refactor to use preview parameter providers
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ApiAccessListUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/DeviceListPreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/DeviceListUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/EditApiAccessMethodUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/LoginUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ReportProblemUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditApiAccessMethodScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
Labels: Android

#6766 Do not display post quantum label for daita non pq connections
  ios/MullvadVPN/TunnelManager/MapConnectionStatusOperation.swift
  ios/MullvadVPN/TunnelManager/StartTunnelOperation.swift
  ios/MullvadVPN/TunnelManager/TunnelState+UI.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#6745 Upgrade the UX in Daita scenarios
  ios/MullvadSettings/DAITASettings.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInteractor.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
Labels: iOS

#6769 Clarify battery usage in daita dialogs
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6773 Update info about data and battery usage
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
Labels: iOS

#6770 Enable daita in release and add a changelog entry ios 777
  ios/CHANGELOG.md
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: iOS

#6772 Fix VPN settings not being persisted
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
Labels: bug, iOS

#6777 Fix crash in CustomListLocationViewModel when adding exactly one location to an existing list
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListLocationsViewModelTest.kt
Labels: Android

#6780 Fix crash in billing repository
  android/lib/billing/src/main/kotlin/net/mullvad/mullvadvpn/lib/billing/BillingRepository.kt
Labels: Android

#6767 Store the raw JSON payload from the getRelays API call
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/Relay/CachedRelays.swift
  ios/MullvadREST/Relay/IPOverrideWrapper.swift
  ios/MullvadREST/Relay/RelayCache.swift
  ios/MullvadREST/Relay/StoredRelays.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksRelaySelector.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayCacheTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#6764 Rename test timeout constants
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/constant/TimeoutConstants.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/WebLinkTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
Labels: Android

#6789 Bump dependencies
  .github/workflows/android-audit.yml
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/config/dependency-check-suppression.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/lib/billing/build.gradle.kts
  android/lib/common-test/build.gradle.kts
  android/lib/endpoint/build.gradle.kts
  android/lib/payment/build.gradle.kts
  android/service/build.gradle.kts
  android/test/arch/src/test/kotlin/net/mullvad/mullvadvpn/test/arch/JUnitTest.kt
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
Labels: Android

#6791 Fix permission dialog launch
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
Labels: Android

#6779 Refactor port dialog to use a view model
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/CustomPortDialogTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/WireguardCustomPortDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WireguardCustomPortDialogViewModel.kt
Labels: Android

#6805 Update changelog with DAITA
  android/CHANGELOG.md
Labels: Android

#6796 Fix report problem screen text view scroll
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
Labels: Android

#6795 Prevent multiple clicks on accept in privacy screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/PrivacyDisclaimerViewModel.kt
Labels: Android

#6792 Build warnings
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksRelaySelector.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSourceDelegate.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsInfoButtonItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsPromptAlertItem.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
  ios/PacketTunnelCore/Actor/ConnectionConfigurationBuilder.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
Labels: iOS

#6801 Bump minimum target deployment to 15.0
  ios/MullvadTypes/Duration.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/CustomLists/ListCustomListViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsDataSourceConfiguration.swift
  ios/MullvadVPN/Extensions/NSDiffableDataSourceSnapshot+Reconfigure.swift
  ios/MullvadVPN/View controllers/Login/AccountTextField.swift
  ios/MullvadVPN/View controllers/RedeemVoucher/VoucherTextField.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDiffableDataSourceProtocol.swift
  ios/PacketTunnelCore/Actor/Task+Duration.swift
Labels: iOS

#6778 Add feature indicators to connect screen
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/ConnectionButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/SwitchLocationButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/FeatureChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationInfo.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionInfoHeader.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/FeatureIndicatorsPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/GeoIpLocationExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/TunnelEndpointExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/res/drawable/icon_reload.xml
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/config/baseline.xml
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/resource/src/main/res/drawable/icon_chevron.xml
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/color/Color.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/typeface/Typeface.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/tunnelstate/TunnelStateNotificationAction.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/ForgetAllVpnAppsInSettingsTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
  gui/locales/messages.pot
Labels: Android

#6810 Refactor screens to use preview parameter provider
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/AccountUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/CustomListLocationUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/CustomListsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/DeviceRevokedUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/EditCustomListUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/FilterUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ServerIpOverridesUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SettingsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SplitTunnelingUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ViewLogsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/VpnSettingsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/WelcomeScreenUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessMethodDetailsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListLocationsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditApiAccessMethodScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/EditCustomListUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/RelayFilterUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/EditCustomListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ServerIpOverridesViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/EditCustomListViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ServerIpOverridesViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Port.kt
Labels: Android

#6802 Add IAN-based TunnelPinger, refactoring the pinger protocol accordingly.
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
  ios/PacketTunnel/WireGuardAdapter/WireGuardAdapterError+Localization.swift
  ios/PacketTunnelCore/Pinger/Pinger.swift
  ios/PacketTunnelCore/Pinger/PingerProtocol.swift
  ios/PacketTunnelCore/Pinger/TunnelPinger.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCoreTests/Mocks/PingerMock.swift
  ios/PacketTunnelCoreTests/PingerTests.swift
Labels: iOS

#6814 Fix connect screen ui parameters
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
Labels: Android

#6811 Add cbindgen to the android build container
  android/docker/Dockerfile
Labels: Android

#6817 Align feature indicator order with other platforms
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/FeatureIndicator.kt
Labels: Android

#6813 Make the packet tunnel enter error state when failing device check
  ios/MullvadVPNTests/MullvadVPN/PacketTunnel/DeviceCheck/DeviceCheckOperationTests.swift
  ios/PacketTunnel/DeviceCheck/DeviceCheckOperation.swift
  ios/PacketTunnel/PacketTunnelProvider/DeviceChecker.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#6824 Add support for hypens in a changelog entry
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepository.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepositoryTest.kt
Labels: Android

#6825 Call dismissChangelogIfShown at the correct time
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountExpiryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountHistoryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LogoutMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
Labels: Android

#6823 Update changelog for android/2024.5-beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#6812 Make VPN settings DNS edit respect dark mode
  ios/MullvadVPN/View controllers/Settings/SettingsDNSTextCell.swift
Labels: iOS

#6827 Bump required Go version in ios/BuildInstructions.md
  ios/BuildInstructions.md
Labels: iOS

#6800 Add counter and 'all' switch to DNS content blockers
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCellFactory.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewModel.swift
Labels: iOS

#6826 Bump android container to 7b4ffb683
  .github/workflows/android-app.yml
  .github/workflows/rust-unused-dependencies.yml
  android/BuildInstructions.md
  android/docs/BuildInstructions.macos.md
  build-apk.sh
  building/android-container-image.txt
Labels: Android

#6820 Refactor and fix chevron
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ObfuscationModeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Chevron.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ApiAccessListScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#6818 Use quotation marks instead of bold text
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
Labels: Android

#6830 Suppress CVE-2024-7254
  android/config/dependency-check-suppression.xml
  android/gradle/osv-scanner.toml
  android/test/test-suppression.xml
Labels: Android

#6845 Fix select server navigation on TV
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
Labels: Android

#6679 Fix out-of-time notifications
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiry.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/NotificationConfiguration.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPNTests/MullvadVPN/Notifications/NotificationProviders/AccountExpiryTests.swift
Labels: iOS

#6838 Update android container
  android/docker/Dockerfile
Labels: Android

#6854 Fix bundle task binary path
  android/app/build.gradle.kts
Labels: Android

#6840 Add fallback when failing to create `wintun` adapter
  talpid-openvpn/src/wintun.rs
Labels: Windows

#6856 Do not enter blocked state if device check has network errors
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#6788 Create accounts using partner API when available
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Networking/MullvadAPIWrapper.swift
Labels: iOS

#6842 Fix out of time use case virtual time tests
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
Labels: Android

#6839 Update agp to 8.6.1
  android/build.gradle.kts
  android/config/dependency-check-suppression-agp-fixes.xml
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#6837 Update ndk to version 27b
  android/BuildInstructions.md
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Versions.kt
  android/docs/BuildInstructions.macos.md
  android/lib/billing/build.gradle.kts
  android/lib/common-test/build.gradle.kts
  android/lib/common/build.gradle.kts
  android/lib/daemon-grpc/build.gradle.kts
  android/lib/endpoint/build.gradle.kts
  android/lib/intent-provider/build.gradle.kts
  android/lib/map/build.gradle.kts
  android/lib/model/build.gradle.kts
  android/lib/payment/build.gradle.kts
  android/lib/resource/build.gradle.kts
  android/lib/shared/build.gradle.kts
  android/lib/talpid/build.gradle.kts
  android/lib/theme/build.gradle.kts
  android/service/build.gradle.kts
  android/test/arch/build.gradle.kts
  android/test/common/build.gradle.kts
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
  android/tile/build.gradle.kts
  building/android-container-image.txt
Labels: Android

#6861 Don't hijack DNS config when localhost is used
  CHANGELOG.md
  talpid-core/src/dns/macos.rs
Labels: macOS

#6862 Bump dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#6863 Run android-validate-gradle-wrapper on every matching push
  .github/workflows/android-validate-gradle-wrapper.yml
Labels: Android

#6846 Use encrypted dns proxy in `mullvad-ios`
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  mullvad-encrypted-dns-proxy/src/config/mod.rs
  mullvad-encrypted-dns-proxy/src/config_resolver.rs
  mullvad-ios/src/encrypted_dns_proxy.rs
  mullvad-ios/src/ephemeral_peer_proxy/mod.rs
  mullvad-ios/src/lib.rs
Labels: iOS

#6822 Align internal and external notification expiry
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/OutOfTimeViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryConstant.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationProvider.kt
Labels: Android

#6761 Add autostart on TV and remove auto connect feature on android
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/VpnSettingsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/BootCompletedReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/AutoStartAndConnectOnBootRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/AutoStartAndConnectOnBootRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/SetAutoConnectError.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Settings.kt
  android/lib/resource/src/main/res/values/strings.xml
  gui/locales/messages.pot
  mullvad-daemon/src/settings/mod.rs
Labels: Android

#6852 Fix IPv6 parsing in API access methods and custom DNS
  ios/CHANGELOG.md
  ios/MullvadTypes/AnyIPAddress.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel+Persistent.swift
  ios/MullvadVPNTests/MullvadTypes/AnyIPAddressTests.swift
Labels: iOS

#6875 Fix connection method test ios 843
  ios/MullvadREST/Transport/ProxyConfigurationTransportProvider.swift
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS
