Repository mullvad/mullvadvpn-app, pull requests merged in 2025-08, with the labels that each got.

#8528 Bump ktor to 3.2.3
  android/app/build.gradle.kts
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/test/e2e/build.gradle.kts
Labels: Android

#8532 Update android osv vulns
  android/gradle/osv-scanner.toml
Labels: Android

#8533 Handle app icons with negative size without crashing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Drawable.kt
Labels: Android

#8537 Fix crash with DAITA and multihop recents
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/RelayItemListCreator.kt
Labels: Android

#8539 Add additional logging on login failure
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
Labels: Android

#8541 Update scheduled run to 80 iterations
  .github/workflows/android-app.yml
Labels: Android

#8542 Attempt to fix potential ANR
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/NotificationAlarmReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/BroadcastReceiverExtensions.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationProvider.kt
Labels: Android

#8521 Reduce spacing above page indicator
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoView.swift
Labels: iOS

#8553 Port android app 2025.6-beta3 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8557 Fix obfuscation not handling .off in release mode
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
Labels: bug, iOS

#8570 Custom list locations has a redundant square for relays
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/CheckableRelayListItem.kt
Labels: Android

#8555 Replace select hop code in view model and screen with use case
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SearchLocationScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SearchLocationsListUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SearchLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListLocationsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/RelayListContent.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SearchLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/RelayListType.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SearchLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationListUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/CustomListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/FilteredRelayListUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/ModifyMultihopUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/SelectHopUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/customlists/FilterCustomListsRelayItemUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/Daita.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/RelayItemListCreator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectRelay.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SearchLocationViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModelTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/relaylist/SelectableRelayListItem.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#8584 Update changelog for android 2025.6
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8579 Move expiry notification handling to application
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/MullvadApplication.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: Android

#8592 Enable quic obfuscation in app
  ios/CHANGELOG.md
  ios/MullvadREST/Assets/relays.json
  ios/MullvadSettings/WireGuardObfuscationSettings.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
Labels: iOS

#8593 Move padding to within the changelog's implicit scroll view
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogView.swift
Labels: iOS

#8559 Set relay to current country on first start
  android/CHANGELOG.md
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/DefaultLocationTest.kt
  mullvad-daemon/src/lib.rs
  mullvad-daemon/src/settings/mod.rs
  mullvad-management-interface/proto/management_interface.proto
  mullvad-management-interface/src/types/conversions/settings.rs
  mullvad-relay-selector/src/relay_selector/mod.rs
  mullvad-types/src/location.rs
  mullvad-types/src/relay_list.rs
  mullvad-types/src/settings/mod.rs
  mullvad-types/src/states.rs
Labels: Android

#8602 Ignore CVE-2025-55163 as it only affects http2
  android/gradle/osv-scanner.toml
Labels: Android

#8606 Set the default location set flag at login
  mullvad-daemon/src/lib.rs
Labels: Android

#8628 Fix failing e2e tests
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/misc/CaptureScreenRecordingsExtension.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/WireGuardCustomPortDialog.kt
Labels: Android

#8625 Remove string plist from packet tunnel
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Supporting Files/de.lproj/InfoPlist.strings
  ios/MullvadVPN/Supporting Files/fr.lproj/InfoPlist.strings
  ios/MullvadVPN/Supporting Files/sv.lproj/InfoPlist.strings
  ios/PacketTunnel/de.lproj/InfoPlist.strings
  ios/PacketTunnel/fr.lproj/InfoPlist.strings
  ios/PacketTunnel/sv.lproj/InfoPlist.strings
  ios/translation/locales/de.xliff
  ios/translation/locales/en.xliff
  ios/translation/locales/fr.xliff
  ios/translation/locales/sv.xliff
  ios/translation/scripts/localizations.sh
Labels: iOS

#8632 Catch exception in toExpiryDateString()
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/DateExtensions.kt
Labels: Android

#8633 Improve connect on start up information
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/ConnectOnStartupInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ContextExtensions.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#8631 Fix dynamic size issues
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ListCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/MethodSettings/MethodSettingsViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPN/Views/SplitMainButton.swift
Labels: iOS

#8653 Enable rust api client for all builds
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTester.swift
Labels: iOS

#8657 Remove hotfix to force Xcode 16.4
  .github/actions/ios/setup-project-toolchain/action.yml
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios-validate-build-schemas.yml
  .github/workflows/ios.yml
Labels: iOS

#8665 Update changelog for android/2025.7-beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8534 Enable PQ by default on Android
  mullvad-types/src/wireguard.rs
Labels: Android

#8588 Add confirmation dialogs when removing saved account number
  ios/Assets/Localizable.xcstrings
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/View controllers/Login/AccountInputGroupView.swift
  ios/MullvadVPN/View controllers/Login/LoginInteractor.swift
  ios/MullvadVPN/View controllers/Login/LoginViewController.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Pages/LoginPage.swift
Labels: iOS

#8666 Update dependencies
  android/config/lint-baseline.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
Labels: Android
