Repository mullvad/mullvadvpn-app, pull requests merged in 2025-03, with the labels that each got.

#7739 Assume connectivity if we are unable to fetch it
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/InternetAvailableUseCase.kt
Labels: Android

#7708 Urlsession retry strategy
  Cargo.lock
  ios/MullvadREST/ApiHandlers/MullvadApiRequestFactory.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/ApiHandlers/RESTRustNetworkOperation.swift
  ios/MullvadREST/RetryStrategy/RetryStrategy.swift
  ios/MullvadRustRuntime/MullvadApiResponse.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/Duration+Extensions.swift
  mullvad-ios/Cargo.toml
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/response.rs
  mullvad-ios/src/api_client/retry_strategy.rs
Labels: iOS

#7730 Make REST framework depend on Rust framework
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#7748 Add `waitForIdle` to device list test
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
Labels: Android

#7698 Transport api requests across app/packet tunnel boundary
  ios/MullvadMockData/MullvadREST/MockProxyFactory.swift
  ios/MullvadREST/APIRequest/APIError.swift
  ios/MullvadREST/APIRequest/APIRequest.swift
  ios/MullvadREST/APIRequest/APIRequestProxy.swift
  ios/MullvadREST/ApiHandlers/MullvadApiNetworkOperation.swift
  ios/MullvadREST/ApiHandlers/MullvadApiRequestFactory.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/ApiHandlers/RESTProxy.swift
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadREST/ApiHandlers/RESTResponseHandler.swift
  ios/MullvadREST/RetryStrategy/RetryStrategy.swift
  ios/MullvadREST/Transport/APITransport.swift
  ios/MullvadREST/Transport/APITransportProvider.swift
  ios/MullvadRESTTests/RequestExecutorTests.swift
  ios/MullvadRESTTests/RetryStrategyTests.swift
  ios/MullvadRustRuntime/MullvadApiCancellable.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TransportMonitor/PacketTunnelTransport.swift
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/IPC/AppMessageHandler.swift
  ios/PacketTunnelCore/IPC/TunnelProviderMessage.swift
  ios/PacketTunnelCore/URLRequestProxy/ProxyURLResponse.swift
  ios/PacketTunnelCore/URLRequestProxy/URLRequestProxyProtocol.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/Mocks/URLRequestProxyStub.swift
Labels: iOS

#7726 Fix users getting stuck on welcome screen
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
Labels: iOS

#6886 Add end-to-end tests for access methods
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ButtonCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/ButtonCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodItem.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
  ios/MullvadVPNUITests/AccessMethodsTests.swift
  ios/MullvadVPNUITests/Pages/APIAccessPage.swift
  ios/MullvadVPNUITests/Pages/EditAccessMethodPage.swift
Labels: iOS

#7749 Fix broken connectivitylistener
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/CommonFlowUtils.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
Labels: Android

#7747 Stop overwriting daita params with
  ios/PacketTunnel/PostQuantum/MultiHopEphemeralPeerExchanger.swift
  ios/PacketTunnelCoreTests/MultiHopEphemeralPeerExchangerTests.swift
Labels: iOS

#7752 Filter for the correct events in ConnectivityListener
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/talpid/util/ConnectivityManagerUtilKtTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/CommonFlowUtils.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
Labels: Android

#7756 Include native symbols when building Android Application Archive
  android/app/build.gradle.kts
Labels: Android

#7755 Make account number in welcome view copyable
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeViewController.swift
Labels: iOS

#7764 Update changelog for making account number copyable
  ios/CHANGELOG.md
Labels: iOS

#7765 Enable automatic alpha devmole play publishing
  android/build.sh
Labels: Android

#7766 Fix android prepare script push suggestion
  android/scripts/prepare-release.sh
Labels: Android

#7754 Improve error text for other always on apps
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ContextExtensions.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/VpnServiceUtils.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/PrepareError.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7737 Offer to store Account Number in password manager
  android/CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/DeviceState.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
Labels: Android

#7763 Implement device ip setting
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/WireguardConstraintsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/SelectedLocationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/MultihopViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/FromDomain.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/IpVersion.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/WireguardConstraints.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7577 Track IPv6 connectivity on Android
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/talpid/util/ConnectivityManagerUtilKtTest.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/model/Connectivity.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/UnderlyingConnectivityStatusResolver.kt
  mullvad-jni/src/classes.rs
  talpid-core/src/connectivity_listener.rs
  talpid-types/src/net/mod.rs
Labels: Android

#7774 Use the correct connect function to detect online status
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/UnderlyingConnectivityStatusResolver.kt
Labels: Android

#7771 Document MASA audit
  audits/2025-02-24-nccgroup-android-masa.md
  audits/2025-02-24-nccgroup-android-masa.pdf
  audits/README.md
Labels: Android

#7772 Fix devmole publishing
  android/app/build.gradle.kts
Labels: Android

#7759 Use new spacing tokens from design system
  desktop/packages/mullvad-vpn/src/renderer/components/Account.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ApiAccessMethods.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ClipboardLabel.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/DaitaSettings.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/Debug.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/DeviceRevokedView.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ErrorView.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ExpiredAccountAddTime.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ExpiredAccountErrorView.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/Layout.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/Login.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/LoginStyles.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/ProblemReport.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/RedeemVoucher.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/RelayStatusIndicator.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/SettingsHeader.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/SettingsImport.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/SplitTunnelingSettings.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/SplitTunnelingSettingsStyles.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/TooManyDevices.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/VpnSettings.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/app-main-header/AppMainHeader.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/app-main-header/components/AppMainHeaderDeviceInfo.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/CellButton.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/Container.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/Footer.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/Label.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/Section.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/cell/Selector.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/common-styles.ts
  desktop/packages/mullvad-vpn/src/renderer/components/common/layout/Container.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/select-location/SelectLocation.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/views/changelog/ChangelogView.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/button/Button.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/container/Container.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/filter-chip/FilterChip.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/flex/Flex.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/layout/margin.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/components/layout/padding.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/components/logo/Logo.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/main-header/MainHeader.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/navigation-header/NavigationHeader.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/navigation-header/components/NavigationHeaderButtonGroup.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/progress/Progress.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/progress/components/ProgressFooter.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/theme/Theme.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/foundations/tokens/spacing-tokens.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/foundations/variables/spacing-variables.ts
Labels: Desktop frontend

#7809 Suppress netty CVEs
  android/gradle/osv-scanner.toml
Labels: Android

#7797 Build and cache relay list per configuration excluding Release
  ios/README.md
  ios/relays-prebuild.sh
Labels: iOS

#7791 Decouple DNS server info from content-blockers UI expansion
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSDataSource.swift
Labels: iOS

#7812 Improve lockfile task order
  android/scripts/update-lockfile.sh
Labels: Android

#7816 Clean up redundant gradle repo
  android/build.gradle.kts
  android/buildSrc/src/main/kotlin/Repositories.kt
Labels: Android

#7813 Only use lint when generating a new verification metadata file
  android/scripts/update-lockfile.sh
Labels: Android

#7792 Remove "Any" tunnel protocol from query builder
  mullvad-relay-selector/src/relay_selector/mod.rs
  mullvad-relay-selector/src/relay_selector/query.rs
  mullvad-relay-selector/tests/relay_selector.rs
  test/test-manager/src/tests/audits/mul_02_002.rs
  test/test-manager/src/tests/daita.rs
  test/test-manager/src/tests/tunnel.rs
  test/test-manager/src/tests/tunnel_state.rs
  test/test-manager/src/tests/ui.rs
Labels: Daemon

#7805 Keep native debug symbols for debug builds
  android/app/build.gradle.kts
Labels: Android

#7820 Fix the issue in smart routing when selecting one to many relays
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
Labels: iOS

#7815 Make Multihop feature chip appear if settings or current state say so
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
Labels: iOS

#7831 Do not embed wireguard-kit in sub targets
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#7788 Move api.rs from mullvad-daemon to mullvad-api
  mullvad-api/Cargo.toml
  mullvad-api/src/access_mode.rs
  mullvad-api/src/bin/relay_list.rs
  mullvad-api/src/lib.rs
  mullvad-daemon/src/access_method.rs
  mullvad-daemon/src/api.rs
  mullvad-daemon/src/lib.rs
  mullvad-jni/Cargo.toml
Labels: Android, iOS, Daemon

#7646 Show number of available relays in filter view
  ios/CHANGELOG.md
  ios/MullvadMockData/MullvadREST/MockRelayCache.swift
  ios/MullvadMockData/MullvadREST/RelaySelectorStub.swift
  ios/MullvadMockData/MullvadREST/ServerRelaysResponse+Stubs.swift
  ios/MullvadREST/Relay/RelayCandidates.swift
  ios/MullvadREST/Relay/RelaySelectorProtocol.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadREST/Relay/RelayWithLocation.swift
  ios/MullvadTypes/RelayConstraint.swift
  ios/MullvadTypes/RelayFilter.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Coordinators/RelayFilterCoordinator.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/View controllers/RelayFilter/FilterDescriptor.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterCellFactory.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSource.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSourceItem.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewController.swift
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterViewModel.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationRelays.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSection.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderFooterView.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
  ios/MullvadVPN/View controllers/Settings/CheckableSettingsCell.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscatorPortSelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorWrapperTests.swift
  ios/MullvadVPNTests/MullvadREST/Shadowsocks/ShadowsocksLoaderTests.swift
  ios/MullvadVPNTests/MullvadVPN/RelayCacheTracker/RelayCacheTracker+Stubs.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Filter/FilterDescriptorTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Filter/RelayFilterViewModelTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/AllLocationsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListsDataSourceTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Tunnel/DestinationDescriberTests.swift
Labels: iOS

#7836 Enable testability for MullvadREST
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#7822 Add workflow to ensure reproducibility
  .github/workflows/android-reproducible-builds.yml
  android/fdroid-build/env.sh
  android/fdroid-build/metadata/net.mullvad.mullvadvpn.yml
Labels: Android

#7784 Add support for external links in link component
  desktop/packages/mullvad-vpn/src/renderer/components/ExternalLink.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/InternalLink.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/NotificationArea.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/button/components/ButtonText.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/filter-chip/components/FilterChipText.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/navigation-header/components/NavigationHeaderTitle.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/progress/components/ProgressPercent.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/progress/components/ProgressText.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/BodySmall.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/BodySmallSemiBold.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/FootnoteMini.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/Label.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/LabelTiny.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/Link.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/Text.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/TitleBig.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/TitleLarge.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/components/typography/TitleMedium.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/new-version.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/types/index.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/types/polymorphic-props.ts
  desktop/packages/mullvad-vpn/src/shared/notifications/notification.ts
Labels: Desktop frontend

#7795 Improve TV connect screen UI
  android/CHANGELOG.md
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RemoveDeviceConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/InfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/AppInfoUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Device.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/serviceconnection/AppVersionInfoRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/NewChangelogNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AppInfoViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/NewDeviceNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/VersionNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SettingsViewModelTest.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/InAppNotification.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/VersionInfo.kt
  android/lib/resource/src/main/res/drawable/daita_illustration_1.xml
  android/lib/resource/src/main/res/drawable/daita_illustration_2.xml
  android/lib/resource/src/main/res/drawable/logo_text.xml
  android/lib/resource/src/main/res/values-television/booleans.xml
  android/lib/resource/src/main/res/values/booleans.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/lib/tv/build.gradle.kts
  android/lib/tv/src/main/AndroidManifest.xml
  android/lib/tv/src/main/kotlin/net/mullvad/mullvadvpn/lib/tv/NavigationDrawerTv.kt
  android/lib/tv/src/main/kotlin/net/mullvad/mullvadvpn/lib/tv/NotificationBannerTv.kt
  android/lib/ui/component/build.gradle.kts
  android/lib/ui/component/src/main/AndroidManifest.xml
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/AnimatedNotificationBanner.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/NotificationData.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/RememberPrevious.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/ResourcesExtensions.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/SpannedExtensions.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/test/ComposeTestTagConstants.kt
  android/settings.gradle.kts
Labels: Android

#7814 Implement OpenVPN warnings
  desktop/packages/mullvad-vpn/locales/messages.pot
  desktop/packages/mullvad-vpn/src/renderer/components/NotificationArea.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/NotificationBanner.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/NotificationSubtitle.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/VpnSettings.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/index.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/new-version.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/no-open-vpn-server-available.ts
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/open-vpn-support-ending.ts
  desktop/packages/mullvad-vpn/src/shared/constants/urls.ts
  desktop/packages/mullvad-vpn/src/shared/notifications/notification.ts
Labels: Desktop frontend

#7824 Rework gradle verification lockfile script
  .github/workflows/android-audit.yml
  .github/workflows/verify-locked-down-signatures.yml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/scripts/lockfile
  android/scripts/update-lockfile.sh
Labels: Android

#7853 Update changelog for `android/2025.1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7855 Add action to go to VPN settings from snackbar
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#7826 Make it possible to disable in-tunnel IPv6 on Android
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialogTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DnsCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/VpnSettingsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/GenericOptions.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/TunnelOptions.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/UnderlyingConnectivityStatusResolver.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
  mullvad-daemon/src/settings/mod.rs
  talpid-tunnel/src/tun_provider/android/mod.rs
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7870 Scroll to first checked custom location on open
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LazyListExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListLocationsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
Labels: Android

#7878 Add android support for multihop to read me
  README.md
Labels: Android

#7777 Avoid using an unavailable ip version to connect to a relay
  CHANGELOG.md
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/talpid/util/ConnectivityManagerUtilKtTest.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/model/Connectivity.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/model/IpAvailability.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/UnderlyingConnectivityStatusResolver.kt
  mullvad-daemon/src/tunnel.rs
  mullvad-jni/src/classes.rs
  mullvad-relay-selector/src/error.rs
  mullvad-relay-selector/src/lib.rs
  mullvad-relay-selector/src/relay_selector/mod.rs
  mullvad-relay-selector/tests/relay_selector.rs
  talpid-core/src/connectivity_listener.rs
  talpid-core/src/offline/linux.rs
  talpid-core/src/offline/macos.rs
  talpid-core/src/offline/windows.rs
  talpid-core/src/tunnel_state_machine/connecting_state.rs
  talpid-core/src/tunnel_state_machine/mod.rs
  talpid-types/src/net/mod.rs
Labels: Android, Daemon

#7890 Broaden issue of android reconfiguration leaks
  docs/known-issues.md
Labels: Android

#7879 Use drawable directly for split tunneling app icons
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Bitmap.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Drawable.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/PackageManagerExtensions.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
Labels: Android

#7898 Port android app 2025.1 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#7901 Add instructions for release APK reproducibiltiy
  android/BuildInstructions.md
Labels: Android

#7902 Update dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#7900 Handle open app page when no app store is installed
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/UriHandlerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AppInfoScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AppInfoViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7903 Document `NetFirewallHyperVProfile` in known issues for Hyper-V WSL firewall
  docs/known-issues.md
Labels: Windows

#7852 Implement getrelays using mullvad api
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/ApiHandlers/RESTError.swift
  ios/MullvadREST/ApiHandlers/RESTResponseHandler.swift
  ios/MullvadREST/MullvadAPI/APIHandlers/MullvadAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIError.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequest.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequestProxy.swift
  ios/MullvadREST/MullvadAPI/MullvadApiNetworkOperation.swift
  ios/MullvadREST/MullvadAPI/MullvadApiRequestFactory.swift
  ios/MullvadREST/Transport/APITransport.swift
  ios/MullvadRustRuntime/MullvadApiResponse.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadVPN/View controllers/Filter/RelayFilterViewModelTests.swift
  mullvad-api/src/relay_list.rs
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/response.rs
Labels: iOS

#7850 Add ability to block IP networks and wireguard to test router
  ci/ios/test-router/flake.lock
  ci/ios/test-router/flake.nix
  ci/ios/test-router/raas/Cargo.lock
  ci/ios/test-router/raas/Cargo.toml
  ci/ios/test-router/raas/src/block_list/mod.rs
  ci/ios/test-router/raas/src/block_list/rule.rs
  ci/ios/test-router/raas/src/capture/mod.rs
  ci/ios/test-router/raas/src/capture/parse.rs
  ci/ios/test-router/raas/src/web/routes.rs
  ci/ios/test-router/router-config.nix
Labels: Android
