Repository mullvad/mullvadvpn-app, pull requests merged in 2025-01, with the labels that each got.

#7371 Update UI tests for the new WG Obfuscation views
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/ShadowsocksObfuscationSettingsView.swift
  ios/MullvadVPN/View controllers/Settings/Obfuscation/UDPOverTCPObfuscationSettingsView.swift
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsCellFactory.swift
  ios/MullvadVPNUITests/Pages/ShadowsocksObfuscationSettingsPage.swift
  ios/MullvadVPNUITests/Pages/UDPOverTCPObfuscationSettingsPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
Labels: iOS

#7403 Open keyboard immediately on opening search
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SearchLocationScreen.kt
Labels: Android

#7402 Show map behind nav bar
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#7398 Bump dependencies
  android/buildSrc/src/main/kotlin/Versions.kt
  android/config/dependency-check-suppression.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
Labels: Android

#7422 Add missing chevrons in settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
Labels: Android

#7401 Be more clear with connection state
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/NotificationTunnelState.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/tunnelstate/TunnelStateNotificationAction.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/tunnelstate/TunnelStateNotificationProvider.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7389 Use constraints in UI state for FilterScreen
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/FilterUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/FilterConstrainExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/RelayFilterUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/relaylist/RelayItemExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/RelayListFilterRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/FilterChipUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/FilterViewModelTest.kt
  android/lib/common-test/src/main/java/net/mullvad/mullvadvpn/lib/common/test/TestUtils.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/FromDomain.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Providers.kt
Labels: Android

#7319 Implement gradle rust plugin
  .github/workflows/android-app.yml
  .github/workflows/daemon.yml
  .github/workflows/testframework.yml
  android/BuildInstructions.md
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/build.sh
  android/buildSrc/src/main/kotlin/Versions.kt
  android/docker/Dockerfile
  android/docs/BuildInstructions.macos.md
  android/docs/DebugInstructions.md
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/scripts/update-lockfile.sh
  building/android-container-image.txt
  building/containerized-build.sh
  wireguard-go-rs/build.rs
Labels: Android

#7431 Update README indicating wireguard over shadowsocks availability on iOS
  README.md
Labels: iOS

#7429 Use bridge interface IP from `tart`
  test/test-manager/src/main.rs
  test/test-manager/src/tests/access_methods.rs
  test/test-manager/src/tests/audits/cve_2019_14899.rs
  test/test-manager/src/tests/audits/mllvd_cr_24_03.rs
  test/test-manager/src/tests/config.rs
  test/test-manager/src/tests/dns.rs
  test/test-manager/src/tests/relay_ip_overrides.rs
  test/test-manager/src/tests/tunnel.rs
  test/test-manager/src/vm/network/linux.rs
  test/test-manager/src/vm/network/macos.rs
  test/test-manager/src/vm/network/mod.rs
Labels: Daemon

#7394 Update changelog presentation
  android/BuildInstructions.md
  android/app/build.gradle.kts
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ChangelogDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/UriHandlerExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/AppInfoUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AppInfoScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ChangelogScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/UserPreferencesRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/NewChangelogNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AppInfoViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ChangelogViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/main/proto/user_prefs.proto
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/ChangelogRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/resource/src/main/res/values/strings_non_translatable.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
  desktop/packages/mullvad-vpn/src/renderer/components/views/app-info/components/ChangelogListItem.tsx
  desktop/packages/mullvad-vpn/src/renderer/components/views/changelog/ChangelogView.tsx
  desktop/packages/mullvad-vpn/src/renderer/lib/notifications/new-version.ts
Labels: Android

#7423 Do not truncate `settings.json`
  test/test-runner/src/logging.rs
Labels: Daemon

#7436 Fix issue with fdroid builds in android/build.sh
  android/build.sh
Labels: Android

#7430 Exclude keychain items from backups
  ios/MullvadSettings/KeychainSettingsStore.swift
  ios/MullvadSettings/KeychainSettingsStoreMigration.swift
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadSettings/SettingsStore.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadSettings/InMemorySettingsStore.swift
Labels: iOS

#7446 Fix gradle rust android plugin
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
Labels: Android

#7439 Add leak test for when VPN settings change
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/test/ComposeTestTagConstants.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/ConnectPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/DaitaSettingsPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/LoginPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SettingsPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/TopBar.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/VpnSettingsPage.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/WebLinkTest.kt
Labels: Android

#7442 Update Direct only pop up design
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITASettingsPromptItem.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
Labels: iOS

#7455 Revert disallowing keychain items to be excluded from backups.
  .github/workflows/git-commit-message-style.yml
  ios/MullvadSettings/KeychainSettingsStore.swift
  ios/MullvadSettings/KeychainSettingsStoreMigration.swift
  ios/MullvadSettings/SettingsManager.swift
  ios/MullvadSettings/SettingsStore.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadSettings/InMemorySettingsStore.swift
Labels: iOS

#7456 Fix constraint for banner
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
Labels: bug, Android

#7471 Update changelog and version after release
  ios/CHANGELOG.md
  ios/Configurations/Version.xcconfig
Labels: iOS

#7470 Rely on connectionState to decide if to unbind the service
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
Labels: bug, Android

#7465 Fix daita settings view on ios 15
  ios/CHANGELOG.md
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoContainerView.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoView.swift
Labels: iOS

#7467 Add new changelog design
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
  ios/MullvadVPN/View controllers/ChangeLog/BulletPointText.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogInteractor.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogModel.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogReader.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogView.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogViewModel.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
  ios/MullvadVPN/View controllers/Settings/SettingsViewController.swift
  ios/MullvadVPN/Views/MainButton.swift
  ios/MullvadVPN/Views/MainButtonStyle.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
Labels: iOS, feature request

#7476 Use padded chevron image to follow figma design
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/HeaderView.swift
Labels: iOS

#7474 Fix clipped feature indicators
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipView.swift
Labels: iOS

#7478 Position location marker on the map correctly ios 993
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/Tunnel/ActivityIndicator.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/FeatureIndicators/FI_TunnelViewController.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#7485 Fix lint on release
  android/config/lint-baseline.xml
  android/config/lint.xml
Labels: Android

#7486 Bump destinations
  android/config/dependency-check-suppression-agp-fixes.xml
  android/config/dependency-check-suppression.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#7482 Bump dependencies
  .github/workflows/android-audit.yml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/MullvadExposedDropdownMenuBox.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Switch.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/AccountUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/TunnelStatePreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditApiAccessMethodScreen.kt
  android/config/lint-baseline.xml
  android/config/lint.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.xml
Labels: Android

#7492 Move the spinner in front of the Connection View
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#7491 Fix target destination of DAITA button in location view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppRoutes.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITASettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
Labels: iOS

#7473 Fix ending up in blocked state when disabling split tunnel
  CHANGELOG.md
  desktop/packages/mullvad-vpn/src/renderer/components/NotificationArea.tsx
  mullvad-daemon/src/lib.rs
  mullvad-daemon/src/settings/mod.rs
Labels: macOS, Daemon

#7479 Fix connection view background in iOS15
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/Views/BlurView.swift
Labels: bug, iOS

#7499 Fix crash on showing alert for in-app purchase
  ios/MullvadVPN/Coordinators/LocationCoordinator.swift
  ios/MullvadVPN/Extensions/UIAlertController+InAppPurchase.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
Labels: iOS

#7484 Add in-app notification for latest changes
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AppRoutes.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/ChangeLogCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
  ios/MullvadVPN/Notifications/InAppNotificationDescriptor.swift
  ios/MullvadVPN/Notifications/Notification Providers/LatestChangesNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/NewDeviceNotificationProvider.swift
  ios/MullvadVPN/Notifications/NotificationProviderIdentifier.swift
  ios/MullvadVPN/Notifications/UI/NotificationBannerView.swift
  ios/MullvadVPN/Notifications/UI/NotificationController.swift
  ios/MullvadVPN/SceneDelegate.swift
  ios/MullvadVPN/View controllers/ChangeLog/ChangeLogView.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Base/LoggedInWithTimeUITestCase.swift
  ios/MullvadVPNUITests/Base/LoggedOutUITestCase.swift
  ios/MullvadVPNUITests/SettingsMigrationTests.swift
Labels: iOS

#7500 Update changelog for `android/2025.1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7502 Fix testWireGuardOverTCPAutomatically and testConnectionRetryLogic
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/tests.json
Labels: bug, iOS

#7503 Update screenshot tests to use correct iPad models
  ios/Snapfile
Labels: bug, iOS

#7512 Add script to generate rustc --remap-path-prefix
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Utils.kt
  building/rustc-remap-path-prefix.sh
Labels: Android

#7510 Fix crash in dispatch queue assertion with background tasks
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/TunnelManager/BackgroundTaskProvider.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPNTests/MullvadVPN/RelayCacheTracker/RelayCacheTracker+Stubs.swift
  ios/Operations/ResultOperation.swift
Labels: iOS

#7511 Add different themes for app icons
  ios/CHANGELOG.md
  ios/MullvadVPN/Supporting Files/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  ios/MullvadVPN/Supporting Files/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/MullvadVPN/Supporting Files/Assets.xcassets/AppIcon.appiconset/Icon-Dark-1024x1024.png
  ios/MullvadVPN/Supporting Files/Assets.xcassets/AppIcon.appiconset/Icon-Light-1024x1024.png
  ios/MullvadVPN/Supporting Files/Assets.xcassets/AppIcon.appiconset/Icon-Tinted-1024x1024.png
Labels: iOS

#7509 Fixes needed to make the build reproducible
  android/build.sh
  wireguard-go-rs/libwg/Android.mk
Labels: Android

#7513 Fix connection loop bug
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7514 backport fix connection loop
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7495 IOS-995 Show exit constraints in connect view
  ios/MullvadREST/Relay/RelaySelector+Shadowsocks.swift
  ios/MullvadREST/Relay/RelaySelector+Wireguard.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadREST/Relay/RelayWithLocation.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewComponentPreview.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/DestinationDescriber.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Tunnel/DestinationDescriberTests.swift
Labels: iOS

#7520 Remove debug symbols for aab bundles
  android/app/build.gradle.kts
Labels: Android

#7531 Treat fdroid builds the same as release builds
  android/app/build.gradle.kts
Labels: Android

#7533 Add support for target dir in rustc remapping
  building/rustc-remap-path-prefix.sh
Labels: Android

#7343 Use stagemole with e2e tests
  .github/workflows/android-app.yml
  android/scripts/run-instrumented-tests.sh
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/LeakCheck.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/NetworkTrafficChecker.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
Labels: Android

#7518 Bundle a pre-generated relay list instead of generating one on android
  .github/workflows/android-app.yml
  android/app/build.gradle.kts
  android/buildSrc/src/main/kotlin/Utils.kt
  android/scripts/update-lockfile.sh
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/MullvadVpnService.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/util/ContextExtensions.kt
  prepare-release.sh
Labels: Android

#7528 Change AnyRelay.location from a String to a custom type
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/AnyRelay.swift
  ios/MullvadREST/Relay/LocationIdentifier.swift
  ios/MullvadREST/Relay/RelaySelector.swift
  ios/MullvadREST/Relay/RelayWithLocation.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/SelectLocation/AllLocationDataSource.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
Labels: iOS

#7537 Fix missing default infra workflow variable
  .github/workflows/android-app.yml
Labels: Android

#7534 Hide connection details view based on tunnel status
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/HeaderView.swift
Labels: iOS

#7540 Bump wireguard-apple
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS

#7530 Add priority for notifications
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpiryInAppNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/AccountExpirySystemNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/LatestChangesNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/NewDeviceNotificationProvider.swift
  ios/MullvadVPN/Notifications/Notification Providers/TunnelStatusNotificationProvider.swift
  ios/MullvadVPN/Notifications/NotificationManager.swift
  ios/MullvadVPN/Notifications/NotificationProvider.swift
  ios/MullvadVPN/Notifications/NotificationProviderIdentifier.swift
  ios/MullvadVPN/Notifications/NotificationProviderProtocol.swift
Labels: iOS

#7543 Fix blocking text color
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/ConnectionStatusText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
Labels: Android

#7541 Implement detekt and ktfmt for buildSrc
  .github/workflows/android-kotlin-format-check.yml
  android/build.gradle.kts
  android/buildSrc/build.gradle.kts
  android/buildSrc/settings.gradle.kts
  android/buildSrc/src/main/kotlin/BuildVariants.kt
  android/buildSrc/src/main/kotlin/Extensions.kt
  android/buildSrc/src/main/kotlin/Utils.kt
Labels: Android

#7519 Truncate the current log file in half when reaching size limit
  ios/MullvadLogging/LogFileOutputStream.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNTests/MullvadLogging/LogFileOutputStreamTests.swift
  ios/MullvadVPNTests/MullvadLogging/LogRotationTests.swift
Labels: iOS

#7555 Move actions `debug.keystore` to secret
  .github/workflows/android-app.yml
Labels: Android

#7556 Use a sendable closure for task expiry
  ios/MullvadVPN/AppDelegate.swift
Labels: iOS

#7545 Configure device management screen to hide notification bar
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
Labels: iOS

#7550 Update dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
Labels: Android
