Repository mullvad/mullvadvpn-app, pull requests merged in 2025-09, with the labels that each got.

#8683 Rework map lifecycle
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/lib/map/build.gradle.kts
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/Map.kt
  android/lib/map/src/main/kotlin/net/mullvad/mullvadvpn/lib/map/internal/MapGLSurfaceView.kt
Labels: Android

#8701 Disable liquid glass design when building with Xcode 26
  ios/MullvadVPN/Supporting Files/Info.plist
Labels: iOS

#8697 Add UDP GSO for MASQUE client
  CHANGELOG.md
  Cargo.lock
  mullvad-masque-proxy/Cargo.toml
  mullvad-masque-proxy/src/client/mod.rs
  mullvad-masque-proxy/src/lib.rs
  mullvad-masque-proxy/src/server/mod.rs
Labels: Windows, Daemon

#8705 Ignore CVE-2025-58057 on android
  android/gradle/osv-scanner.toml
Labels: Android

#8688 Add a test that asserts DAITA increases packet size on average
  ci/ios/test-router/raas/src/capture/parse.rs
  ios/MullvadVPNUITests/Networking/PacketCapture.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#8717 Port android app 2025.7-beta2 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8719 Daita direct only shows non daita recents
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/RecentsUseCaseTest.kt
Labels: Android

#8722 Update changelog for android 2025.7
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8729 Makr backport of 2025.6
  ios/CHANGELOG.md
  ios/MullvadREST/Assets/relays.json
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
Labels: iOS

#8635 Reimplement account deletion screen using SwiftUI
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/AccountDeletionCoordinator.swift
  ios/MullvadVPN/Extensions/AttributedString+Helpers.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionContentView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionInteractor.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewController.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewModel.swift
  ios/MullvadVPN/Views/MullvadPrimaryTextField.swift
  ios/MullvadVPN/Views/MullvadProgressViewStyle.swift
Labels: iOS

#8772 Update changelog for android/2025.8-beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8760 Bypass obfuscation when not supported
  ios/MullvadMockData/MullvadREST/RelaySelectorStub.swift
  ios/MullvadMockData/MullvadREST/SelectedRelaysStub+Stubs.swift
  ios/MullvadMockData/MullvadREST/ServerRelaysResponse+Stubs.swift
  ios/MullvadREST/Relay/MultihopDecisionFlow.swift
  ios/MullvadREST/Relay/Obfuscation/RelayObfuscator.swift
  ios/MullvadREST/Relay/Obfuscation/ShadowsocksObfuscator.swift
  ios/MullvadREST/Relay/ObfuscationMethodSelector.swift
  ios/MullvadREST/Relay/RelayPicking/MultihopPicker.swift
  ios/MullvadREST/Relay/RelayPicking/SinglehopPicker.swift
  ios/MullvadREST/Relay/RelaySelectorProtocol.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipContainerView.swift
  ios/MullvadVPNTests/MullvadREST/Relay/MultihopDecisionFlowTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscationMethodSelectorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayObfuscatorTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelayPickingTests.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCore/Actor/Protocols/TunnelAdapterProtocol.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/AppMessageHandlerTests.swift
  ios/PacketTunnelCoreTests/EphemeralPeerExchangingPipelineTests.swift
  ios/PacketTunnelCoreTests/Mocks/ProtocolObfuscationStub.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
Labels: iOS

#8781 Update the relays list
  ios/MullvadREST/Assets/relays.json
Labels: iOS

#8800 Set content compression to maximum for switches in API methods
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentView.swift
Labels: iOS

#8799 Add routine that clears shadowsocks caches on API rotation and failure
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksCacheCleaner.swift
  ios/MullvadRESTTests/MullvadApiTests.swift
  ios/MullvadRESTTests/ShadowsocksCacheCleanerTests.swift
  ios/MullvadRustRuntime/MullvadApiContext.swift
  ios/MullvadSettings/AccessMethodRepository.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
Labels: iOS

#8812 Remove unnecessary targets from iOS localization
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionView.swift
  ios/MullvadVPN/View controllers/AccountDeletion/AccountDeletionViewModel.swift
Labels: iOS

#8827 Port android app 2025.8 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8858 Improve documentation and logging of connectivity status
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/UnderlyingConnectivityStatusResolver.kt
Labels: Android

#8853 Fix exit selection for multhihop and smart routing combination
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
Labels: bug, iOS
