Repository mullvad/mullvadvpn-app, pull requests merged in 2025-05, with the labels that each got.

#8102 Update changelog for android/2025.4-beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8103 Push android `osv-scanner` vulns
  android/gradle/osv-scanner.toml
Labels: Android

#8106 Trigger reproducible builds on release branches
  .github/workflows/android-reproducible-builds.yml
Labels: Android

#8109 Exclude biometric dependency to avoid adding unnecessary permissions
  android/app/build.gradle.kts
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
Labels: Android

#8110 Fix select location button text in connect screen
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ConnectUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
Labels: Android

#8111 Add CI permission check
  .github/workflows/android-reproducible-builds.yml
  android/snapshot/manifest-permissions-oss.txt
Labels: Android

#8117 Fix go to vpn settings on devices without system vpn settings
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/lib/common/src/main/kotlin/net/mullvad/mullvadvpn/lib/common/util/ContextExtensions.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#8126 Update compose to 1.8.0
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/FeatureIndicatorsPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/util/Clipboard.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/lib/tv/src/main/kotlin/net/mullvad/mullvadvpn/lib/tv/NavigationDrawerTv.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/ManageDevicesMockApiTest.kt
Labels: Android

#8129 Fix test tag mismatch
  android/lib/ui/tag/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/tag/TestTagConstants.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/VpnSettingsPage.kt
Labels: Android

#8132 Fix reproducible builds failing on PR builds
  .github/workflows/android-reproducible-builds.yml
Labels: Android

#8121 Bump OSV scanner to ignore rexml for another 6 months
  ios/osv-scanner.toml
Labels: iOS

#8131 Port android app 2025.4-beta1 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8137 Silence the rexml vulnerability for another 6 months
  ci/ios/upload-vm/osv-scanner.toml
Labels: iOS

#8140 Add documentation for instances of SwiftRetryStrategy
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  mullvad-ios/src/api_client/account.rs
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/device.rs
  mullvad-ios/src/api_client/problem_report.rs
  mullvad-ios/src/api_client/storekit.rs
Labels: iOS

#8090 Replace @_silgen_name with _cdecl
  ios/MullvadRustRuntime/EphemeralPeerReceiver.swift
  ios/MullvadRustRuntime/MullvadApiCompletion.swift
Labels: iOS

#8141 Adjust trailing edge inset of location section header/footer view
  ios/MullvadVPN/View controllers/SelectLocation/LocationSectionHeaderFooterView.swift
Labels: iOS

#8147 Improve test flakiness
  android/scripts/run-instrumented-tests.sh
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/AccountPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/DeviceManagementPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/Page.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/ManageDevicesMockApiTest.kt
Labels: Android

#8155 Double router capture request timeouts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/packetCapture/PacketCapture.kt
Labels: Android

#8154 Update gradle version in reproducible build workflow
  .github/workflows/android-reproducible-builds.yml
  android/gradle/wrapper/UpdateInstructions.md
Labels: Android

#8150 Convert tests page pattern
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/misc/CaptureScreenRecordingsExtension.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/LoginPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/OutOfTimePage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/TooManyDevicesPage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/WelcomePage.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/WireGuardCustomPortDialog.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/CaptureScreenshotOnFailedTestRule.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/rule/ForgetAllVpnAppsInSettingsTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/EndToEndTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LaunchAppTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LoginTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LogoutTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/WebLinkTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/TextConstants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/interactor/SystemSettingsInteractor.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountExpiryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountHistoryMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/CreateAccountMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LoginMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/LogoutMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/ManageDevicesMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/constant/Constants.kt
Labels: Android

#8159 Fix path typo
  android/gradle/wrapper/UpdateInstructions.md
Labels: Android

#8120 Build Screenshots with MockRelease configuration
  .github/workflows/ios-screenshots-tests.yml
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPNScreenshotTests.xcscheme
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/Snapfile
Labels: iOS

#8157 Update overview diagram to reflect grpc migration
  android/docs/diagrams/nav_graph.png
  android/docs/diagrams/nav_graph.puml
  android/docs/diagrams/overview.png
  android/docs/diagrams/overview.puml
Labels: Android

#8153 Avoid calling waitForStableInActiveWindow when window is changing
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/Page.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/SystemVpnConfigurationAlert.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/TooManyDevicesPage.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
Labels: Android

#8158 Add content type password to login textfield
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
Labels: Android

#8145 Add custom action at select location for accessibility
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationDataSource.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
Labels: iOS

#8142 Increase app response time when reconnecting
  ios/CHANGELOG.md
  ios/MullvadVPN/SimulatorTunnelProvider/SimulatorTunnelProviderHost.swift
  ios/MullvadVPN/TunnelManager/Tunnel+Messaging.swift
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPNTests/MullvadSettings/APIAccessMethodsTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideRepositoryTests.swift
  ios/MullvadVPNTests/MullvadSettings/InMemorySettingsStore.swift
  ios/MullvadVPNTests/MullvadSettings/MigrationManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/SelectLocation/CustomListRepositoryTests.swift
  ios/MullvadVPNTests/MullvadVPN/View controllers/Tunnel/DestinationDescriberTests.swift
  ios/PacketTunnelCore/IPC/AppMessageHandler.swift
Labels: iOS

#8161 Show a specific error if selected port is not in the port range
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/notificationbanner/NotificationBanner.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/TunnelStateNotificationUseCaseTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ErrorStateCause.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/tv/src/main/kotlin/net/mullvad/mullvadvpn/lib/tv/NotificationBannerTv.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/AnimatedNotificationBanner.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/NotificationData.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#8181 Fix CustomListsTests failure
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
Labels: iOS

#8179 Make the API cancellation handle safe, and properly clear out pointers
  ios/MullvadRustRuntime/MullvadApiCancellable.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  mullvad-ios/src/api_client/cancellation.rs
Labels: iOS

#8166 Fix password prompt showing multiple times
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
Labels: Android

#8189 Design review changes
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CheckboxCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/DnsCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/FilterRow.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ObfuscationModeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SplitTunnelingCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CircularProgressIndicator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/EmptyRelayListText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/FeatureChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/LocationsEmptyText.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/PlayPayment.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/Scaffolding.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/TopBar.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/SaveApiAccessMethodDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/InfoConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/payment/PaymentDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/SelectLocationsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceRevokedScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditApiAccessMethodScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/FilterScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/OutOfTimeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ViewLogsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/WelcomeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SelectLocationUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/InAppNotificationController.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationListViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SettingsUtil.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/InAppNotificationControllerTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ConnectViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModelTest.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/InAppNotification.kt
  android/lib/resource/src/main/res/drawable/icon_fail.xml
  android/lib/resource/src/main/res/drawable/icon_success.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  android/lib/tv/src/main/kotlin/net/mullvad/mullvadvpn/lib/tv/NavigationDrawerTv.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/AnimatedNotificationBanner.kt
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/NotificationData.kt
Labels: Android

#8196 Fix broken link
  android/README.md
Labels: Android

#8138 Add e2e tests for language selection
  desktop/packages/mullvad-vpn/test/e2e/mocked/user-interface-settings/user-interface-settings.spec.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/main/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/main/main-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/main/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/routes-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/select-language/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/select-language/select-language-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/select-language/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/settings/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/settings/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/settings/settings-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/user-interface-settings/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/user-interface-settings/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/user-interface-settings/user-interface-settings-route-object-model.ts
Labels: Desktop frontend

#8227 Fix ios release build failure
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
Labels: iOS

#8124 Convert api access view to swiftui
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/CustomLists/AddLocationsViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodViewControllerDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessViewModelBridge.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsCoordinator.swift
  ios/MullvadVPN/UI appearance/Color+Mullvad.swift
  ios/MullvadVPN/UI appearance/Font+Mullvad.swift
  ios/MullvadVPN/UI appearance/UIColor+Palette.swift
  ios/MullvadVPN/UI appearance/UIMetrics.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationCell.swift
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsAddDNSEntryCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsCell.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDNSTextCell.swift
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
  ios/MullvadVPN/Views/List/MullvadList.swift
  ios/MullvadVPN/Views/List/MullvadListNavigationItemView.swift
  ios/MullvadVPN/Views/MainButtonStyle.swift
  ios/MullvadVPN/Views/MullvadInfoHeaderView.swift
  ios/MullvadVPNUITests/Pages/APIAccessPage.swift
Labels: iOS

#8229 Remove dead code and add some more comments
  ios/MullvadVPN/TransportMonitor/TransportMonitor.swift
  ios/MullvadVPN/TunnelManager/WgKeyRotation.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+KeyPolicy.swift
Labels: bug, iOS

#8230 Supply IP address when using API override
  android/lib/endpoint/src/main/kotlin/net/mullvad/mullvadvpn/lib/endpoint/ApiEndpointOverride.kt
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/di/VpnServiceModule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/mullvad/MullvadApi.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/relay/RelayApi.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/MockApiTest.kt
  mullvad-jni/src/api.rs
Labels: Android

#8222 Port android app 2025.4-beta2 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8209 Change too many devices view to sheet
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
Labels: iOS

#8172 Modify Filters view to start in expanded state; also, some refactoring
  ios/MullvadVPN/View controllers/RelayFilter/RelayFilterDataSource.swift
  ios/MullvadVPNUITests/Screenshots/ScreenshotTests.swift
Labels: iOS

#8232 Migrate legacy storekit payment to Mullvad API
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIHandlers/MullvadAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequest.swift
  ios/MullvadREST/MullvadAPI/MullvadApiRequestFactory.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/Storekit2.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/StorePaymentManagerError+Display.swift
  ios/MullvadVPN/StorePaymentManager/SendStoreReceiptOperation.swift
  mullvad-api/src/lib.rs
  mullvad-ios/src/api_client/storekit.rs
Labels: iOS

#8202 Fix API breaking down when used without connectivity
  ios/MullvadREST/ApiHandlers/AddressCache.swift
  ios/MullvadRESTTests/MullvadApiTests.swift
  ios/MullvadRustRuntime/MullvadAddressCacheProvider.swift
  ios/MullvadRustRuntime/MullvadApiContext.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/AddressCacheProviding.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  mullvad-ios/src/api_client/access_method_resolver.rs
  mullvad-ios/src/api_client/address_cache_provider.rs
  mullvad-ios/src/api_client/mod.rs
Labels: iOS

#8215 Add UITests for QUIC, add ability to block Wireguard traffic
  ios/MullvadVPNTests/MullvadREST/Relay/ObfuscatorPortSelectorTests.swift
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/Networking/FirewallRule.swift
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#8243 Fix wrong country and city for stagemole daita relay
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/Relays.kt
Labels: Android

#8245 Remove the DispatchQueue use to clear the cached address pointer
  ios/MullvadRustRuntime/MullvadAddressCacheProvider.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  mullvad-ios/src/api_client/address_cache_provider.rs
Labels: iOS

#8239 Fix access method disable logic
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentConfiguration.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Cells/SwitchCellContentView.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodSectionIdentifier.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodViewController.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodViewModel.swift
  ios/MullvadVPNUITests/AccessMethodsTests.swift
  ios/MullvadVPNUITests/Pages/EditAccessMethodPage.swift
Labels: iOS

#8246 Fix e2e test
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/Relays.kt
Labels: Android

#8250 Increase timeout for long test
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
Labels: Android

#8253 Bump agp and lifecycle versions
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ConnectUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/CustomListLocationUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/RelayItemCheckableCellPreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/RelayItemPreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/RelayItemStatusCellPreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/RelayListItemPreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
  android/config/lint-baseline.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/lib/billing/build.gradle.kts
Labels: Android

#7913 Add Boringtun
  Cargo.lock
  Cargo.toml
  android/app/build.gradle.kts
  android/gradle.properties
  building/container-run.sh
  mullvad-daemon/Cargo.toml
  mullvad-jni/Cargo.toml
  talpid-core/Cargo.toml
  talpid-core/src/tunnel/mod.rs
  talpid-tunnel/Cargo.toml
  talpid-tunnel/src/tun_provider/mod.rs
  talpid-tunnel/src/tun_provider/stub.rs
  talpid-tunnel/src/tun_provider/unix.rs
  talpid-tunnel/src/tun_provider/windows.rs
  talpid-wireguard/Cargo.toml
  talpid-wireguard/build.rs
  talpid-wireguard/src/boringtun/mod.rs
  talpid-wireguard/src/connectivity/check.rs
  talpid-wireguard/src/connectivity/mod.rs
  talpid-wireguard/src/connectivity/monitor.rs
  talpid-wireguard/src/ephemeral.rs
  talpid-wireguard/src/lib.rs
  talpid-wireguard/src/logging.rs
  talpid-wireguard/src/wireguard_go/mod.rs
  talpid-wireguard/src/wireguard_nt/mod.rs
Labels: enhancement, Daemon

#8136 Update e2e tests for auto-connect and lan sharing
  desktop/packages/mullvad-vpn/test/e2e/installed/state-dependent/settings.spec.ts
  desktop/packages/mullvad-vpn/test/e2e/installed/state-dependent/vpn-settings/helpers.ts
  desktop/packages/mullvad-vpn/test/e2e/installed/state-dependent/vpn-settings/vpn-settings.spec.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/main/main-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/routes-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/select-language/select-language-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/settings/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/settings/settings-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/user-interface-settings/user-interface-settings-route-object-model.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/vpn-settings/index.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/vpn-settings/selectors.ts
  desktop/packages/mullvad-vpn/test/e2e/route-object-models/vpn-settings/vpn-settings-route-object-model.ts
Labels: Desktop frontend

#8264 Update changelog for android/2025.4
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8275 Fix vuln for GHSA-wxr5-93ph-8wr
  android/app/build.gradle.kts
  android/gradle/verification-metadata.xml
Labels: Android
