Repository mullvad/mullvadvpn-app, pull requests merged in 2025-02, with the labels that each got.

#7571 Fix incorrect display of custom list without locations
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/RelayLocationCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/RelayItemListCreator.kt
Labels: Android

#7564 Remove unnecessary html parsing
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AutoConnectAndLockdownModeScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#7561 Use ordered string substitutions
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#7581 Remove redundant owasp dependency audit tool
  .github/workflows/android-audit.yml
  android/app/build.gradle.kts
  android/build.gradle.kts
  android/config/dependency-check-suppression-agp-fixes.xml
  android/config/dependency-check-suppression.xml
  android/gradle/libs.versions.toml
  android/gradle/osv-scanner.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.xml
  android/test/e2e/build.gradle.kts
  android/test/mockapi/build.gradle.kts
  android/test/test-suppression.xml
Labels: Android

#7588 Restore osv scanner vuln ignore that is still required
  android/gradle/osv-scanner.toml
Labels: Android

#7567 Do not show add server when custom dns server list is empty
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/communication/DnsDialogResult.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/DeleteCustomDnsUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DnsDialogViewModel.kt
Labels: Android

#7589 Add section on Windows Sandbox to `known-issues.md`
  docs/known-issues.md
Labels: Windows

#7594 Remove unneeded GitHub buildscript ios 1022
  .github/workflows/ios-build-xcode-16.yml
Labels: iOS

#7576 Modify tests status
  ios/MullvadVPNUITests/ConnectivityTests.swift
Labels: iOS

#7587 Move daita data usage warning to the first page
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
Labels: Android

#7596 Fix excess `createTun` calls with multihop and PQ/DAITA
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7608 Fix e2e test workflow variables
  .github/workflows/android-app.yml
Labels: Android

#7604 Server IP override subtitle text is the one from API access
  ios/MullvadVPN/Coordinators/Settings/APIAccess/AboutViewController.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideViewController.swift
Labels: iOS

#7584 Fix RelayTests
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewViewModel.swift
Labels: iOS

#7599 Replace usage of body medium with title medium
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadSegmentedButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
Labels: Android

#7597 Disable WireGuard port setting when obfuscation is set
  android/CHANGELOG.md
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/BaseCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7585 Split cell reuse identifiers to segregate subtitle cells
  ios/MullvadVPN/View controllers/Settings/SettingsCellFactory.swift
  ios/MullvadVPN/View controllers/Settings/SettingsDataSource.swift
Labels: bug, iOS

#7578 Hide loading spinner immediatly on connect
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#6449 Add negative leak test for iOS
  ios/Configurations/UITests.xcconfig.template
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPNUITests/Base/BaseUITestCase.swift
  ios/MullvadVPNUITests/ConnectivityTests.swift
  ios/MullvadVPNUITests/Info.plist
  ios/MullvadVPNUITests/LeakTests.swift
  ios/MullvadVPNUITests/Networking/FirewallClient.swift
  ios/MullvadVPNUITests/Networking/FirewallRule.swift
  ios/MullvadVPNUITests/Networking/LeakCheck.swift
  ios/MullvadVPNUITests/Networking/Networking.swift
  ios/MullvadVPNUITests/Networking/PacketCapture.swift
  ios/MullvadVPNUITests/Networking/TestRouterAPIClient.swift
  ios/MullvadVPNUITests/Networking/TrafficGenerator.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/MullvadVPNUITests/tests.json
Labels: iOS

#7613 IOS-1052/IOS-1055 SingleChoiceList wonkiness fixes
  ios/MullvadVPN/View controllers/Settings/SwiftUI components/SingleChoiceList.swift
Labels: bug, iOS

#7630 Incease nightly mockapi test repeat
  .github/workflows/android-app.yml
Labels: Android

#7614 Enable using two accounts for e2e tests
  .github/workflows/android-app.yml
Labels: Android

#7632 Add warning if CARGO_TARGETS is set
  android/build.sh
Labels: Android

#7637 Bump orchestrator in instrumentation test script
  android/scripts/run-instrumented-tests.sh
Labels: Android

#7544 Change the cached relay list in the repo
  ios/.gitignore
  ios/MullvadREST/Assets/relays.json
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/README.md
  ios/prepare-release.sh
  ios/relays-prebuild.sh
Labels: iOS

#7645 Update the first paragraph in the daita information message
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7548 Animate expansion of connection details view
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Extensions/View+Modifier.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ButtonPanel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipContainerView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewComponentPreview.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/DetailsContainer.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/DetailsView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicators/FeatureIndicatorsView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicators/FeatureIndicatorsViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/HeaderView.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
Labels: iOS

#7666 Backport from release-2025.2
  ios/CHANGELOG.md
  ios/Configurations/Version.xcconfig
Labels: iOS

#7670 Fix scheduled e2e test repeat variable
  .github/workflows/android-app.yml
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
Labels: Android

#7574 Move spinner when requesting the add time sheet and ios 1032
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/AddCreditSucceededCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/CreateAccountVoucherCoordinator.swift
  ios/MullvadVPN/Coordinators/InAppPurchaseCoordinator.swift
  ios/MullvadVPN/Coordinators/OutOfTimeCoordinator.swift
  ios/MullvadVPN/Coordinators/WelcomeCoordinator.swift
  ios/MullvadVPN/Extensions/UIAlertController+InAppPurchase.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeContentView.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeInteractor.swift
  ios/MullvadVPN/View controllers/CreationAccount/Welcome/WelcomeViewController.swift
  ios/MullvadVPN/View controllers/InAppPurchase/InAppPurchaseViewController.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeInteractor.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
  ios/MullvadVPN/View controllers/Settings/SettingsInteractorFactory.swift
Labels: iOS

#7633 Set font size of dialog inputs to be title medium
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/RedeemVoucherDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomListNameTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomPortTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/CustomTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/DnsTextField.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/textfield/MtuTextField.kt
Labels: Android

#7675 Update dependencies
  android/app/build.gradle.kts
  android/config/lint.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.xml
  android/lib/daemon-grpc/build.gradle.kts
  android/test/e2e/build.gradle.kts
Labels: Android

#7681 Fix mockapi device list test wait condition
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
Labels: Android

#7683 Fix kotlin formatting paths in ci
  .github/workflows/android-kotlin-format-check.yml
  android/buildSrc/settings.gradle.kts
Labels: Android

#7678 Fix access method rotation after dns proxy failure
  ios/MullvadREST/Transport/TransportProvider.swift
  ios/MullvadRustRuntime/EncryptedDNSProxy.swift
Labels: iOS

#7668 Add an end to end test for UDP-over-TCP on port 80
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/DetailsView.swift
  ios/MullvadVPNUITests/Networking/TrafficGenerator.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/Pages/VPNSettingsPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#7636 Add setup-rust script and git hook
  BuildInstructions.md
  android/BuildInstructions.md
  ios/BuildInstructions.md
  scripts/setup-rust
  scripts/setup-rust-post-checkout
Labels: Android

#7600 Unify daemon app version types
  mullvad-daemon/src/version_check.rs
  mullvad-setup/src/main.rs
  mullvad-types/src/version.rs
  mullvad-version/src/lib.rs
  mullvad-version/src/main.rs
  test/test-manager/src/tests/install.rs
Labels: Android, Daemon

#7638 Make DAITA warning more prominent (also bold)
  ios/MullvadVPN/Coordinators/Settings/DAITA/SettingsDAITAView.swift
  ios/MullvadVPN/Coordinators/Settings/Views/SettingsInfoView.swift
Labels: iOS

#7692 Revert ktor bump
  .github/workflows/android-audit.yml
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
Labels: Android

#7695 Fix `local.properties` check
  android/build.sh
Labels: Android

#7700 IOS-1053 Harmonise VPN Settings' cell separators with its parent Settings view
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
Labels: iOS

#7699 Upgrade PacketTunnelPathObserver
  ios/MullvadVPN/TunnelManager/TunnelManager.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelPathObserver.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCore/Actor/NetworkPath+NetworkReachability.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ConnectionMonitoring.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+ErrorState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+NetworkReachability.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor+PostQuantum.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorCommand.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActorReducer.swift
  ios/PacketTunnelCore/TunnelMonitor/DefaultPathObserverProtocol.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitor.swift
  ios/PacketTunnelCore/TunnelMonitor/TunnelMonitorProtocol.swift
  ios/PacketTunnelCoreTests/Mocks/DefaultPathObserverFake.swift
  ios/PacketTunnelCoreTests/Mocks/TunnelMonitorStub.swift
  ios/PacketTunnelCoreTests/PacketTunnelActorTests.swift
Labels: iOS

#7644 Implement an FFI to fetch API IP addresses using mullvad-api
  Cargo.lock
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadMockData/MullvadREST/MockProxyFactory.swift
  ios/MullvadREST/ApiHandlers/MullvadApiRequestFactory.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/ApiHandlers/RESTDefaults.swift
  ios/MullvadREST/ApiHandlers/RESTProxy.swift
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadREST/ApiHandlers/RESTResponseHandler.swift
  ios/MullvadREST/ApiHandlers/RESTRustNetworkOperation.swift
  ios/MullvadRESTTests/RequestExecutorTests.swift
  ios/MullvadRustRuntime/MullvadApiCancellable.swift
  ios/MullvadRustRuntime/MullvadApiCompletion.swift
  ios/MullvadRustRuntime/MullvadApiContext.swift
  ios/MullvadRustRuntime/MullvadApiResponse.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/AddressCacheTracker/AddressCacheTracker.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  mullvad-api/src/lib.rs
  mullvad-api/src/rest.rs
  mullvad-ios/Cargo.toml
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/cancellation.rs
  mullvad-ios/src/api_client/completion.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/response.rs
  mullvad-ios/src/lib.rs
Labels: iOS

#7691 Filter by destination port before asserting
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#7714 Add end to end test for custom shadowsocks port selection
  ios/MullvadVPNUITests/RelayTests.swift
Labels: iOS

#7715 Fix gRPC not working with WiFi proxy
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
Labels: Android

#7712 Fix navigation in report problem screen for Firestick
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ReportProblemScreen.kt
Labels: Android

#7716 Always set --locked for all gradle cargo builds
  android/app/build.gradle.kts
Labels: Android

#7703 Avoid unnecessary calls to establish
  android/app/src/test/kotlin/net/mullvad/talpid/TalpidVpnServiceFallbackDnsTest.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/TalpidVpnService.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
  talpid-core/src/tunnel_state_machine/connected_state.rs
  talpid-core/src/tunnel_state_machine/connecting_state.rs
  talpid-routing/src/unix/android.rs
  talpid-routing/src/unix/mod.rs
  talpid-tunnel/src/tun_provider/android/mod.rs
  talpid-tunnel/src/tun_provider/mod.rs
  talpid-wireguard/src/connectivity/check.rs
  talpid-wireguard/src/lib.rs
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7721 Clean up android tun
  talpid-tunnel/src/tun_provider/android/mod.rs
  talpid-wireguard/src/wireguard_go/mod.rs
Labels: Android

#7722 Add logging for dropped nav events
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/extensions/LifecycleExtensions.kt
Labels: Android

#7727 Fix spamming of connectivity changed events
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/ConnectivityListener.kt
Labels: Android

#7728 Use socket instead of ping command when pinging on android
  Cargo.lock
  talpid-wireguard/Cargo.toml
  talpid-wireguard/src/connectivity/pinger/android.rs
  talpid-wireguard/src/connectivity/pinger/icmp.rs
  talpid-wireguard/src/connectivity/pinger/mod.rs
Labels: Android

#7729 Update dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/gradle/wrapper/UpdateInstructions.md
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
Labels: Android

#7719 Fix fonts and spacing in privacy disclaimer screen
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/PrivacyDisclaimerScreen.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/Theme.kt
  android/lib/theme/src/main/kotlin/net/mullvad/mullvadvpn/lib/theme/dimensions/Dimensions.kt
Labels: Android

#7725 Document how to reproducibly build the app
  android/BuildInstructions.md
Labels: Android

#7713 Add submodule checkout to ios-validate-build-schemas and README
  .github/workflows/ios-end-to-end-tests.yml
  .github/workflows/ios-rust-ffi.yml
  .github/workflows/ios-screenshots-creation.yml
  .github/workflows/ios-screenshots-tests.yml
  .github/workflows/ios-validate-build-schemas.yml
  .github/workflows/ios.yml
  ios/.swiftformat
  ios/BuildInstructions.md
Labels: iOS

#7711 Open pinned window on bottom right if tray position is unknown
  desktop/packages/mullvad-vpn/src/main/window-controller.ts
Labels: Windows, Desktop frontend
