Repository mullvad/mullvadvpn-app, pull requests merged in 2025-04, with the labels that each got.

#7929 Disable pre-generation of PQ keys on Android
  talpid-core/src/tunnel_state_machine/mod.rs
Labels: Android

#7928 Always open select location on exit tab
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/location/SelectLocationViewModelTest.kt
Labels: Android

#7957 Show correct in ip when using multihop
  android/CHANGELOG.md
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/ConnectionDetailPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/TunnelStatePreviewData.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/TunnelEndpoint.kt
Labels: Android

#7959 Update titles for ip version settings
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7936 Preserve ordering of arguments in translated string
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/lib/resource/src/main/res/values/strings.xml
  android/translations-converter/src/android/plurals.rs
  android/translations-converter/src/android/string_value.rs
  android/translations-converter/src/android/strings.rs
  android/translations-converter/src/gettext/messages.rs
  android/translations-converter/src/gettext/mod.rs
  android/translations-converter/src/main.rs
  android/translations-converter/src/normalize.rs
Labels: Android

#7947 Add shadowsocks obfuscation e2e test
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ObfuscationModeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SelectableCell.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/extension/UiAutomatorExtensions.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/interactor/AppInteractor.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/Page.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/Story.kt
  android/test/common/src/main/kotlin/net/mullvad/mullvadvpn/test/common/page/VpnSettingsPage.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/firewall/DropRule.kt
Labels: Android

#7961 Update changes dialog and F-Droid metadata for android/2025.2-beta1
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#7976 Improve error message when an unavailable ip version is selected
  Cargo.lock
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/ParameterGenerationError.kt
  android/lib/resource/src/main/res/values/strings.xml
  android/lib/ui/component/src/main/kotlin/net/mullvad/mullvadvpn/lib/ui/component/NotificationData.kt
  desktop/packages/mullvad-vpn/locales/messages.pot
  mullvad-daemon/src/tunnel.rs
  mullvad-management-interface/proto/management_interface.proto
  mullvad-management-interface/src/types/conversions/states.rs
  mullvad-relay-selector/src/error.rs
  mullvad-relay-selector/src/relay_selector/mod.rs
  talpid-types/src/tunnel.rs
Labels: Android

#7983 Replace subtext with info dialog for device ip version setting
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/DeviceIpInfoDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7978 Create button for StoreKit 2 refunds
  ios/MullvadVPN/View controllers/Account/AccountContentView.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/Account/PaymentAlertPresenter.swift
  ios/MullvadVPN/View controllers/Account/PaymentState.swift
Labels: iOS

#7984 Display actual obfuscation method in feature chips
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionViewComponentPreview.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPNTests/MullvadVPN/PacketTunnelCore/PacketTunnelActorReducerTests.swift
  ios/PacketTunnelCore/Actor/ObservedState.swift
  ios/PacketTunnelCore/Actor/PacketTunnelActor.swift
  ios/PacketTunnelCore/Actor/ProtocolObfuscator.swift
  ios/PacketTunnelCore/Actor/State.swift
  ios/PacketTunnelCoreTests/Mocks/ProtocolObfuscationStub.swift
  ios/PacketTunnelCoreTests/ProtocolObfuscatorTests.swift
Labels: iOS

#7996 Update dependencies
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/lib/payment/build.gradle.kts
  android/lib/payment/src/main/kotlin/net/mullvad/mullvadvpn/lib/payment/model/ProductId.kt
Labels: Android

#7987 Show ip unavailble error message on desktop
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
  desktop/packages/mullvad-vpn/src/main/grpc-type-convertions.ts
  desktop/packages/mullvad-vpn/src/shared/daemon-rpc-types.ts
  desktop/packages/mullvad-vpn/src/shared/notifications/error.ts
Labels: javascript

#7954 Quick access to features through feature indicators
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreenTest.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/CustomPortCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ExpandableComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/InformationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/MtuComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/NavigationComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/ObfuscationModeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/cell/SwitchComposeCell.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/communication/DnsDialogResult.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/FeatureChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/connectioninfo/FeatureIndicatorsPanel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DnsDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ServerIpOverridesUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/VpnSettingsUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MullvadApp.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/MultihopScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ServerIpOverridesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/SplitTunnelingScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/VpnSettingsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/DaitaUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/FilterChip.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/SplitTunnelingUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/VpnSettingsUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/constant/AnimationConstant.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/SettingsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/CollectionExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/FlowUtils.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DaitaViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/MultihopViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ServerIpOverridesViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModel.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DaitaViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/MultihopViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ServerIpOverridesViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/VpnSettingsViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/FeatureIndicator.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/IpVersion.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
  desktop/packages/mullvad-vpn/src/main/grpc-type-convertions.ts
  desktop/packages/mullvad-vpn/src/renderer/components/main-view/FeatureIndicators.tsx
  desktop/packages/mullvad-vpn/src/shared/daemon-rpc-types.ts
  mullvad-management-interface/proto/management_interface.proto
  mullvad-management-interface/src/types/conversions/features.rs
  mullvad-types/src/features.rs
Labels: Android

#7988 Add DeviceListViewModel test
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/DeviceListViewModelTest.kt
Labels: Android

#8003 Support ip availability error in the cli
  mullvad-management-interface/src/types/conversions/states.rs
Labels: Daemon

#8002 Enable gradle caching
  android/gradle.properties
Labels: Android

#8025 Resize device list remove button to 24x24
  ios/MullvadVPN/Extensions/UIImage+Assets.swift
Labels: iOS

#8012 Fix nav drawer wrong focus on Android TV
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
Labels: Android

#8021 Update changelog with clickable feature indicators
  android/CHANGELOG.md
Labels: Android

#7925 Implement sendproblemreport using mullvad api
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadREST/MullvadAPI/APIHandlers/MullvadAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequest.swift
  ios/MullvadREST/MullvadAPI/MullvadApiRequestFactory.swift
  ios/MullvadREST/Transport/APITransport.swift
  ios/MullvadRustRuntime/RustProblemReportRequest.swift
  ios/MullvadRustRuntime/String+UnsafePointer.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/RESTTypes.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/View controllers/ProblemReport/ProblemReportInteractor.swift
  ios/MullvadVPNTests/MullvadREST/MullvadApi/RustProblemReportRequestTests.swift
  mullvad-ios/src/api_client/account.rs
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/problem_report.rs
Labels: iOS

#8001 Make DAITA/Quantum feature indicators show actual tunnel state
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
Labels: iOS

#8027 Fix shadowsocks not using ip override
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadRESTTests/ServerRelayTests.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
Labels: iOS

#8034 Replace volley in e2e test with ktor
  android/gradle/libs.versions.toml
  android/gradle/verification-metadata.xml
  android/test/e2e/build.gradle.kts
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/ConnectionTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/LeakTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/connectioncheck/ConnCheckResult.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/connectioncheck/ConnectionCheckApi.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/connectioncheck/ConnectionCheckApiTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/mullvad/MullvadApi.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/mullvad/MullvadApiTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/partner/PartnerApi.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/api/partner/PartnerApiTest.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/constant/UrlConstants.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/interactor/MullvadAccountInteractor.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountProvider.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/AccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/CleanupAccountTestRule.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/ConnCheckState.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/KermitLogger.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/misc/SimpleMullvadHttpClient.kt
  android/test/e2e/src/main/kotlin/net/mullvad/mullvadvpn/test/e2e/router/firewall/FirewallClient.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/TooManyDevicesMockApiTest.kt
Labels: Android

#8044 Decouple Multihop feature indicator from settings
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
Labels: iOS

#7956 Correct wording for `Prerequisites` at iOS Readme.md
  ios/README.md
Labels: iOS

#8046 Fix incorrect getCustomListById
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/customlists/CustomListActionUseCase.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/CustomListActionUseCaseTest.kt
Labels: Android

#8047 Improve android repro workflow
  .github/workflows/android-reproducible-builds.yml
Labels: Android

#8035 Implement device management screen
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/screen/ManageDevicesScreenTest.kt
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/compose/util/Matcher.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/button/MullvadButton.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/CircularProgressIndicator.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/DeviceListItem.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/CreateAccountConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DaitaDirectOnlyConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/DiscardChangesDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/ManageDevicesRemoveConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/SaveApiAccessMethodDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/dialog/info/InfoConfirmationDialog.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/DevicePreviewData.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/preview/ManageDevicesUiStatePreviewParameterProvider.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/AccountScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ConnectScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListLocationsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/CustomListsScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DaitaScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/DeviceListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditApiAccessMethodScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/EditCustomListScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/LoginScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/ManageDevicesScreen.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/screen/location/SelectLocationList.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/state/ManageDevicesUiState.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/LoadingContentError.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/StringExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/ManageDevicesViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/utils/AppendTextWithStyledSubstringTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/ManageDevicesViewModelTest.kt
  android/lib/resource/src/main/res/values/strings.xml
  desktop/packages/mullvad-vpn/locales/messages.pot
Labels: Android

#7933 Gracefully handle primary interface changes
  talpid-routing/src/unix/macos/data.rs
  talpid-routing/src/unix/macos/default_routes.rs
  talpid-routing/src/unix/macos/interface.rs
  talpid-routing/src/unix/macos/ip_map.rs
  talpid-routing/src/unix/macos/mod.rs
  talpid-routing/src/unix/macos/routing_socket.rs
  talpid-routing/src/unix/macos/watch.rs
Labels: macOS, Daemon

#7986 Expose transport selector to mullvad api ios 1042
  Cargo.lock
  ios/MullvadMockData/MullvadREST/AccessMethodRepository+Stub.swift
  ios/MullvadREST/ApiHandlers/RESTDefaults.swift
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadREST/Transport/AccessMethodIterator.swift
  ios/MullvadREST/Transport/Shadowsocks/ShadowsocksLoader.swift
  ios/MullvadREST/Transport/TransportStrategy.swift
  ios/MullvadRESTTests/MullvadApiTests.swift
  ios/MullvadRESTTests/ShadowsocksLoaderStub.swift
  ios/MullvadRESTTests/TransportStrategyTests.swift
  ios/MullvadRustRuntime/MullvadAccessMethodReceiver.swift
  ios/MullvadRustRuntime/MullvadApiContext.swift
  ios/MullvadRustRuntime/MullvadConnectionModeProvider.swift
  ios/MullvadRustRuntime/MullvadShadowsocksBridgeProvider.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadSettings/AccessMethodRepositoryProtocol.swift
  ios/MullvadTypes/AccessMethodKind.swift
  ios/MullvadTypes/PersistentAccessMethod.swift
  ios/MullvadTypes/ShadowsocksBridgeProviding.swift
  ios/MullvadTypes/ShadowsocksCipherOptions.swift
  ios/MullvadTypes/ShadowsocksConfiguration.swift
  ios/MullvadTypes/SwiftConnectionModeProvider.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN.xcodeproj/xcshareddata/xcschemes/MullvadVPN.xcscheme
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTesterProtocol.swift
  ios/MullvadVPN/AppDelegate.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Add/AddAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Common/AccessMethodViewModelEditing.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/List/ListAccessMethodInteractor.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/AccessMethodKind.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/PersistentAccessMethod+ViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Models/PersistentProxyConfiguration+ViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Pickers/ShadowsocksCipherPicker.swift
  ios/MullvadVPNTests/MullvadSettings/APIAccessMethodsTests.swift
  ios/MullvadVPNTests/MullvadVPN/TunnelManager/TunnelManagerTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  mullvad-api/src/access_mode.rs
  mullvad-api/src/lib.rs
  mullvad-ios/Cargo.toml
  mullvad-ios/src/api_client/access_method_resolver.rs
  mullvad-ios/src/api_client/access_method_settings.rs
  mullvad-ios/src/api_client/account.rs
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/cancellation.rs
  mullvad-ios/src/api_client/completion.rs
  mullvad-ios/src/api_client/helpers.rs
  mullvad-ios/src/api_client/mock.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/problem_report.rs
  mullvad-ios/src/api_client/shadowsocks_loader.rs
  mullvad-ios/src/encrypted_dns_proxy.rs
  mullvad-ios/src/ephemeral_peer_proxy/ios_tcp_connection.rs
  mullvad-ios/src/ephemeral_peer_proxy/mod.rs
  mullvad-ios/src/ephemeral_peer_proxy/peer_exchange.rs
  mullvad-ios/src/lib.rs
  mullvad-ios/src/shadowsocks_proxy/ffi.rs
  mullvad-ios/src/tunnel_obfuscator_proxy/ffi.rs
Labels: iOS

#8048 Implement DeviceProxy to use Mullvad API
  ios/MullvadMockData/MullvadREST/DevicesProxy+Stubs.swift
  ios/MullvadREST/ApiHandlers/RESTDevicesProxy.swift
  ios/MullvadREST/ApiHandlers/RESTProxyFactory.swift
  ios/MullvadREST/MullvadAPI/APIHandlers/MullvadDeviceProxy.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequest.swift
  ios/MullvadREST/MullvadAPI/MullvadApiRequestFactory.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/RESTTypes.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/TunnelManager/SetAccountOperation.swift
  mullvad-api/src/device.rs
  mullvad-ios/src/api_client/device.rs
  mullvad-ios/src/api_client/mod.rs
  mullvad-ios/src/api_client/problem_report.rs
Labels: iOS

#8078 Update changelog for android 2025.2
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8085 Port android app 2025.2 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8067 Update dependencies
  android/config/lint-baseline.xml
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
Labels: Android

#8082 Add another forgotten conditional compilation check
  ios/MullvadVPN/View controllers/SelectLocation/LocationViewControllerWrapper.swift
Labels: iOS

#8089 Remove special Same IP logging
  ios/PacketTunnel/WireGuardAdapter/WgAdapter.swift
Labels: iOS

#8091 In app language can become wrong
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
Labels: Android

#8093 Update changelog for android 2025.3
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8088 Support windows, linux and macos in setup-rust
  BuildInstructions.md
  scripts/setup-rust
  scripts/setup-rust-post-checkout
Labels: Android

#8095 Port android 2025.3 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android
