Repository mullvad/mullvadvpn-app, pull requests merged in 2025-06, with the labels that each got.

#8269 Port android app 2025.4 to main
  android/CHANGELOG.md
  dist-assets/android-version-code.txt
  dist-assets/android-version-name.txt
Labels: Android

#8284 Fix "test screenshots" test result uploading
  .github/workflows/ios-screenshots-tests.yml
  ios/Configurations/UITests.xcconfig.template
Labels: iOS

#8286 Listen for all network events to fix missing default network events
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/talpid/util/ConnectivityManagerUtilKtTest.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
Labels: Android

#8293 Fix connectivity manager util tests
  android/app/src/androidTest/kotlin/net/mullvad/mullvadvpn/talpid/util/ConnectivityManagerUtilKtTest.kt
  android/lib/talpid/src/main/kotlin/net/mullvad/talpid/util/ConnectivityManagerUtil.kt
Labels: Android

#8282 Move api access method test call to mullvad api ios 1195
  ios/MullvadMockData/MullvadREST/APIProxy+Stubs.swift
  ios/MullvadREST/ApiHandlers/RESTAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIHandlers/MullvadAPIProxy.swift
  ios/MullvadREST/MullvadAPI/APIRequest/APIRequest.swift
  ios/MullvadREST/MullvadAPI/MullvadApiRequestFactory.swift
  ios/MullvadRustRuntime/MullvadConnectionModeProvider.swift
  ios/MullvadRustRuntime/include/mullvad_rust_runtime.h
  ios/MullvadTypes/PersistentAccessMethod.swift
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTester.swift
  ios/MullvadVPN/AccessMethodRepository/ProxyConfigurationTesterProtocol.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/APIAccess/Edit/EditAccessMethodInteractor.swift
  mullvad-ios/src/api_client/api.rs
  mullvad-ios/src/api_client/response.rs
Labels: iOS

#8298 Fix disabled button text color
  ios/MullvadVPN/UI appearance/Color+Mullvad.swift
Labels: iOS

#8280 Implement quick access design
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AppRoutes.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/IPOverride/IPOverrideCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/Multihop/MultihopSettingsCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/SettingsViewControllerFactory.swift
  ios/MullvadVPN/Coordinators/TunnelCoordinator.swift
  ios/MullvadVPN/Coordinators/VPNSettingsCoordinator.swift
  ios/MullvadVPN/View controllers/Settings/SettingsHeaderView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipContainerView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipModel.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipViewModelProtocol.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
  ios/MullvadVPN/View controllers/Tunnel/TunnelViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSCoordinator.swift
  ios/MullvadVPN/View controllers/VPNSettings/CustomDNSViewController.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsDataSource.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
Labels: iOS

#8283 Clean up workspace deps and promote nix
  Cargo.lock
  Cargo.toml
  mullvad-cli/Cargo.toml
  mullvad-daemon/Cargo.toml
  mullvad-exclude/Cargo.toml
  mullvad-jni/Cargo.toml
  mullvad-leak-checker/Cargo.toml
  mullvad-leak-checker/src/traceroute/unix/linux.rs
  mullvad-management-interface/Cargo.toml
  talpid-core/Cargo.toml
  talpid-net/Cargo.toml
  talpid-routing/Cargo.toml
  talpid-routing/src/unix/macos/routing_socket.rs
  talpid-time/Cargo.toml
  talpid-tunnel/src/tun_provider/android/mod.rs
  talpid-tunnel/src/tun_provider/unix.rs
  talpid-wireguard/Cargo.toml
  talpid-wireguard/src/boringtun/mod.rs
  talpid-wireguard/src/mtu_detection.rs
  talpid-wireguard/src/wireguard_go/mod.rs
  talpid-wireguard/src/wireguard_kernel/parsers.rs
  talpid-wireguard/src/wireguard_kernel/wg_message.rs
  test/Cargo.lock
  test/Cargo.toml
  tunnel-obfuscation/Cargo.toml
  tunnel-obfuscation/src/shadowsocks.rs
Labels: Daemon

#8323 Fix ios ui tests after quick access buttons
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
Labels: iOS

#8328 Bump container sdk to 36
  android/docker/Dockerfile
Labels: Android

#8270 Combine DAITA and Multihop to one pill when smart routing is active
  ios/MullvadREST/Relay/RelayPicking/SinglehopPicker.swift
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITAMultihopNotice.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/DAITATunnelSettingsViewModel.swift
  ios/MullvadVPN/Coordinators/Settings/DAITA/SettingsDAITAView.swift
  ios/MullvadVPN/View controllers/InAppPurchase/InAppPurchaseViewController.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
  ios/MullvadVPN/View controllers/RelayFilter/ChipViewCell.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ChipView/ChipFeature.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/FeatureIndicatorsViewModel.swift
  ios/MullvadVPN/View controllers/VPNSettings/VPNSettingsViewController.swift
  ios/MullvadVPN/Views/List/MullvadList.swift
  ios/MullvadVPNUITests/Pages/TunnelControlPage.swift
  ios/MullvadVPNUITests/RelayTests.swift
  ios/PacketTunnel/PacketTunnelProvider/PacketTunnelProvider.swift
  ios/PacketTunnelCoreTests/MultiHopEphemeralPeerExchangerTests.swift
Labels: iOS

#8343 Remove google pay icon
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/PlayPayment.kt
  android/lib/resource/src/main/res/drawable/google_pay_primary_logo_logo_svgrepo_com.xml
Labels: Android

#8344 Sort split tunneling apps in the correct order
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelState.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/SplitTunnelingViewModelTest.kt
Labels: Android

#8348 Update changelog for `android/2025.5-beta1`
  android/CHANGELOG.md
  android/src/main/play/release-notes/en-US/default.txt
Labels: Android

#8330 Add QUIC/Masque fields and Features structure to ServerRelay
  ios/MullvadMockData/MullvadREST/ServerRelaysResponse+Stubs.swift
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadRESTTests/ServerRelayTests.swift
  ios/MullvadVPN/RelayCacheTracker/RelayCacheTracker.swift
  ios/MullvadVPN/View controllers/RelayFilter/FilterDescriptor.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
Labels: iOS

#8338 Enable opt-in to MTE async mode
  android/app/src/main/AndroidManifest.xml
Labels: Android

#8352 Update changelog
  ios/CHANGELOG.md
  ios/Configurations/Version.xcconfig
Labels: iOS

#8317 Use AlarmManager for notifications
  android/CHANGELOG.md
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/MullvadApplication.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/AppModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/di/UiModule.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/AutoStartVpnBootCompletedReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/NotificationAlarmReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/ScheduleNotificationBootCompletedReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/receiver/TimeChangedReceiver.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/repository/UserPreferencesRepository.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/ui/MainActivity.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryNotificationActionUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/usecase/ScheduleNotificationAlarmUseCase.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/util/ContextExtensions.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModel.kt
  android/app/src/main/proto/user_prefs.proto
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/AccountExpiryNotificationProviderTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/data/Extensions.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/AccountExpiryInAppNotificationUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/usecase/OutOfTimeUseCaseTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/LoginViewModelTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/WelcomeViewModelTest.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/ManagementService.kt
  android/lib/daemon-grpc/src/main/kotlin/net/mullvad/mullvadvpn/lib/daemon/grpc/mapper/ToDomain.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/AccountData.kt
  android/lib/model/src/main/kotlin/net/mullvad/mullvadvpn/lib/model/Notification.kt
  android/lib/shared/src/main/kotlin/net/mullvad/mullvadvpn/lib/shared/AccountRepository.kt
  android/service/build.gradle.kts
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/di/VpnServiceModule.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiry.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryAndroidNotification.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryConstant.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationProvider.kt
  android/service/src/main/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/InAppAccountExpiryTicker.kt
  android/service/src/test/kotlin/net/mullvad/mullvadvpn/service/notifications/accountexpiry/AccountExpiryNotificationTriggerTest.kt
  android/test/mockapi/src/main/kotlin/net/mullvad/mullvadvpn/test/mockapi/AccountExpiryMockApiTest.kt
Labels: Android

#8357 Update android dependencies
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/repository/CustomListsRepositoryTest.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/CustomListsViewModelTest.kt
  android/gradle/libs.versions.toml
  android/gradle/verification-keyring.keys
  android/gradle/verification-metadata.keys.xml
  android/gradle/verification-metadata.xml
  android/test/e2e/build.gradle.kts
Labels: Android

#8350 Add device management view
  ios/CHANGELOG.md
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Classes/AccessbilityIdentifier.swift
  ios/MullvadVPN/Coordinators/AccountCoordinator.swift
  ios/MullvadVPN/Coordinators/ApplicationCoordinator.swift
  ios/MullvadVPN/Coordinators/LoginCoordinator.swift
  ios/MullvadVPN/Extensions/Image+Assets.swift
  ios/MullvadVPN/Extensions/View+Modifier.swift
  ios/MullvadVPN/UI appearance/Color+Mullvad.swift
  ios/MullvadVPN/View controllers/Account/AccountDeviceRow.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceListView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementContentView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementInteractor.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementView.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManagementViewController.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceManaging.swift
  ios/MullvadVPN/View controllers/DeviceList/DeviceRowView.swift
  ios/MullvadVPN/Views/ClearBackgroundView.swift
  ios/MullvadVPN/Views/List/MullvadListActionItemView.swift
  ios/MullvadVPN/Views/MullvadAlert.swift
  ios/MullvadVPN/Views/MullvadProgressViewStyle.swift
  ios/MullvadVPNUITests/AccountTests.swift
  ios/MullvadVPNUITests/Pages/AccountPage.swift
  ios/MullvadVPNUITests/Pages/DeviceManagementPage.swift
Labels: iOS

#8359 Disable add time button when app is in blocked state
  ios/MullvadVPN/TunnelManager/TunnelState.swift
  ios/MullvadVPN/View controllers/Account/AccountInteractor.swift
  ios/MullvadVPN/View controllers/Account/AccountViewController.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeContentView.swift
  ios/MullvadVPN/View controllers/OutOfTime/OutOfTimeViewController.swift
Labels: iOS

#8368 Update RelaySelector to handle extra addresses
  ios/MullvadMockData/MullvadREST/ServerRelaysResponse+Stubs.swift
  ios/MullvadREST/ApiHandlers/ServerRelaysResponse.swift
  ios/MullvadREST/Relay/ObfuscatorPortSelector.swift
  ios/MullvadREST/Relay/RelaySelectorWrapper.swift
  ios/MullvadRESTTests/ServerRelayTests.swift
  ios/MullvadVPNTests/MullvadREST/Relay/RelaySelectorTests.swift
  ios/MullvadVPNTests/MullvadSettings/IPOverrideWrapperTests.swift
Labels: iOS

#8389 Fix bad fd on android when using boringtun
  talpid-wireguard/src/boringtun/mod.rs
Labels: Android

#8388 Update translations
  android/lib/resource/src/main/res/values-da/strings.xml
  android/lib/resource/src/main/res/values-de/strings.xml
  android/lib/resource/src/main/res/values-es/strings.xml
  android/lib/resource/src/main/res/values-fi/strings.xml
  android/lib/resource/src/main/res/values-fr/strings.xml
  android/lib/resource/src/main/res/values-it/strings.xml
  android/lib/resource/src/main/res/values-ja/strings.xml
  android/lib/resource/src/main/res/values-ko/strings.xml
  android/lib/resource/src/main/res/values-my/strings.xml
  android/lib/resource/src/main/res/values-nb/strings.xml
  android/lib/resource/src/main/res/values-nl/strings.xml
  android/lib/resource/src/main/res/values-pl/strings.xml
  android/lib/resource/src/main/res/values-pt/strings.xml
  android/lib/resource/src/main/res/values-ru/strings.xml
  android/lib/resource/src/main/res/values-sv/strings.xml
  android/lib/resource/src/main/res/values-th/strings.xml
  android/lib/resource/src/main/res/values-tr/strings.xml
  android/lib/resource/src/main/res/values-zh-rCN/strings.xml
  android/lib/resource/src/main/res/values-zh-rTW/strings.xml
  android/translations-converter/src/normalize.rs
  desktop/packages/mullvad-vpn/locales/da/messages.po
  desktop/packages/mullvad-vpn/locales/da/relay-locations.po
  desktop/packages/mullvad-vpn/locales/de/messages.po
  desktop/packages/mullvad-vpn/locales/de/relay-locations.po
  desktop/packages/mullvad-vpn/locales/es/messages.po
  desktop/packages/mullvad-vpn/locales/es/relay-locations.po
  desktop/packages/mullvad-vpn/locales/fi/messages.po
  desktop/packages/mullvad-vpn/locales/fi/relay-locations.po
  desktop/packages/mullvad-vpn/locales/fr/messages.po
  desktop/packages/mullvad-vpn/locales/fr/relay-locations.po
  desktop/packages/mullvad-vpn/locales/it/messages.po
  desktop/packages/mullvad-vpn/locales/it/relay-locations.po
  desktop/packages/mullvad-vpn/locales/ja/messages.po
  desktop/packages/mullvad-vpn/locales/ja/relay-locations.po
  desktop/packages/mullvad-vpn/locales/ko/messages.po
  desktop/packages/mullvad-vpn/locales/ko/relay-locations.po
  desktop/packages/mullvad-vpn/locales/my/messages.po
  desktop/packages/mullvad-vpn/locales/my/relay-locations.po
  desktop/packages/mullvad-vpn/locales/nb/messages.po
  desktop/packages/mullvad-vpn/locales/nb/relay-locations.po
  desktop/packages/mullvad-vpn/locales/nl/messages.po
  desktop/packages/mullvad-vpn/locales/nl/relay-locations.po
  desktop/packages/mullvad-vpn/locales/pl/messages.po
  desktop/packages/mullvad-vpn/locales/pl/relay-locations.po
  desktop/packages/mullvad-vpn/locales/pt/messages.po
  desktop/packages/mullvad-vpn/locales/pt/relay-locations.po
  desktop/packages/mullvad-vpn/locales/ru/google_play.po
  desktop/packages/mullvad-vpn/locales/ru/messages.po
  desktop/packages/mullvad-vpn/locales/ru/relay-locations.po
  desktop/packages/mullvad-vpn/locales/sv/messages.po
  desktop/packages/mullvad-vpn/locales/sv/relay-locations.po
  desktop/packages/mullvad-vpn/locales/th/messages.po
  desktop/packages/mullvad-vpn/locales/th/relay-locations.po
  desktop/packages/mullvad-vpn/locales/tr/messages.po
  desktop/packages/mullvad-vpn/locales/tr/relay-locations.po
  desktop/packages/mullvad-vpn/locales/zh-CN/messages.po
  desktop/packages/mullvad-vpn/locales/zh-CN/relay-locations.po
  desktop/packages/mullvad-vpn/locales/zh-TW/messages.po
  desktop/packages/mullvad-vpn/locales/zh-TW/relay-locations.po
Labels: Android

#8395 Enable alpha publishing of prod app
  android/app/build.gradle.kts
  android/build.sh
Labels: Android

#8398 Add MTE flag to changelog
  android/CHANGELOG.md
Labels: Android

#8394 Cleanup AddTimeBottomSheet behavior
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/compose/component/AddTimeBottomSheet.kt
  android/app/src/main/kotlin/net/mullvad/mullvadvpn/viewmodel/AddTimeViewModel.kt
  android/app/src/test/kotlin/net/mullvad/mullvadvpn/viewmodel/AddTimeViewModelTest.kt
Labels: Android
