Repository mullvad/mullvadvpn-app, pull requests merged in 2025-10, with the labels that each got.

#8844 Fix login spinner weirdness on large sizes
  ios/MullvadVPN/Views/StatusActivityView.swift
Labels: iOS

#8879 Fix bug where relay pickers would mix obfuscations when creating relay configs
  ios/MullvadREST/Relay/RelayPicking/MultihopPicker.swift
  ios/MullvadREST/Relay/RelayPicking/SinglehopPicker.swift
Labels: bug, iOS

#8890 Enable quic in the relay selector for android
  mullvad-relay-selector/src/relay_selector/mod.rs
  mullvad-relay-selector/tests/relay_selector.rs
Labels: Android

#8876 Improve the quick setting tile
  android/app/src/main/AndroidManifest.xml
  android/tile/src/main/kotlin/net/mullvad/mullvadvpn/tile/MullvadTileService.kt
Labels: Android

#8884 Move ConnectionView place/server indicators into scroll view
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/ConnectionView.swift
  ios/MullvadVPN/View controllers/Tunnel/ConnectionView/HeaderView.swift
Labels: iOS

#8980 Fix alert popups not expanding on iOS26
  ios/MullvadREST/Assets/relays.json
  ios/MullvadVPN/View controllers/Alert/AlertViewController.swift
Labels: bug, iOS

#8970 Rewrite revoked device view in SwiftUI
  ios/MullvadREST/Assets/relays.json
  ios/MullvadVPN.xcodeproj/project.pbxproj
  ios/MullvadVPN/Coordinators/RevokedCoordinator.swift
  ios/MullvadVPN/UI appearance/Color+Mullvad.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceInteractor.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceView.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewController.swift
  ios/MullvadVPN/View controllers/RevokedDevice/RevokedDeviceViewModel.swift
Labels: iOS

#8981 Clean up nixpkgs protoc
  android/flake.lock
  android/flake.nix
Labels: Android
